.dark-mode {
    background: #121212 !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #D2DEEF !important;
    }

    p {
        color: #A6B1C4;
    }

    .header-area {
        border-bottom: 1px solid #1A1A1A !important;
        background: #0D0D0D !important;
    }

    .header-area .navbar-nav .nav-item .nav-link {
        color: #66768E !important;
    }

    .header-area .navbar-nav .nav-item .nav-link.active {
        color: #fff !important;
    }

    .header-area .navbar-nav .nav-item .submenu-box {
        border: 1px solid #1A1A1A !important;
        background: #0D0D0D !important;
        box-shadow: 0px 12px 16px 4px rgba(37, 45, 52, 0.10), 0px 0px 2px 0px rgba(37, 45, 52, 0.20) !important;
    }

    .header-area .navbar-nav .nav-item .submenu-box li a {
        color: #66768E !important;
    }

    .header-area .d-flex a.bttn {
        border: 1px solid #1A1A1A !important;
        background: #0D0D0D !important;
    }

    .header-area .d-flex a.bttn span {
        border-color: #E74956;
    }

    .header-area .d-flex a.bttn img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    }

    .header-area .d-flex .btn.avatar img {
        outline-color: #7289FF;
        border-color: #0D0D0D;
        background-color: #0D0D0D;
    }

    .total-client-box {
        border: 1px solid #1A1A1A !important;
        background: #0D0D0D !important;
        box-shadow: 0px 12px 16px 4px rgba(37, 45, 52, 0.10), 0px 0px 2px 0px rgba(37, 45, 52, 0.20) !important;
    }

    .header-area .dropdown-menu {
        border: 1px solid #1A1A1A !important;
        background: #0D0D0D !important;
        box-shadow: 0px 12px 16px 4px rgba(37, 45, 52, 0.10), 0px 0px 2px 0px rgba(37, 45, 52, 0.20) !important;
    }

    .header-area .dropdown-menu .dropdown-item {
        color: #66768E !important;
    }

    .total-client-box h4 {
        color: #D2DEEF !important;
    }

    .course-status-wrap,
    .top-performing-course,
    .earnings-chart-wrap {
        border: 1px solid #1A1A1A !important;
        background: #0D0D0D !important;
        box-shadow: 0px 12px 16px 4px rgba(37, 45, 52, 0.10), 0px 0px 2px 0px rgba(37, 45, 52, 0.20) !important;
    }

    .top-performing-course .d-flex a {
        color: #fff !important;
    }

    .course-status-wrap .d-flex,
    .course-lists .media h5 {
        a {
            color: #fff !important;
        }
    }

    .course-status-wrap table tr td {
        background: #0D0D0D !important;
        border-color: #0D0D0D !important;

        p {
            color: #D2DEEF !important;
        }
    }

    .course-status-wrap table tr th {
        background-color: #161616 !important;
    }

    .user-title-box h1 {
        color: #C5CCD8 !important;

        span {
            color: #7289FF;
        }
    }

    .form-select,
    .user-search-box-wrap .form-group .form-control {
        border: 1px solid var(--others-dark-stroke, #1A1A1A) !important;
        background: #0D0D0D !important;
        color: #fff !important;
    }

    .user-add-box button,
    .user-add-box a {
        background: var(--others-dark-mode-btn, #7289FF);
    }

    .user-grid-box {
        border: 1px solid #1A1A1A !important;
        background: #0D0D0D !important;
        box-shadow: 0px 12px 16px 4px rgba(37, 45, 52, 0.10), 0px 0px 2px 0px rgba(37, 45, 52, 0.20) !important;
    }

    .user-grid-box .btn-ellipse {
        background: rgba(145, 158, 171, 0.08);
    }

    .user-grid-box h4 {
        color: #D2DEEF !important;
    }

    .user-grid-box h5 {
        color: #66768E !important;
    }

    .user-grid-box a {
        background: rgba(25, 25, 25, 0.50) !important;
        color: #7289FF !important;
    }

    .header-action .dropdown-menu {
        border: 1px solid #1A1A1A !important;
        background: #0D0D0D !important;
        box-shadow: 0px 12px 16px 4px rgba(37, 45, 52, 0.10), 0px 0px 2px 0px rgba(37, 45, 52, 0.20) !important;
    }

    .dark-mode-bttn {
        background-color: #0D0D0D !important;
        border: 2px solid #1A1A1A !important;
        box-shadow: 0px 12px 16px 4px rgba(37, 45, 52, 0.10), 0px 0px 2px 0px rgba(37, 45, 52, 0.20) !important;
    }

    .user-search-box-wrap .form-filter .form-control {
        border: 1px solid rgba(145, 158, 171, 0.32) !important;
        background: #0D0D0D !important;
        color: #fff;
        border: 1px solid #1A1A1A !important;
    }

    .package-list-header {
        background-color: #0D0D0D !important;
    }

    .package-list-header .form-group .form-control {
        background: #0D0D0D !important;
    }

    .package-list-header .form-filter .form-control {
        background: #0D0D0D !important;
    }

    .common-bttn {
        background: #7289FF;
    }

    .subscription-table-wrap table tr th {
        background-color: #161616;
    }

    .subscription-table-wrap table tr td {
        border-bottom: 1px solid #1E222A;
        background: #0D0D0D;
    }

    .subscription-table-wrap table tr td h5 {
        color: #C9D3DE !important;
    }

    .subscription-table-wrap table tr td p {
        color: #C9D3DE !important;
    }

    .subscription-table-wrap table tr td span {
        background: #0E2C1C !important;
        color: #00C562 !important;
    }

    .package-list-header .form-filter .form-control {
        color: #C9D3DE !important;
    }

    .user-add-form-wrap {
        border: 1px solid var(--others-dark-stroke, #1A1A1A) !important;
        background: #0D0D0D !important;
        box-shadow: 0px 1px 2px 0px rgba(145, 158, 171, 0.16) !important;


        form {
            .form-group {
                label {
                    color: #C5CCD8 !important;
                }

                .form-control {
                    border: 1px solid var(--others-dark-stroke, #1A1A1A) !important;
                    background: #0D0D0D !important;
                    color: #fff !important;
                }
            }

            .custom-hr h5 {
                color: #D2DEEF !important;
            }
        }
    }

    #image-container .upload-box span {
        border: 1px dashed rgba(145, 158, 171, 0.32) !important;
        background-color: #161616 !important;
    }

    .form-submit-bttns {
        .btn-submit {
            border: 1px solid #7289FF !important;
            background: #7289FF;
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
            color: #0D0D0D !important;

            &:hover {
                color: #fff !important;
            }
        }

        .btn-cancel {
            border: 1px solid #313A49 !important;
            background: #0D0D0D !important;
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
        }
    }

    .user-add-form-wrap form .custom-hr hr,
    .user-add-form-wrap form .form-group .mce-tinymce.mce-container.mce-panel {
        background-color: transparent !important;
    }

    .user-header-bttn a {
        background: #7289FF !important;
    }

    .package-list-header .form-group .form-control {
        color: #fff !important;
    }

    .package-list-header {
        border: 1px solid var(--others-dark-stroke, #1A1A1A) !important;
        background: #0D0D0D !important;
    }

    .subscription-package-form {
        border: 1px solid var(--others-dark-stroke, #1A1A1A) !important;
        background: #0D0D0D !important;
        box-shadow: 0px 12px 16px 4px rgba(37, 45, 52, 0.10), 0px 0px 2px 0px rgba(37, 45, 52, 0.20) !important;

        .form-group .form-control {
            border: 1px solid var(--others-dark-stroke, #1A1A1A) !important;
            background: #0D0D0D !important;
            color: #fff !important;
        }
    }

    .subscription-package-form form .form-group #feature_increment {
        background: #131313 !important;
        color: #7289FF !important;
    }

    .course-single-item {
        border: 1px solid var(--others-dark-stroke, #1A1A1A) !important;
        background: #0D0D0D !important;
        box-shadow: 0px 12px 16px 4px rgba(37, 45, 52, 0.10), 0px 0px 2px 0px rgba(37, 45, 52, 0.20) !important;
    }

    .course-single-item .course-thumb-box .header-action {
        background-color: #7289FF !important;
    }

    .course-single-item .course-txt-box a {
        color: #D2DEEF !important;
    }

    .header-action .dropdown-menu li .dropdown-item {
        color: #D2DEEF !important;

        &:hover {
            background-color: #1A1A1A !important;
        }
    }

    .course-single-item .course-txt-box h5 {
        color: #D2DEEF !important;
    }

    .top-card-box,
    .related-course-box,
    .course-outline-wrap,
    .download-files-box,
    .content-txt-box {
        border: 1px solid var(--others-dark-stroke, #1A1A1A) !important;
        background: #0D0D0D !important;
    }

    .download-files-box .files a {
        border: 1px solid var(--neutral-color-neutral-70, #2F3A4C) !important;
        background: #171717 !important;
        color: #7289FF !important;
    }

    .light-ele {
        display: none !important;
    }

    .dark-ele {
        display: block !important;
    }

    .user-profile-picture {
        border: 1px solid var(--others-dark-stroke, #1A1A1A) !important;
        background: #0D0D0D !important;
    }

    .user-profile-picture .media {
        background-color: transparent;
    }

    .edit-profile {
        color: #7289FF !important;
        border-color: #7289FF !important;
    }

    .edit-profile:hover {
        background-color: #7289FF !important;
        color: #fff !important;
    }

    .user-details-box {
        border: 1px solid var(--others-dark-stroke, #1A1A1A) !important;
        background: #0D0D0D !important;
    }

    .contact-info-box {
        border: 1px solid var(--others-dark-stroke, #1A1A1A) !important;
        background: #0D0D0D !important;
    }

    .contact-info-box .media .media-body a {
        color: #7289FF !important;
    }

    .contact-info-box .media i {
        color: #d7def4 !important;
    }

    .contact-info-box .media img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%) !important;
    }

    .profile-update-page .form-group i,
    .lesson-create-page .form-group i,
    .module-update-page .form-group i,
    .module-create-page .form-group i {
        color: #d7def4 !important;
    }

    .fas.fa-bars.ms-4 {
        color: #d7def4 !important;
    }

    .mce-content-body {
        background: #eeeeee !important
    }

    .header-action {
        .dropdown {
            i {
                color: #66768E !important;
            }
        }
    }

    .paggination-wrap .pagination .page-item .page-link {
        color: #d7def4 !important;
    }

    .paggination-wrap .pagination .page-item.active .page-link {
        border-radius: 3.125rem !important;
        background: rgba(145, 158, 171, 0.16) !important;
    }

    .alert.alert-success {
        background: #60c296 !important;
        color: #fff !important;
    }

    .course-progress-content,
    .course-progress-circle,
    .my-courses-box,
    .status-card-box {
        border: 1px solid var(--others-dark-stroke, #1A1A1A) !important;
        background: #0D0D0D !important;
        box-shadow: 0px 12px 16px 4px rgba(37, 45, 52, 0.10), 0px 0px 2px 0px rgba(37, 45, 52, 0.20) !important;
    }

    .status-card-box .d-flex span {
        background: rgba(114, 233, 79, 0.60) !important;
        color: #fff !important;

        img {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%) !important;
        }
    }

    .time-chart-select {
        color: #fff !important;

        option {
            color: #0D0D0D !important;
        }
    }

    .profile-widget-history {
        background: #131313 !important;
    }

    .course-status-wrap table tr td a {
        color: #fff !important;
    }

    .course-status-wrap table tr td .media p {
        color: #637381 !important;
    }

    .course-progress-content {
        ul {
            li {
                color: #d7def4 !important;
            }
        }
    }

    .course-status-wrap table tr td {
        .progress {
            background: rgba(101, 119, 255, 0.24) !important;

            .progress-bar {
                background: #C3C7E8 !important;
            }
        }
    }

    .student-courses-lists-pages .course-ol-box {
        border: 1px solid var(--others-dark-stroke, #1A1A1A) !important;
        background: #0D0D0D !important;
        box-shadow: 0px 12px 16px 4px rgba(37, 45, 52, 0.10), 0px 0px 2px 0px rgba(37, 45, 52, 0.20) !important;
    }

    .student-courses-lists-pages .course-ol-box ul li {
        color: #d7def4 !important;
    }

    .student-courses-lists-pages .course-ol-box .btn,
    .student-courses-lists-pages .course-ol-box a {
        background-color: #7289FF !important;
    }

    .course-review-wrap .media.course-review-input-box input {
        color: #fff !important;
    }

    .what-you-learn-box ul {
        border: 1px solid var(--others-dark-stroke, #1A1A1A) !important;
        background: #0D0D0D !important;
        box-shadow: 0px 12px 16px 4px rgba(37, 45, 52, 0.10), 0px 0px 2px 0px rgba(37, 45, 52, 0.20) !important;

        li {
            color: #C5CCD8 !important;
        }
    }

    .course-outline-wrap .accordion .accordion-item button,
    .course-outline-wrap .accordion .accordion-item {
        background-color: transparent !important;
        border-color: #2C2C2C !important;
    }

    .course-rev-box p,
    .course-outline-wrap .accordion .accordion-item .lesson-wrap a {
        color: #d7def4 !important;
    }

    .course-rev-box {
        border: 1px solid #2C2C2C !important;
        background: #0D0D0D !important;
    }

    .course-overview-right-part {
        border: 1px solid var(--others-dark-stroke, #1A1A1A) !important;
        background: #0D0D0D !important;
        box-shadow: 0px 12px 16px 4px rgba(37, 45, 52, 0.10), 0px 0px 2px 0px rgba(37, 45, 52, 0.20) !important;
    }

    .course-overview-right-part .course-main-thumb .enrol-bttn {
        background-color: #7289FF !important;
        color: #0D0D0D !important;
    }

    .course-review-wrap .media.course-review-input-box input,
    .course-overview-right-part .course-desc-txt {
        border-color: #2C2C2C;
    }

    .course-overview-right-part .course-details-txt p,
    .course-overview-right-part .course-desc-txt p {
        color: #d7def4;

        img {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
        }
    }

    .student-courses-lists-pages .course-progress-bar .progress .progress-bar {
        background: var(--error-red-light, #ED5763) !important;
    }

    .student-courses-lists-pages .course-progress-bar .d-flex {
        h6 {
            color: #ED5763 !important;
        }
    }

    .user-add-box button,
    .user-add-box a {
        color: #0D0D0D !important;

        &:hover {
            color: #fff !important;
        }
    }

    .subscription-table-wrap table tr td a {
        background: transparent !important;
        color: #fff !important;
        border-radius: 50% !important;
    }


    .subscription-table-wrap.filter-image table tr td a {
        border-radius: 10% !important;
        background: rgba(174, 182, 240, 0.10) !important;


        img {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%) !important;
        }
    }

    .completed {
        color: #12AE60 !important;
    }

    .message-list-page-wrap .messages-box .chat-person-list-box,
    .message-list-page-wrap .messages-box {
        border-color: #313A49 !important;
        box-shadow: 0px 12px 16px 4px rgba(37, 45, 52, 0.10), 0px 0px 2px 0px rgba(37, 45, 52, 0.20) !important;
        background: #0D0D0D !important;
        border-radius: 1rem 0 0 0;
    }

    .message-list-page-wrap .messages-box .chat-person-list-box .search input {
        border-color: #171717 !important;
        background-color: transparent !important;
        color: #fff;
    }

    .message-list-page-wrap .messages-box .chat-person-list-box .search {
        border-color: #171717 !important;
    }

    .message-list-page-wrap .messages-box .chat-person-list-box .person-tab-body .media:hover {
        background-color: #171717 !important;
    }

    .student-messages-page .messages-box .chat-main-body-box .main-chat-room .chat-messages-box .message-item {
        color: #D2DEEF !important;
        background-color: #121212 !important;
    }

    .message-list-page-wrap .messages-box .chat-person-list-box .person-tab-body .media {
        border-bottom: #171717 !important;
    }

    .message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room {
        border-color: #66768E !important;
    }

    .message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .chat-messages-box .reciver {
        background: #121212 !important;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10) !important;

        p {
            color: #d7def4 !important;
        }
    }

    .message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .chat-messages-box .sender {
        background: #E8EBFB !important;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10) !important;
    }

    .message-list-page-wrap .messages-box .chat-main-body-box .message-send-box input {
        border: 1px solid var(--others-dark-stroke, #1A1A1A) !important;
        background: #0D0D0D !important;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
        color: #fff !important;
    }

    .message-list-page-wrap .messages-box .chat-main-body-box .message-send-box .btn-prm {
        background-color: #7289FF !important;
        color: #0D0D0D !important;
        border-radius: 0.375rem !important;
    }

    .enroll-course-list .list-wrap {
        border: 1px solid var(--others-dark-stroke, #1A1A1A) !important;
        background: #0D0D0D !important;

        th {
            border-bottom: 1px solid var(--others-dark-stroke, #1A1A1A) !important;
            background: #171717 !important;
        }
    }

    .enroll-course-list .list-wrap table tr td span {
        background: #1E382A !important;
        color: #06CA68 !important;
    }

    .enroll-course-list .list-wrap table tr td a {
        color: #7289FF !important;
    }


    .student-profile-update-page .own-profile-box .custom-padding .profile-picture-box,
    .student-profile-update-page .own-profile-box {
        border: 1px solid #262626 !important;
        background: #0D0D0D !important;
        box-shadow: 0px 12px 16px 4px rgba(37, 45, 52, 0.10), 0px 0px 2px 0px rgba(37, 45, 52, 0.20) !important;
    }

    .student-profile-update-page .own-profile-box .header .nav .nav-item .active.nav-link {
        color: #fff !important;
        border-color: #7289FF !important;
    }

    .student-profile-update-page .own-profile-box .custom-padding .profile-picture-box .form-check label {
        color: #d7def4 !important;
    }

    .student-profile-update-page .own-profile-box .custom-padding .profile-picture-box h6 {
        color: #637381 !important;
    }

    .profile-text-box .form-floating label {
        color: #C9D3DE !important;
    }

    .profile-text-box .form-floating .form-control {
        background-color: transparent !important;
        border-color: #919EAB !important;
        color: #C9D3DE !important;
    }

    .user-add-form-wrap-2 {
        background-color: transparent !important;
        border: 0 !important;
        box-shadow: none !important;
    }

    .user-search-box-wrap .form-group i {
        color: #d7def4 !important;
    }

    .course-description-box p {
        color: #A6B1C4 !important;
    }

    .course-details p {
        color: #DADADA;

        img {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
        }
    }

    .course-details {
        border-color: #2C2C2C;
    }

    .course-modules-boxx {
        border: 1px solid #2C2C2C;
        background: #0D0D0D;
    }

    .course-modules-boxx .text-center {
        a {
            color: #d7def4 !important;
        }
    }

    .course-modules-boxx ul li span {
        color: #d7def4 !important;
    }

    // instructor css
    .recent-payment-box,
    .welcome-back-box {
        border: 1px solid #262626 !important;
        background: #0D0D0D !important;
        box-shadow: 0px 12px 16px 4px rgba(37, 45, 52, 0.10), 0px 0px 2px 0px rgba(37, 45, 52, 0.20) !important;
    }

    .bundle-create-bttn .btn,
    .lesson-files-upload .close-icon,
    .welcome-back-box .progress .progress-bar {
        background-color: #7289FF !important;
    }

    .welcome-back-box .d_flex span {
        color: #d7def4;
    }

    .bundle-create-inputs .input-group label,
    .bundle-create-inputs .form-group label,
    .recent-payment-box .payment-box p {
        color: #d7def4;
    }

    .recent-payment-box .payment-box a {
        color: #7289FF !important;
    }

    .recent-update-box .media {
        border-color: #262626 !important;
    }

    .user-add-form-wrap form .form-group label,
    .chart-box-wrap {
        border: 1px solid var(--others-dark-stroke, #1A1A1A) !important;
        background: #0D0D0D !important;
        box-shadow: 0px 1px 2px 0px rgba(145, 158, 171, 0.16) !important;
    }

    .select-bundle-title .btn {
        background: #1E1E1E !important;
        color: #d7def4 !important;

        img {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%) !important;
        }
    }

    .bundle-create-form-wrap {
        border-top: 1px solid var(--others-dark-stroke, #1A1A1A) !important;
        background: #0D0D0D !important;
    }

    .selected-bundle-courses-wrap {
        background: #161616 !important;
    }

    .bundle-create-inputs .input-group .form-control,
    .bundle-create-inputs .form-group .form-control {
        border: 1px solid #2C2C2C!important;
        background: #0D0D0D!important;
        color: #fff!important;
    }

    .bundle-create-inputs .input-group .input-group-text, .bundle-create-inputs .form-group .input-group-text{
        border-color: #2C2C2C!important;
        color: #fff!important;
    }

    .header-area .navbar-nav .nav-item .submenu-box li a:hover{
        background-color: #131313!important;
    }

    .user-add-box button img, .user-add-box a img{
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(319deg) brightness(102%) contrast(101%)!important;
        transition: all linear .3s;
    }
    .user-add-box button img, .user-add-box a:hover img{
        filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(171deg) brightness(93%) contrast(105%)!important;
    }

    .subscription-table-wrap table tr td,
    .enroll-course-list .list-wrap table tr td{
        color: #d7def4!important;
    }

    .earning-table{
        border-color: #2C2C2C!important;
        box-shadow: none!important;
    }
}

































.dark-mode-bttn {
    z-index: 999999;
    max-height: 75px;
    max-width: 42px;
    min-height: 75px;
    min-width: 36px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #d7def4;
    border-radius: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 6px;
    display: flex;
    position: fixed;
    top: 50%;
    bottom: auto;
    left: auto;
    right: 2%;

    label {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
        background-color: #fff;
        transition: ease-in-out .3s;
        cursor: pointer;

        i {
            color: #66768E;
        }
    }

    label.active {
        background-color: #294CFF;
        transition: ease-in-out .3s;

        i {
            color: #fff;
        }
    }
}

.dark-mode-bttn {
    border-color: rgb(215, 222, 244);
    background-color: rgb(255, 255, 255);
}

body {
    .dark-mode-bttn {
        label {
            &:first-child {
                background-color: #294CFF !important;
            }

            &:last-child {
                background-color: transparent !important;
            }
        }
    }
}

body.dark-mode {
    .dark-mode-bttn {
        label {
            &:first-child {
                background-color: transparent !important;

                i {
                    color: #66768E;
                }
            }

            &:last-child {
                background-color: #7289FF !important;

                i {
                    color: #fff;
                }
            }
        }
    }
}