@use './util/variabls' as v;
@use './util/mixin' as m;
@use './util/media-query' as q;

.addspy-banner-wrap {
    @include m.box(2rem 3rem, .7rem, #1F1F1F);
    margin-top: 2rem;

    .media {
        align-items: center;

        .media-body {
            .addspy-main-title {
                @include m.para(3rem, 500, v.$light);

                span {
                    color: v.$secondary;
                }
            }

            p {
                @include m.para(1rem, 400, v.$light);
                margin-bottom: 1rem;
            }

            a {
                @include m.button(1rem, v.$light, v.$primary);
                border-radius: 3rem;

                &:hover {
                    background: v.$orang; 
                }
            }
        }
    }
}

.wining-product-wrapper {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    h4 {
        @include m.para(1.4rem, 400, v.$dark);
        @include m.df;
        margin-bottom: 1rem;

        img {
            margin-right: 0.6rem;
        }
    }

    .wining-product-head {
        @include m.df(space-between);

        ul {
            @include m.df;

            li {
                a {
                    @include m.button(1rem, v.$fourth, v.$light);
                    border: 1px solid v.$border;
                    border-radius: 3rem;
                    margin-right: 1rem;

                    &:hover {
                        background: v.$dark;
                        color: v.$light;
                    }
                }

                a.active {
                    background: v.$dark;
                    color: v.$light;
                }
            }
        }

        .banner-arrow-box {
            @include m.df;

            a {
                width: 3.4rem;
                height: 3.4rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background: v.$light;
                border: 1px solid v.$border;
                border-radius: 3rem;
                color: v.$fourth;
                font-size: 1.2rem;
                margin-left: 1rem;

                &:hover {
                    background: v.$dark;
                    color: v.$light;
                }
            }
        }
    }

    .wining-products-box {
        margin-top: 1.5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.wining-product-item {
    @include m.box(.6rem, .7rem, v.$light);
    margin-right: .7rem;
    @include m.df(space-between);
    flex-direction: column;
    margin: 0.7rem;

    .wining-product-thumbnail {
        position: relative;

        img {
            display: block;
            width: 100%;
        }

        .player-img {
            position: absolute;
            bottom: 0;
            left: 0;
            padding-right: 1rem;
            display: none;
        }
    }

    .wining-product-txt {
        padding: .4rem 0;
        width: 95%;
        h5 {
            @include m.para(1.3rem, 500, v.$dark);
            margin-bottom: 0.7rem;
        }

        ul {
            @include m.df(space-between); 
            width: 100%; 

            li {
                a {
                    @include m.df;
                    margin-right: 0.8rem;

                    .fa-regular {
                        font-size: 1.2rem;
                        margin-right: 0.4rem;
                        color: v.$fourth;

                        &:hover {
                            color: v.$primary;
                        }
                    }

                    img {
                        margin-right: 0.4rem;
                        width: 1.2rem;
                    }
                }
            }
        }
    }
}

.discover-potential-wrap {
    margin: 1rem 0;

    h4 {
        @include m.para(1.4rem, 400, v.$dark);
        @include m.df;
        margin-bottom: 1rem;

        img {
            margin-right: 0.6rem;
        }
    }
}


.potential-item-box {
    @include m.box(.8rem 1.2rem, 0.7rem, v.$light);
    @include m.df(space-between);
    margin-bottom: 1rem;

    .media {
        align-items: center;

        img {
            margin-right: 1rem;
        }

        .media-body {
            h6 {
                @include m.para(1.2rem, 600, v.$dark);

            }

            p {
                @include m.para(1rem, 400, v.$fourth);
            }
        }

        .fa-angle-right {
            margin-left: 1rem;
            font-size: 1.2rem;
            color: v.$fourth;
        }
    }

    h6 {
        @include m.para(1.2rem, 400, v.$dark);
        @include m.df;

        img {
            margin-right: 0.7rem;
        }

        span {
            color: v.$secondary;
            margin-right: 0.4rem;
        }
    }
}

.verify-email-item {
    position: relative;

    .verify-email-boxs {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        background-color: #1f1f1fe5;
        border-radius: .7rem;
        display: flex;
        align-items: center;
        justify-content: center;

        h6 {
            @include m.para(1.2rem, 400, v.$light);
        }
    }
}

.addspy-banner-two {
    margin-bottom: 2rem;
    background: v.$grn;

    .addspy-main-title {
        span {
            font-weight: 700 !important;
            color: v.$light !important;
            font-style: italic !important;
        }
    }

    .media {
        .media-body {
            a {
                background: v.$light !important;
                color: v.$grn !important;
                font-weight: 600;

                &:hover {
                    background: v.$dark !important;
                    color: v.$light !important;
                }
            }
        }
    }
}

// addspy dashboard css @S
.addspy-dash-head {
    margin-bottom: 2rem;

    h1 {
        @include m.para(2.4rem, 700, v.$dark);

        span {
            color: v.$secondary;
        }
    }

    p {
        @include m.para(1rem, 400, v.$dark);
    }
}

.discover-personalized-list {
    margin-bottom: 2rem;

    .media {
        img {
            margin-right: 1rem;
        }

        h5 {
            @include m.para(1.4rem, 600, v.$dark);
        }

        p {
            @include m.para(1rem, 400, v.$secondary);
            text-decoration: underline;
            margin-top: 0.3rem;
        }
    }

    a.bttns {
        @include m.button(1rem, v.$light, v.$gdbg);
        border-radius: 3rem;

        &:hover {
            opacity: .7;
        }

        i {
            margin-left: 0.4rem;
        }
    }
}

.personalized-list-box {
    @include m.box(1.4rem, .625rem, v.$light);

    .d-flex {
        @include m.df(space-between);
        margin-bottom: 2rem;
    }

    h5 {
        @include m.para(1.4rem, 600, v.$dark);
    }

    p {
        @include m.para(1rem, 500, v.$dark);
        margin-top: .4rem;
    }
}

.add-head {
    p {
        @include m.para(1rem, 400, v.$secondary);
        text-decoration: underline;
    }
}

.addspy-first-list {
    @include m.box(1.2rem 2rem, 0.625rem, v.$light);
    margin-top: 1.5rem;
    display: none;
    transition: all linear .3s;

    .d-flex {
        padding-bottom: 1rem;
        border-bottom: 1px solid v.$border;
        @include m.df(space-between);

        h6 {
            @include m.para(1.3rem, 500, v.$dark);
        }

        a {
            @include m.para(1rem, 500, #FFC2C2);
            @include m.df;

            img {
                margin-left: .4rem;
            }
        }
    }
}

.list-active {
    transition: all linear .3s;
    display: block !important;
}

.adspy-filter-box {
    margin-top: 1rem;
    @include m.df(flex-start);

    input {
        border: 0;
        font-size: 1rem;
        max-width: 8rem;
    }

    h6 {
        @include m.para(1rem, 600, v.$dark);
        margin-right: 1.3rem;
    }

    p {
        @include m.para(1rem, 400, v.$dark);
        @include m.df;
        margin-right: .5rem;

        img {
            margin-right: 0.4rem;
        }
    }

    select {
        @include m.para(1rem, 400, v.$dark);
        border: 0;
        background: transparent;
        margin-right: 0.8rem;
    }
}

.quick-query {
    margin: 1.5rem 0;
    @include m.df;

    h6 {
        @include m.para(1rem, 600, v.$dark);
        margin-right: 1.5rem;
    }

    a {
        @include m.button(1rem, v.$fourth, v.$light);
        border-radius: 2.5rem;
        border: 1.5px solid v.$border;
        margin-right: 1rem;

        &:hover {
            background: v.$gdbg;
            color: v.$light;
        }

        &:last-child {
            background: transparent;
            color: v.$primary;
            border: 0;
            @include m.df;

            img {
                margin-right: 0.4rem;
            }
        }
    }
}

.addspy-multi-select {
    margin: 1.5rem 0;
    @include m.df(space-between);

    .d-flex {
        @include m.df(space-between);

        h6 {
            @include m.para(1rem, 600, v.$dark);
            margin-right: 2rem;
        }

        p {
            @include m.para(1rem, 400, v.$fourth);
            margin-right: 3rem;
        }
    }

    a {
        @include m.button(1rem, v.$primary, transparent);
        border-radius: 2.5rem;
        border: 1px solid v.$primary;
        padding: .6rem 2rem;

        img {
            margin-right: 0.6rem;
        }

        i {
            margin-left: 0.4rem;
        }

        &:hover {
            background: v.$primary;
            color: v.$light;

            img {
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
            }
        }
    }

    .multiple-sort {
        position: relative;

        img {
            position: absolute;
            left: 1rem;
            top: 13px;
        }

        select {
            @include m.button(1rem, v.$primary, transparent);
            border-radius: 2.5rem;
            border: 1px solid v.$primary;
            padding: .6rem 3rem;
            appearance: none;

            option {
                color: v.$dark;
            }
        }

        i {
            position: absolute;
            right: 1rem;
            top: 13px;
            color: v.$primary;
        }
    }

    .form-check-input:checked {
        background-color: v.$primary;
        border-color: v.$primary;
    }
}

.adspy-filter-product {
    .wining-product-txt {
        h3 {
            @include m.para(1.3rem, 700, v.$dark);
            margin: 1rem 0;
            text-align: center;
        }

        ul {
            @include m.df(space-between);

            li {
                a {
                    font-weight: 600;
                }
            }
        }

        table {
            width: 100%;

            tr {
                td {
                    @include m.para(.85rem, 500, v.$dark);
                    padding: .5rem 0;

                    &:last-child {
                        text-align: right;
                    }
                }
            }
        }
    }

    .wining-product-thumbnail {
        img.main-img {
            display: block;
            width: 100%;
        }
    }
}

.adspy-filter-product-bttns {
    a {
        display: block;
        width: 100%;
        margin-top: 0.8rem;
        @include m.button(1rem, v.$fourth, v.$light);
        border-radius: 2.5rem;
        border: 1.5px solid v.$border;
        text-align: center;

        &:hover {
            background: v.$gdbg;
            color: v.$light;
        }

        &:last-child {
            background: v.$gdbg;
            color: v.$light;

            &:hover {
                opacity: .7;
            }
        }
    }
}

// details page css @S
.about-add-box-wrap {
    @include m.box(1rem, .7rem, v.$light);
    border: 1px solid v.$third;

    .social-site {
        display: inline-block;
        margin-right: 0.3rem;

        i.facebook-messenger,
        i.fa-facebook {
            color: v.$blu;
        }

        i.fa-instagram {
            color: v.$primary;
        }

        i.fa-twitter {
            color: v.$secondary;
        }

        i.fa-whatsapp {
            color: v.$grn;
        }
    }

    .d-flex {
        justify-content: space-between;
        align-items: center;

        a {
            color: v.$fourth;
            font-size: 1rem;
        }
    }

    .media {
        align-items: center;

        img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            border: 3px solid v.$primary;
            margin-right: 1rem;
        }

        .media-body {
            h6 {
                @include m.para(1.2rem, 500, v.$dark);
                margin-bottom: 0.2rem;
            }

            p {
                @include m.para(0.8rem, 400, v.$fourth);
            }
        }
    }

    .details {
        margin: 1rem 0;

        p {
            @include m.para(0.9rem, 400, v.$fourth);

            a {
                color: v.$blu;
            }
        }
    }

    .ads-thumbnail-wrap {
        img {
            display: block;
            width: 100%;
            border: 1px solid v.$third;
            border-radius: 0.725rem;
        }
    }

    .ads-slider-wrap {
        position: relative;

        .add-slider-arrows {
            a {
                position: absolute;
                top: 50%;
                justify-content: center;
                background: v.$gdbg;
                color: v.$light;
                width: 2rem;
                height: 2rem;
                border-radius: .2rem;
                display: inline-flex;
                align-items: center;
                z-index: 1;
                transform: translateY(-50%);

                &:first-child {
                    left: 0.5rem;
                }

                &:last-child {
                    right: 0.5rem;
                }

                i {
                    font-size: 1rem;
                }
            }
        }

        .add-slider {
            .slider-item{
                display: block;
                width: 100%;
            }
        }

    }

    .ads-video-wrap {
        video {
            border-radius: 0.7rem; 
        }
    }

    .ads-ftr-cta-bttn {
        margin-top: 0.5rem;

        a {
            @include m.para(0.9rem, 500, v.$fourth);
        }

        h6 {
            @include m.para(1rem, 500, v.$fourth);
            margin: 0.4rem 0;
        }

        p {
            @include m.para(1rem, 400, v.$newbrdr);
            margin-bottom: 0.5rem;
        }

        a.cta-button {
            display: block;
            width: 100%;
            margin-top: 0.8rem;
            @include m.button(1rem, v.$light, v.$btnbg);
            border-radius: 2.5rem;
            border: 1.5px solid v.$third;
            text-align: center;

            &:hover {
                background: v.$gdbg;
                color: v.$light;
            }
        }
    }
}


.about-page-header-wrap {
    @include m.box(1.5rem, .7rem, v.$light);
    border: 1px solid v.$third;

    .d-flex {
        justify-content: space-between;
        align-items: center;

        a {
            color: v.$fourth;
            font-size: 1.4rem;
        }
    }

    .media {
        align-items: center;

        img {
            width: 4.5rem;
            height: 4.5rem;
            border-radius: 50%;
            border: 3px solid v.$primary;
            margin-right: 1rem;
        }

        .media-body {
            h5 {
                @include m.para(1.3rem, 500, v.$dark);
                margin-bottom: 0.2rem;
            }

            h6 {
                @include m.para(1rem, 400, v.$fourth);
            }
        }
    }

    .page-details-wrap {
        margin-top: 0.4rem;
        margin-left: 1rem;

        .social-site {
            i {
                font-size: 3rem;
                margin-right: 1.7rem;
                color: v.$blu;
            }

            .fa-instagram {
                color: v.$primary;
            }
        }

        .media-body {
            p {
                @include m.para(0.9rem, 500, v.$btnbg);
                margin-bottom: 0.5rem;

                i {
                    font-size: 0.91rem;
                    margin-right: 0.4rem;
                    color: v.$fourth;
                }
            }
        }
    }
}

.page-more-info {
    padding-top: 0.6rem;
    margin-top: 0.6rem;
    border-top: 1px solid v.$third;
    margin-bottom: 1rem;

    ul {
        li {
            margin: .65rem 0;
            @include m.df;

            i {
                font-size: 0.4rem;
                color: v.$third;
                margin-right: 0.7rem;
            }
        }
    }

    h4 {
        @include m.para(1.2rem, 600, v.$btnbg);
        margin-bottom: 0.1rem;
    }

    p {
        @include m.para(0.9rem, 400, v.$fourth);

        span {
            color: v.$btnbg;
            font-weight: 500;
        }
    }
}

#ad-container {
    .col-lg-4 {
        margin-bottom: 1rem;
    }
}

.customselect-wrap {
    .btn.dropdown-toggle {
        background: transparent;
        border: 0;
        color: #000 !important;
    }

    .bs-searchbox {
        margin: 5px;
        border: 1px solid v.$border;
        padding: 0;
    }
}

.adspy-facebook-page-wrap {
    position: relative; 

    .save-to-project-modal {
        z-index: 9;
        position: fixed; 
        margin-left: 130px;
        .saveto-modal-txt {
            margin: 0 auto;
            margin-top: 10rem;
        }
    }
}

.main-page-width{
    .save-to-project-modal {
        margin-left: 22px!important;
    }
}

.list-video-wrapper{
    height: auto;
    .control--volume__slider{
        width: 62px!important;
    }
    i {
        font-size: 16px;
        color:  v.$light!important;
      }
    .progress:before{
        height: 10px!important;
        background: v.$gdbg!important;
    }
}

.adspy-head-bttn{
    text-align: right;
    a {
        @include m.button(1rem, v.$light, v.$gdbg);
        border-radius: 3rem;

        &:hover {
            opacity: .7;
        } 
    }
}

// responsive css @S
@include q.responsive(phone) {
    .wining-product-wrapper .wining-products-box {
        grid-template-columns: 1fr;
    }
    .adspy-facebook-page-wrap .save-to-project-modal{
        margin-left: 0;
    }
    .save-to-project-modal .saveto-modal-txt{
        max-width: 100%;
    }
    .adspy-facebook-page-wrap{
        padding: 0.5rem!important;
        padding-top: 6rem!important;
    }

    .about-add-box-wrap {
        margin-bottom: 1.5rem;
    }
    .addspy-multi-select, .quick-query{
        margin: 1.5rem 0!important;
    }

    .about-page-header-wrap {
        padding: 1rem;
    }

    .addspy-multi-select .d-flex{
        width: 100%;
        margin-bottom: 1rem;
    }

    .about-page-header-wrap .d-flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .about-page-header-wrap .media .media-body h5 {
        font-size: 1.1rem;
    }

    .about-page-header-wrap .d-flex a {
        display: none;
    }

    .about-page-header-wrap .page-details-wrap {
        margin-left: 0;
    }
    .main-page-width{
        .save-to-project-modal {
            margin-left: 0px!important;
        }
    }
}

@include q.responsive(landphone) {
    .wining-product-wrapper .wining-products-box {
        grid-template-columns: 1fr;
    }
    .adspy-facebook-page-wrap .save-to-project-modal{
        margin-left: 0;
    }
    .save-to-project-modal .saveto-modal-txt{
        max-width: 100%;
    }
    .adspy-facebook-page-wrap{
        padding: 0.5rem!important;
        padding-top: 6rem!important;
    }

    .about-add-box-wrap {
        margin-bottom: 1.5rem;
    }
    .addspy-multi-select, .quick-query{
        margin: 1.5rem 0!important;
    }

    .about-page-header-wrap {
        padding: 1rem;
    }

    .addspy-multi-select .d-flex{
        width: 100%;
        margin-bottom: 1rem;
    }
    .main-page-width{
        .save-to-project-modal {
            margin-left: 0px!important;
        }
    }
}

@include q.responsive(tablet) {
    .wining-product-wrapper .wining-products-box {
        grid-template-columns: 1fr 1fr;
    }
    .main-page-width{
        .save-to-project-modal {
            margin-left: 0px!important;
        }
    }
    .adspy-facebook-page-wrap .save-to-project-modal{
        margin-left: 0;
    }
    .save-to-project-modal .saveto-modal-txt{
        max-width: 50%;
    }
}

@include q.responsive(landtablet) {
    .wining-product-wrapper .wining-products-box {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .save-to-project-modal .saveto-modal-txt{
        max-width: 60%;
    }
}