@use './util/variabls' as v;
@use './util/mixin' as m;
@use './util/media-query' as q;

// login css start

.login-section {
    padding-top: 8rem;
}

.login-form-wrap {
    width: 100%;
    height: max-content;
    padding: 1.2rem 2rem;
    max-width: 410px;
    background: v.$light;
    box-shadow: 0px 2px 8px 5px v.$third;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 30px;

    h1 {
        @include m.para(1.6rem, 500, v.$btnbg);
        margin-bottom: 1rem;
    }

    .form-group {
        margin-bottom: 0.8rem;
        position: relative;

        label {
            @include m.para(1rem, 400, v.$btnbg);
            margin-bottom: 8px;
        }

        .form-control {
            @include m.para(1rem, 400, v.$btnbg);
        }

        i {
            position: absolute;
            right: 20px;
            top: 41.5px;
            cursor: pointer;
        }
    }

    .form-check label {
        @include m.para(0.9rem, 400, v.$btnbg);
        margin-bottom: 0;
    }

    .d-flex {
        align-items: center;
        margin: 1.2rem 0;

        a {
            @include m.para(0.9rem, 400, v.$primary);
        }
    }

    .form-check-input {
        border: 1px solid v.$btnbg;

        &:checked {
            background-color: v.$btnbg;
            border-color: v.$btnbg;
        }
    }

    .form-bttn .btn-submit {
        display: block;
        width: 100%;
        text-align: center;
        @include m.button(1rem, v.$light, v.$gdbg);

        &:hover {
            background: v.$gdbg;
        }
    }

    .login-logo-wrap p {
        @include m.para(0.8rem, 500, v.$btnbg);
        margin-top: 1rem;
    }

    h5 {
        @include m.para(1rem, 400, v.$btnbg);
        margin-bottom: 1.5rem;
    }
}

.form-aggree {
    margin-bottom: 1.5rem 0 1rem;

    label.form-check-label {
        @include m.para(0.8rem, 400, v.$btnbg);
        margin-left: 12px;
    }

    label a {
        color: v.$btnbg;
        text-decoration: underline;
    }
}

.login-header-section .header-logo-wrap {
    margin-bottom: 0;
}

.registerr {
    color: v.$primary;
}

/* login css end */

// subscription-css @S
.subscription-section {
    margin-bottom: 2rem;
    .subscription-header {
        margin-top: 7rem;
        text-align: center;
        margin-bottom: 2rem;

        h1 {
            @include m.para(2.4rem, 700, v.$btnbg);
            line-height: 120%
        }

        p {
            @include m.para(0.9rem, 400, v.$menuclr);
            width: 75%;
            margin: 0 auto;
            margin-top: 0.5rem;
        }
    }

    .plan-tab-head {
        margin-bottom: 1.6rem;
        .nav {
            justify-content: center;

            .nav-item {
                .nav-link {
                    border: 2px solid v.$primary;
                    border-radius: 1px;
                    @include m.para(1rem, 500, v.$primary);
                }

                .nav-link.active {
                    background: v.$gdbg;
                    color: v.$light;
                }
            }
        }
    }

    .subscription-plan-box {
        text-align: center;
        width: 80%;
        height: max-content;
        padding: 2rem 2rem;
        max-width: 410px;
        background: v.$light;
        box-shadow: 0px 2px 8px 5px v.$border;
        border-radius: 7px;
        margin: 0 auto; 

        .plan-header {
            h4 {
                @include m.para(1.2rem, 500, v.$primary);
                text-transform: uppercase; 
            }
        }

        .plan-body { 
            h5.plan-title {
                margin: .8rem 0;
                @include m.para(2.5rem, 700, v.$btnbg);
                span{
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            } 

            ul {
                text-align: left;
                li {
                    margin-bottom: 0.6rem;
                     @include m.para(0.9rem, 400, v.$btnbg);
                    i {
                        font-size: 1rem;
                        color: v.$primary;
                        margin-right: 0.3rem;
                    } 
                }
                li.na{ 
                    i{
                        color: v.$fourth; 
                    }
                    sup{
                        font-size: .66rem;
                        color: v.$fourth; 
                    }
                }
            }
        }

        .plan-footer {
            margin-top: 1.5rem;
            a.plan-btn{
                display: block;
                width: 80%;
                margin: 0 auto;
                text-align: center;
                border: 2px solid v.$gdbg;
                padding: .6rem 1rem;
                border-radius: 2px;
                @include m.para(0.9rem, 500, v.$primary);
                transition: all linear .2s;
                &:hover{
                    background: v.$gdbg;
                    color: v.$light;
                }
            }
        }
    }
}
// subscription-css @E

// responsive css @S
@include q.responsive(phone) {
    .login-section {
        padding-top: 6rem;
    }
    .subscription-section .subscription-header {
        h1{
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 100%;
        }
        p{
            width: 100%;
            display: none;
        }
    }
    .subscription-section .subscription-plan-box {
        width: 90%;
    }
    .subscription-section .subscription-plan-box .plan-body h5.plan-title{
        font-size: 2rem;
    }
    br{
        display: none;
    }
}