@use './util/variabls' as v;
@use './util/mixin' as m;
@use './util/media-query' as q;

.instructor-chart-page-wrap{
    width: 100%;

    .top-date-box{
        text-align: right;
        .date-box{
            display: inline-block;
            background-color: v.$light;
            padding: .3rem 1rem;
            border-radius: .4rem;
            cursor: pointer;
        }
        
    } 

    .stat-card{
        @include m.box(1rem,.5rem,v.$light);
        margin-bottom: 1.5rem;
        .media{
            align-items: center;
            i{
                font-size: 2rem;
                color: v.$secondary;
            }
            h4{
                @include m.para(1.2rem,600,v.$fourth);
            }
            h3{
                @include m.para(1.8rem,600,v.$btnbg);
            }
        } 
    } 

    .box{
        border-radius: 0.5rem;
    }

    .dashboard-table{
        margin-top: 1.5rem;
        @include m.box(1.5rem,.5rem,v.$light);
        h5{
            @include m.para(1.2rem,600,v.$btnbg);
            margin-bottom: 1rem;
        }
        table{
            width: 100%;
            tr{
                th{
                    @include m.para(.9rem,600,v.$fourth);
                    padding-bottom: 0.5rem;
                }
                td{
                    @include m.para(.9rem,500,v.$btnbg);
                    padding: .6rem .2rem;
                    border-top: 1px dashed v.$fourth;
                    border-bottom: 1px dashed v.$fourth;
                }
            }
        }
    }
}

// responsive 

@include q.responsive(phone) {
    .top-date-box{
        margin-top: 1rem;
    }
    .box{
        margin-bottom: 1rem;
    }
    .instructor-chart-page-wrap .dashboard-table{
        padding: 1rem;
        table{
            width: 100%;
            display: block;
            overflow-x: scroll;
            tr{
                th,
                td{
                    white-space: nowrap;
                    padding-right: 1rem;
                }
            }
        }
    }
}
@include q.responsive(landphone) {
    .top-date-box{
        margin-top: 1rem;
    }
    .box{
        margin-bottom: 1rem;
    }
    .instructor-chart-page-wrap .dashboard-table{
        padding: 1rem; 
    }
}
@include q.responsive(tablet) {
    .top-date-box{
        margin-top: 1rem;
    }
    .box{
        margin-bottom: 1rem;
    }
    .instructor-chart-page-wrap .dashboard-table{
        padding: 1rem; 
    }
}
@include q.responsive(landtablet) {
    
}
@include q.responsive(regular) {
    
}