@use './util/variabls' as v;
@use './util/mixin' as m;
@use './util/media-query' as q;

.email-camping-head {
    h1 {
        @include m.para(2.5rem, 700, v.$menuclr);

        span {
            background: linear-gradient(98.03deg, #FF6262 18.68%, #F37F14 88.52%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }

    h5 {
        @include m.para(1.3rem, 600, v.$menuclr);
        margin-top: 0.3rem;
    }
}

.e-camping-video-wrap {
    margin-top: 1.5rem;
    margin-bottom: 2rem;

    .e-video-box {
        position: relative;

        .main-thumb {
            border-radius: 0.625rem;
            img{
                display: block;
                width: 100%;
            }
        }

        .player-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            img {
                width: 5rem;
            }
        }
    }
}

// emaiul camp one/two css @S
.email-camping-head-bttn {
    @include m.df(space-between);
    margin-top: 1rem;
    margin-bottom: 2rem;

    ul {
        @include m.df;

        li {
            a {
                @include m.button(1rem, v.$fourth, v.$light);
                border: 1px solid v.$border;
                border-radius: 3rem;
                margin-right: 1rem;

                &:hover {
                    background: v.$dark;
                    color: v.$light;
                }
            }

            a.active {
                background: v.$dark;
                color: v.$light;
            }
        }
    }
}

.e-todo-head {
    margin-bottom: 1.5rem;

    h3 {
        @include m.df;
        @include m.para(1.3rem, 600, v.$menuclr);

        img {
            margin-right: 0.4rem;
        }
    }
}

.growth-form-box {
    @include m.box(1.5rem, 0.625rem, v.$light);

    h4 {
        @include m.para(2.5rem, 700, v.$menuclr);
        margin-bottom: 1rem;
    }

    p {
        @include m.para(1rem, 600, v.$menuclr);
        margin-bottom: 1rem;
    }

    a {
        @include m.button(1.2rem, v.$light, v.$gdbg);
        border-radius: 2rem;
        @include m.df;
        display: inline-flex;

        img {
            margin-left: 0.4rem;
        }

        &:hover {
            opacity: .7;
        }
    }
}

.preview-box-placeholder {
    @include m.box(1rem, 0.625rem, v.$light);

    .image-placeholder {
        height: 8rem;
        background: v.$third;
        margin-bottom: 0.5rem;
    }

    .small-image-placeholder {
        height: 1rem;
        background: v.$third;
        margin-bottom: 0.5rem;
        width: 85%;
    }

    .text-placeholder {
        height: 3rem;
        border: 1px solid v.$third;
        margin-top: 0.8rem;
        border-radius: 3rem;
    }

    .button-placeholder {
        height: 3.2rem;
        background: v.$third;
        margin-top: 0.8rem;
        border-radius: 3rem;
    }

    .placeholder-txt {
        text-align: center;
        margin-top: 0.6rem;

        p {
            @include m.para(1.34rem, 600, v.$third);
        }
    }
}

.growth-main-form {
    @include m.box(1rem, 0.625rem, v.$light);

    .form-group {
        margin-bottom: 1rem;

        label {
            @include m.para(.9rem, 500, v.$menuclr);
            margin-bottom: 0.5rem;
        }

        .form-control {
            @include m.para(1rem, 500, v.$menuclr);
            border-color: v.$fourth;
        }

        textarea {
            resize: none;
        }
    }

    .file-upload-box {
        background: v.$third;
        padding: 3rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input {
            opacity: 0;
            height: 0;
        }

        img {
            width: 3rem;
        }
    }

    .submit-bttn {
        .btn-submit {
            @include m.button(1.2rem, v.$light, v.$primary);
            border-radius: 2rem;
            @include m.df(center);
            width: 100%;

            img {
                margin-left: 0.4rem;
            }

            &:hover {
               background-color: v.$orang
            }
        }
    }
}

.preview-main-box {

    @include m.box(1rem, 0.625rem, v.$light);

    .prevview-thumbnail-box {
        img {
            display: block;
            width: 100%;
        }
    }

    .preview-txt-box {
        margin-top: 2rem;

        h4 {
            @include m.para(2.5rem, 700, v.$menuclr);
            margin-bottom: 0.8rem;
        }

        h6 {
            @include m.para(1.4rem, 600, v.$menuclr);
        }

        .form-control {
            @include m.para(1rem, 500, v.$menuclr);
            border-color: v.$fourth;
            height: 3rem;
            margin: 1rem 0;
        }

        .btn-submit {
            @include m.button(1.2rem, v.$light, v.$blu);
            border-radius: 2rem;
            box-shadow: 3px 22px 50px -2px rgba(121, 120, 130, 0.15);
            width: 100%;
            text-align: center;

            &:hover {
                opacity: .7;
            }
        }
    }
}

// emaiul camp one/two css @E

// emaiul camp three css @S
.email-camp-search {
    margin-top: 1rem;
    margin-bottom: 2rem;
    position: relative;

    select {
        position: absolute;
        left: 19px;
        top: 50%;
        border: none;
        background: transparent;
        transform: translateY(-50%);

        option {
            font-size: 1rem;
            padding: .3rem .5rem;
        }
    }

    img {
        position: absolute;
        top: 50%;
        left: 21rem;
        transform: translateY(-50%);
        width: 1rem;
    }

    .form-control {
        padding-left: 17rem !important;
    }
}

.e-camp-sort-bttn {
    a {
        @include m.button(1rem, v.$primary, transparent);
        border-radius: 2.5rem;
        border: 1px solid v.$primary;
        padding: .7rem 2rem;

        img {
            margin-right: 0.6rem;
        }

        i {
            margin-left: 0.4rem;
        }

        &:hover {
            background: v.$primary;
            color: v.$light;

            img {
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
            }
        }
    }
}

.camping-empty-box-wrap {
    margin-top: 1.5rem;
    @include m.box(2rem, 0.625rem, v.$light);

    .camping-empty-txt {
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 4rem;

        h5 {
            @include m.para(1.4rem, 700, v.$menuclr);
            margin: .7rem 0;
        }

        p {
            @include m.para(0.82rem, 700, v.$fourth);
            margin-bottom: 0.8rem;
        }

        a {
            @include m.button(1rem, v.$light, v.$gdbg);
            border-radius: 3rem;

            &:hover {
                opacity: .7;
            }
        }
    }
}

// emaiul camp three css @E

// email cmap eight eight css @S
.bookmark-box-wrap {
    margin-bottom: 1.5rem;

    ul {
        @include m.df;

        li {
            margin-right: 0.4rem;

            span {
                @include m.para(1rem, 500, v.$fourth)
            }

            i {
                @include m.para(1rem, 0, v.$menuclr)
            }

            a {
                @include m.para(1rem, 500, v.$menuclr)
            }
        }
    }
}

.multi-email-sms-box {
    @include m.box(0.5rem, 0.625rem, v.$light);
    margin-bottom: 1.5rem;

    .sms-img-thumbnail {
        img {
            display: block;
            width: 100%;
            border-radius: 0.625rem;
        }
    }

    .sms-txt-box {
        padding: 1rem;
        padding-bottom: 0;

        h4 {
            @include m.para(1.15rem, 700, v.$menuclr);
        }

        p {
            @include m.para(0.9rem, 400, v.$fourth);
            margin-top: .6rem;
        }

        .sms-buttons {
            margin-top: 0.4rem;

            .btn-popup {
                @include m.button(1rem, v.$fourth, transparent);
                border: 1px solid v.$fourth;
                border-radius: 3rem;
                padding: .2rem 1rem;
            }
        }
    }
}

// email cmap eight eight css @E

// email cmap nine css @S
.list-segment-search-filter-wrap {
    display: grid;
    grid-template-columns: 60% 20% 20%;

    .list-segment-filter {
        margin-left: 0.6rem;
    }

    .list-segment-filter,
    .list-segment-search {
        position: relative;

        .form-control {
            background-color: v.$light;
            border-radius: 3rem;
            height: 3rem;
            padding-left: 1rem;
            @include m.para(1rem, 500, v.$menuclr);
        }

        i,
        img {
            position: absolute;
            right: 1rem;
            top: .8rem;
        }
    }
}

.segment-list-box {
    @include m.box(1rem, 0.625rem, v.$light);
    margin-bottom: 1.5rem;

    .d-flex {
        margin-bottom: .5rem;
        align-items: center;
        justify-content: space-between;

        i {
            font-size: 1.5rem;
            color: v.$secondary
        }

        h4 {
            @include m.para(1.15rem, 700, v.$menuclr);
            display: inline-flex;
            align-items: center;

            input {
                margin-right: 0.4rem;
            }
        }
    }

    h6 {
        @include m.para(0.9rem, 400, v.$fourth);
        line-height: 150%;
    }

    .segment-author-info {
        @include m.df(space-between);
        margin: .5rem 0;

        p {
            @include m.para(0.9rem, 400, v.$menuclr);
        }
    }

    .segment-box-ftr {
        @include m.df(space-between);
        margin-top: 0.4rem;

        a {
            &:first-child {
                @include m.button(1rem, v.$fourth, transparent);
                border: 1px solid v.$fourth;
                border-radius: 3rem;
                padding: .2rem 1rem;
            }
        }
    }
}

.segment-all-check {
    margin: 1.8rem 0;

    label {
        display: flex;
        align-items: center;

        input {
            margin-right: .4rem;
        }

        p {
            @include m.para(0.9rem, 400, v.$menuclr);
        }
    }
}

// email cmap nine css @E

// email camp ten css @S
.search-template-bttn {
    margin-left: 1rem;

    a {
        display: block;
        text-align: center;
        width: 100%;
    }

    a.showcase-bttn {
        @include m.button(.9rem, v.$menuclr, v.$light);
        border-radius: 2rem;
        font-weight: 500;

        img {
            margin-right: 0.2rem;
        }
    }

    a.template-bttn {
        @include m.button(.9rem, v.$light, v.$gdbg);
        border-radius: 2rem;
    }
}

.e-camp-template-box {
    @include m.box(1rem, 0.625rem, v.$light);
    margin-top: 1.5rem;

    .media {
        margin-bottom: 1rem;
        align-items: center;

        .media-body {
            h6 {
                @include m.para(.8rem, 700, v.$secondary);
            }

            h5 {
                @include m.para(1rem, 700, v.$menuclr);
                margin-top: 0.2rem;
            }
        }
    }

    p {
        @include m.para(.9rem, 400, v.$fourth);
        display: flex;
        align-items: center;
        margin-top: 0.4rem;

        img {
            width: 1rem;
            margin-right: 0.4rem;
        }
    }
}

// email camp ten css @E


// email camp twleve css @S
.addcard-box-wrap {
    @include m.df(flex-end);

    p {
        @include m.para(.9rem, 400, v.$fourth);
    }

    a.add-card-bttn {
        @include m.button(1rem, v.$light, v.$btnbg);
        border-radius: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;

        &:hover {
            background: v.$fourth;
            color: v.$menuclr;
        }
    }
}

.date-range-filter {
    display: grid;
    grid-template-columns: 40% 50%;
    align-items: center;
    margin-top: 2rem;

    p {
        @include m.para(1.15rem, 400, v.$menuclr);
        margin-right: 1rem;
    }

    .date-filter-select {
        position: relative;

        .form-control {
            background-color: v.$light;
            border-radius: 3rem;
            height: 3rem;
            padding-left: 1rem;
            border: none;
            @include m.para(1rem, 500, v.$menuclr);
        }

        img {
            position: absolute;
            left: 1rem;
            top: 1rem;
        }

        i {
            position: absolute;
            right: 1rem;
            top: .8rem;
        }
    }

}

.conversational-summary-box-wrap {
    @include m.box(0, .625rem, v.$light);
    margin-top: 1.5rem;

    .conv-sammary-head {
        @include m.df(space-between);
        padding: .9rem 1.2rem;
        border-bottom: 1px solid v.$border;

        h5 {
            @include m.para(1.25rem, 600, v.$btnbg);
        }
    }

    .conv-summary-txt {
        padding: 2rem;
        text-align: center;

        h4 {
            @include m.para(1.4rem, 600, v.$btnbg);
            margin: 1rem 0;
        }

        p {
            @include m.para(.8rem, 700, v.$fourth);
            margin-bottom: 1rem;
        }

        a {
            @include m.button(1rem, v.$light, v.$btnbg);
            border-radius: 3rem;
            padding-left: 2rem;
            padding-right: 2rem;
            margin-left: 1rem;
            margin-right: 1rem;

            &:hover {
                background: v.$fourth;
                color: v.$menuclr;
            }
        }
    }
}

// email camp twleve css @E

// email camp thirteen css @S
.email-camp-integration-page {
    position: relative;
}

.integration-head-wrap {
    background: v.$light;
    padding-top: 1rem;
    position: absolute;
    right: 0;
    top: 5rem;
    width: 100%;
    padding-left: 265px!important;

    .nav {
        .nav-item {
            .nav-link {
                @include m.para(.8rem, 600, v.$fourth);
                border-radius: 0;
                padding-bottom: 0.8rem;
            }

            .nav-link.active {
                background: transparent;
                color: v.$primary;
                border-bottom: 2px solid v.$primary;
            }
        }
    }
}

.main-page-width {
    .integration-head-wrap{
        padding-left: 6rem!important;
        transition: all linear .2s;
    }
}
.integration-top-margin {
    margin-top: 3rem;
}

.integration-filter-box {
    h6 {
        @include m.para(1.2rem, 600, v.$btnbg);
        margin-bottom: 0.6rem;
    }

    .integrate-filter-select {
        position: relative;

        .form-control {
            background-color: v.$light;
            border-radius: 3rem;
            height: 3rem;
            padding-left: 1rem;
            border: none;
            @include m.para(1rem, 500, v.$menuclr);
        }

        img,
        i {
            position: absolute;
            right: 1rem;
            top: .8rem;
        }
    }
}

.integration-box-wrap {
    @include m.box(1.4rem, 0.625rem, v.$light);
    @include m.df(space-between);
    margin-top: 1.5rem;

    .media {
        align-items: center;

        img {
            margin-right: 1rem;
        }

        .media-body {
            h5 {
                @include m.para(1.25rem, 600, v.$menuclr);
            }

            h6 {
                @include m.para(0.8rem, 500, v.$fourth);
            }
        }
    }

    a {
        @include m.para(0.9rem, 600, v.$btnbg);

        i {
            margin-left: 0.3rem;
        }
    }
}

// email camp thirteen css @E

// email camp four css @S
.edit-name-head {
    margin: 1rem 0;

    .nav {
        justify-content: space-around;
        align-items: center;
        width: 100%;

        .nav-item {
            width: 33%;

            .nav-link {
                @include m.para(1rem, 600, v.$fourth);
                border-bottom: 4px solid v.$fourth;
                border-radius: 0px;
                padding-bottom: 0.6rem;
                width: 100%;
                display: block;

                img {
                    margin-right: 0.4rem;
                }
            }

            .nav-link.active {
                background: transparent;
                color: v.$primary;
                border-color: v.$primary;

                img {
                    filter: invert(56%) sepia(22%) saturate(2064%) hue-rotate(349deg) brightness(96%) contrast(98%);
                }
            }
        }
    }
}

.camping-information-from-wrap {
    @include m.box(1.2rem 2rem, 0.625rem, v.$light);
    margin-top: 1.5rem;

    h5 {
        @include m.para(1.05rem, 700, v.$btnbg);
        margin-bottom: 0.6rem;
    }

    form {
        .form-group {
            margin-top: 0.6rem;
            position: relative;

            label {
                @include m.para(0.9rem, 600, v.$btnbg);
                margin-bottom: 0.5rem;
            }

            img,
            i {
                position: absolute;
                right: 1rem;
                top: 2.5rem;
            }

            img.two {
                top: 2.4rem;
                right: 3rem;
                width: 1.3rem;
            }
        }
    }
}

.skip-txt-box-wrap {
    @include m.box(1.5rem 2.5rem, 0.625rem, v.$light);
    margin-top: 1.8rem;

    h4 {
        @include m.para(1.06rem, 700, v.$menuclr);
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid v.$border;
    }

    h6 {
        @include m.para(0.9rem, 700, v.$menuclr);
        margin-bottom: 0.8rem;
    }

    p {
        @include m.para(0.9rem, 400, v.$menuclr);

        a {
            color: v.$blu;
            text-decoration: underline;
        }
    }

    .form-check-input:checked {
        background-color: v.$btnbg;
        border-color: v.$btnbg;
    }
}

.camping-information-from-wrap {
    .form-check-input[type="checkbox"] {
        border-radius: 0;
    }

    .form-check-input:checked {
        background-color: v.$btnbg;
        border-color: v.$btnbg;
    }

    .form-check-label {
        @include m.para(0.9rem, 600, v.$btnbg)
    }
}

.design-format-wrap {
    @include m.box(1.2rem 2rem, 0.625rem, v.$light);
    margin-top: 1.5rem;

    h5 {
        @include m.para(1.15rem, 700, v.$btnbg);
        margin-bottom: 1.5rem;
    }

    .design-patten-box {
        @include m.box(1.2rem, 1.25rem, v.$gdbg);
        background: linear-gradient(98.03deg, rgba(255, 98, 98, 0.1) 18.68%, rgba(243, 127, 20, 0.1) 88.52%);
        text-align: center;
        position: relative;

        .text-bg-custom {
            position: absolute;
            top: 1rem;
            right: 1rem;
            background: v.$gdbg;
            font-size: 10px;
        }

        .thumbnail-box {
            min-height: 80px;
            @include m.df(center);
        }

        h6 {
            @include m.para(0.9rem, 700, v.$btnbg);
            margin-bottom: 0.6rem;
            margin-top: 0.9rem;
        }

        p {
            @include m.para(0.9rem, 400, v.$btnbg);
        }
    }

    .html-bg {
        background: rgba(114, 125, 255, 0.2);
    }

    .text-only-bg {
        background: rgba(165, 180, 203, 0.3);
    }
}

// email camp four css @E

// email camp five css @S
.email-template-maker-wrap {
    padding-left: 13.438rem;
}

.drag-drop-txt-box {
    @include m.box(1.2rem 2rem, 0.625rem, v.$light);
    text-align: center;

    .file-upload-box {
        background: v.$third;
        padding: 3rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input {
            opacity: 0;
            height: 0;
        }

        img {
            width: 3rem;
        }

        h6 {
            @include m.para(.9rem, 400, v.$fourth);
            margin-top: 0.6rem;
        }
    }

    .form-group {
        h4 {
            @include m.para(1.3rem, 700, v.$btnbg);
            margin: 1rem 0;
        }

        p {
            @include m.para(0.95rem, 400, v.$btnbg);
            margin-bottom: 1.2rem;
        }
    }

    .form-submit {
        .btn-submit {
            @include m.button(1rem, v.$light, v.$blu);
            border-radius: 3rem;

            &:hover {
                opacity: .7;
            }
        }
    }
}

.drag-and-drop-icon-box {
    ul {
        li {
            a {
                display: block;
                width: 2.3rem;
                height: 2.3rem;
                background: v.$light;
                box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.04);
                border-radius: 2px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 0.4rem;
                transition: all linear .2s;

                &:hover {
                    background: v.$border;
                }
            }
        }
    }
}

.email-template-view-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    ul {
        margin-bottom: 2rem;

        li {
            a {
                display: inline-block;
                width: 3rem;
                height: 3rem;
                @include m.df(center);
                border-radius: 0.625rem;
                background: v.$light;
            }
        }
    }
}

.email-camping-drag-drop-page {
    position: relative;
}

.drag-drop-tools-box {
    position: absolute;
    left: -1.375rem;
    top: -1rem;
    width: 13rem;
    min-height: 100vh;
    height: 100%;
    background: v.$light;
    border-left: 1px solid v.$border;
    border-right: 1px solid v.$border;
    box-shadow: inset -1px 0px 0px v.$border;
}

.main-page-width .drag-drop-tools-box {
    left: -1.48rem;
    top: -.95rem;
}

.drag-drop-head {
    margin-bottom: 1rem;

    .nav {
        justify-content: space-around;

        .nav-item {
            width: 50%;

            .nav-link {
                @include m.para(0.6rem, 400, v.$fourth);
                border-bottom: 1px solid v.$fourth;
                border-radius: 0;
                display: block;
                width: 100%;
                padding: .6rem 0;
            }

            .nav-link.active {
                border-bottom: 2px solid v.$primary;
                background: transparent;
                color: v.$primary;
            }
        }
    }
}

.drag-drop-tools-body {
    padding: 0 6px;

    .single-tool-box {
        border-bottom: 1.4px solid v.$border;
        margin-bottom: 1rem;
        padding-bottom: 1rem;

        a.heading {
            @include m.para(0.66rem, 600, v.$btnbg);
            @include m.df(space-between);
            padding-right: 1rem;
        }

        .tools-option {
            .d-flex {
                margin-top: 1rem;
                align-items: center;

                p {
                    @include m.para(.7rem, 400, v.$fourth);
                    margin-right: 1rem;
                }
            }

            .form-check-input {
                border: 2px solid v.$fourth;
            }
        }

        .d_flex {
            @include m.df(space-between);
        }
    }

}

.tools-padding {
    .d_flex {
        @include m.df(space-between);

        h6 {
            @include m.para(0.66rem, 600, v.$btnbg);
        }

        padding-right: 2rem;
    }
}

.align-padding-item {
    border-top: 1px solid v.$border;
    border-bottom: 1px solid v.$border;
    margin: 1rem 0;
    padding: 1rem 0;

    h6 {
        @include m.para(0.66rem, 600, v.$btnbg);
    }
}

.padding-align-boxs {
    @include m.df(space-between);
    margin: 0 .5rem;
    margin-top: 1rem;

    .left-padding {
        text-align: center;
        border: 2px solid v.$fourth;
        border-radius: 4px;
        padding: .4rem;

        p {
            @include m.para(0.66rem, 400, v.$fourth);
        }
    }

    .left-padding.active {
        border-color: v.$blu;

        p {
            color: v.$blu;
        }
    }
}

.padding-box {
    margin-top: 1rem;
    margin-left: 0.5rem;

    p {
        font-size: 8px;
        color: v.$fourth;
        margin-bottom: 6px;
    }

    .d-flex {
        justify-content: space-between;

        .padding-set-box {
            background: v.$border;
            padding: 1.5px;
            border-radius: 2px;
            width: 130px;
            position: relative;

            input {
                width: 100%;
                background: transparent;
                border: 0;
                @include m.para(.7rem, 400, v.$fourth);
                padding-left: 3px;
                padding-right: 4rem;
            }

            span {
                @include m.para(.7rem, 400, v.$fourth);
                position: absolute;
                right: 2rem;
                top: 0.4rem;
            }

            i {
                position: absolute;
                right: 1px;
                top: 1px;
                background: v.$light;
                padding: 0px 8px;
                border-radius: 2px;
                font-size: 12px;
                color: v.$fourth;
            }

            i.fa-caret-down {
                top: 15px;
            }
        }

        .padding-lock {
            padding-right: .6rem;

            a {
                width: 1.4rem;
                height: 1.4rem;
                border-radius: .2rem;
                border: 2px solid v.$fourth;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 70%;
                    height: 70%;
                }
            }
        }
    }
}

.form-check-input:checked {
    background-color: v.$btnbg;
    border-color: v.$btnbg;
}

.content-color-box {
    background: v.$border;
    padding: 1px 1px;
    padding-top: 1.5px;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;

    a {
        @include m.para(.5rem, 400, v.$btnbg);
        margin: 0 1px;
        padding: 2px 4px;

        &:hover {
            background: v.$light;
            color: v.$primary;
        }
    }

    a.active {
        background: v.$light;
        color: v.$primary;
    }
}

.block-tools {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .tool {
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.04);
        background: v.$light;
        width: 95%;
        height: 3.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin-top: 0.5rem;

        p {
            @include m.para(0.5rem, 400, v.$fourth);
            margin-top: 0.3rem;
        }
    }
}

// email camp five css @E

// email camp six css @S
.drag-drop-action-box {
    padding: 1rem .5rem;

    h6 {
        @include m.para(0.7rem, 600, v.$btnbg);
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid v.$border;
    }

    ul {
        li {
            a {
                display: block;
                @include m.para(.8rem, 500, v.$fourth);
                margin-bottom: 1rem;

                img {
                    margin-right: 0.6rem;
                }
            }

            .active {
                color: v.$primary;
            }
        }
    }
}

.timeline-main-wrap {
    @include m.box(1.2rem 2rem, 0.625rem, v.$light);
    margin-left: 13rem;

    h1 {
        @include m.para(1.8rem, 600, v.$btnbg);
        border-bottom: 1px solid v.$border;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }
}

.time-line-box {
    margin-bottom: 1.2rem;
    border: 2px solid v.$bga;
    @include m.box(1rem, 0.625rem, v.$bga);

    h6 {
        @include m.para(0.85rem, 600, v.$btnbg);
        margin-bottom: 0.5rem;
    }

    h5 {
        @include m.para(1.25rem, 600, v.$btnbg);

        span {
            font-weight: 400;
        }
    }

    .clr-primary {
        color: v.$primary;
    }

    .d-flex {
        justify-content: space-between;
        align-items: center;

        a {
            span {
                font-size: .7rem;
                color: v.$fourth;
                margin: 0.7rem;
            }
        }

        img {
            width: 1rem;
        }
    }
}

.time-2 {
    background: rgba(114, 125, 255, 0.1);
    border-color: v.$blu;
}

.timeline-ftr {
    @include m.df(space-between);
    margin-top: 1rem;

    ul {
        @include m.df;

        li {
            a {
                margin-right: 0.5rem;
            }
        }
    }

    select {
        @include m.para(.9rem, 400, v.$fourth);
        border-radius: 3rem;

    }
}

.time-3 {
    background: rgba(114, 247, 255, 0.1);
}

.time-4 {
    background: rgba(255, 114, 232, 0.1);
}

.time-line-bttn {
    text-align: center;

    a {
        @include m.button(1rem, v.$light, v.$primary);
        background: #FF6262;
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.04);
        border-radius: 2rem;

        &:hover {
            opacity: .7;
        }
    }
}

.timeline-success {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        left: -2.5rem;
        top: 0;
        width: 2px;
        height: 150%;
        background: v.$border;
    }

    .success-image {
        position: absolute;
        left: -3.7rem;
        top: 0;
    }
}

// email camp six css @E 

// email camp eleven css @S
.editing-panel-header {
    background: v.$light;
    box-shadow: inset 0px -1px 0px #DFE5F1;
    margin-top: -17px;
    margin-left: -21px;
    .nav { 

        .nav-item { 
            .nav-link {
                @include m.para(0.8rem, 400, v.$fourth); 
                border-radius: 0;
                display: block;
                width: 100%;
                padding: .7rem 1.4rem;
            }

            .nav-link.active {
                border-bottom: 2px solid v.$primary;
                background: transparent;
                color: v.$primary;
            }
        }
    }
}

.main-page-width{
    .editing-panel-header {
        margin-left: -23px;
    }
}

.drag-drop-head-2{
    .nav { 

        .nav-item { 
            width: 33.33%;
        }
    }
}
.logo-maker-box{
    h6 {
        @include m.para(0.7rem, 600, v.$btnbg);
        padding-bottom: .7rem;
        margin-bottom: .7rem;
        border-bottom: 1px solid v.$border;
    }
    .text-center{
        margin-bottom: 1rem;
        h5{
            @include m.para(.8rem,700,v.$btnbg);
        }
        p{
            @include m.para(.7rem,500,v.$fourth);
        }
    }
    .file-upload-box {
        background: v.$bga;
        padding: 1rem;
        border-radius: .625rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input {
            opacity: 0;
            height: 0;
        }

        img {
            width: 1.6rem;
        }
        h4{
            @include m.para(.6rem,700,v.$btnbg);
            margin: .5rem 0;
        }
        p{
            @include m.para(.5rem,400,v.$btnbg);
            margin: .5rem 0;
        }
        a{
            border: 1px solid v.$primary;
            padding: .4rem .4rem;
            border-radius: 0.625rem;
            font-size: .6rem;
            color: v.$primary;
            img{
                width: 1rem;
                margin-right: 0.2rem;
            }
        }
    }
}

.colors-box{
    margin-top: 1.5rem;
    h6 {
        @include m.para(0.7rem, 600, v.$btnbg);
        padding-bottom: .7rem;
        margin-bottom: .7rem;
        border-bottom: 1px solid v.$border;
    } 
    .d-grid{
        grid-template-columns: 1fr 1fr;
    }
    .color-pick{
        p{
            @include m.para(0.6rem, 400, v.$fourth);
            margin-bottom: 2px;
        }
        span{
            display: inline-block;
            width: 1.1rem;
            height: 1.1rem;
            border-radius: 50%;
            background: v.$btnbg;
            margin-right: 4px;
        }
        .orange{
            background: v.$gdbg;
        }
        .blu{
            background: v.$blu;
        }
        .grn{
            background: v.$grn;
        }
        input{
            width: 60px;
            border: 2px solid v.$border;
            border-radius: .4rem;
            height: 1.6rem;
            font-size: .55rem;
            padding-left: 6px;
        }
        .d-flex{
            align-items: center!important;
            margin-top: 0.4rem;
        }
    }
}
.font-box-wrap{
    margin-top: 1.5rem;
    h6 {
        @include m.para(0.7rem, 600, v.$btnbg);
        padding-bottom: .7rem;
        margin-bottom: .7rem;
        border-bottom: 1px solid v.$border;
    } 
    form{
        .form-group{
            position: relative;
            margin-top: 0.8rem;
            .form-control{
                border: 2px solid v.$border;
                border-radius: .4rem;
                height: 1.8rem;
                font-size: .7rem;
            }
            i{
                position: absolute;
                right: 10px;
                top: 8px;
                color: v.$fourth;
                font-size: 10px
            }
        }
        label{
            @include m.para(0.7rem, 500, v.$fourth); 
        }
        ul{
            @include m.df(space-between);
        }
    }
}

.platform-tab-head{ 
    margin-top: 1rem;
    background-color: v.$light;
    padding: .6rem 1rem;
    .nav{
        .nav-item{
            .nav-link{
                @include m.para(.9rem,500,v.$dark);
            }
            .nav-link.active{
                background: v.$gdbg;
                color: v.$light;
            }
        }
    }
}
// email camp eleven css @E 

// responsive css @S
@include q.responsive(phone) {
    .timeline-main-wrap{
        margin-left: 0;
    }
    .timeline-success::before { 
        left: -17px; 
    }
    .e-todo-head{
        margin-top: 1rem;
    }
    .timeline-success .success-image { 
        left: -27px; 
        width: 1.4rem;
    }
    .preview-main-box .preview-txt-box h4,
    .growth-form-box h4 {
        font-size: 1.5rem;
    }

    .email-camping-head h1 {
        font-size: 2rem;
    }

    .email-camping-head-bttn ul {
        flex-wrap: wrap;

        li a {
            font-size: .9rem;
            padding: 0.65rem 1rem;
            margin-right: .4rem;
            margin-bottom: 0.8rem;
        }
    }

    .growth-main-form,
    .growth-form-box {
        margin-bottom: 1rem;
    }

    .growth-form-box a {
        width: 100%;
        justify-content: center;
    }

    .preview-main-box .preview-txt-box h6 {
        font-size: 1rem;
    }

    // three css @S
    .email-camp-search select {
        position: inherit;
        left: 0;
    }

    .interrest-search-wrap .interrest-search-box .form-control {
        padding-left: 2.2rem !important;
    }

    .email-camp-search img {
        position: absolute;
        top: 41px;
        left: 14px;
        transform: translate(0);
        width: 1rem;
    }

    .email-camping-head-bttn {
        flex-direction: column;
        align-items: flex-start;
    }

    // three css @E

    // nine css @S
    .list-segment-search-filter-wrap {
        grid-template-columns: 100%;
    }

    .list-segment-search-filter-wrap .list-segment-filter {
        margin-left: 0;
        margin-top: 1rem;
    }

    // nine css @E
    .search-template-bttn {
        margin-left: 0;
        margin-top: 1rem;
    }

    // twleve css @S
    .addcard-box-wrap {
        flex-direction: column;
        align-items: flex-start;

        div {
            width: 100%;
        }
    }

    .addcard-box-wrap p {
        margin: 1rem 0;
    }

    .addcard-box-wrap a.add-card-bttn {
        margin-left: 0;
    }

    .date-range-filter p {
        font-size: 1rem;
    }

    .date-range-filter {
        grid-template-columns: 48% 52%;
    }

    // thirten css @S
    .integration-head-wrap { 
        padding-left: 0!important;
        padding-top: 1.7rem;
    }

    .integration-filter-box {
        margin-bottom: 1rem;
    }

    .design-format-wrap .design-patten-box {
        margin-top: 1rem;
    }

    .email-camping-head-bttn ul {
        display: grid !important;
        grid-template-columns: 1fr 1fr;

        a {
            display: block;
            text-align: center;
            width: 98%;
            padding-left: 0.6rem;
            padding-right: 0.6rem;
        }
    }

    // email camp 5 css @S
    .drag-and-drop-icon-box {
        ul {
            display: flex;
            align-items: center;

            li {
                a {
                    margin-right: 0.4rem;
                }
            }
        }
    }

    .email-template-maker-wrap {
        padding-left: 0rem;
    }

    .drag-drop-tools-box {
        display: none;
    }

    .email-template-view-icon {
        flex-direction: row;

        ul {
            display: flex;
            align-items: center;
        }
    }

    .order_1 {
        order: 1;
    }

    .order_2 {
        order: 2;
    }

    .email-template-view-icon {
        ul {
            li {
                &:nth-child(2) {
                    display: none;
                }

                a {
                    margin-right: 0.4rem;
                    border-radius: 10px !important;
                }
            }
        }
    }
    
}

@include q.responsive(landphone) {
    .email-camping-head-bttn ul li a {
        font-size: 0.8rem;
        margin-right: 0;
    }

    .growth-form-box h4 {
        font-size: 2rem;
    }

    .e-todo-head {
        margin-top: 1rem;
    }

    .list-segment-search-filter-wrap {
        display: grid;
        grid-template-columns: 50% 25% 25%;
    }

    .search-template-bttn a {
        font-size: 0.8rem !important;
        padding-left: 0.3rem !important;
        padding-right: 0.3rem !important;
    }
    .drag-drop-tools-box{
        display: none;
        width: 0;
    }
    .email-template-maker-wrap{
        padding-left: 0;
    }
    .timeline-main-wrap{
        margin-left: 1rem;
    }
    .email-template-view-icon {
        display: none;
    }
    .drag-and-drop-icon-box ul{
        display: none;
        li{
            margin-right: 0.8rem;
        }
    }
    .timeline-main-wrap{
        padding-left: 3.5rem;
    }
    .integration-head-wrap { 
        padding-left: 0!important;
        padding-top: 3rem;
    }
}

@include q.responsive(tablet) {
    .email-camping-head-bttn ul li a {
        font-size: 1rem;
        margin-right: 0.5;
    }

    .growth-form-box h4 {
        font-size: 2.2rem;
    }

    .e-todo-head {
        margin-top: 1.5rem;
    }

    .search-template-bttn a {
        font-size: 0.8rem !important;
        padding-left: 0.3rem !important;
        padding-right: 0.3rem !important;
    }
    .drag-drop-tools-box{
        left: -1rem;
    }
    .email-template-view-icon {
        margin-top: 1rem;
    }
    .drag-and-drop-icon-box ul{
        display: flex;
        li{
            margin-right: 0.8rem;
        }
    }
    .ordr_1{
        order: 1;
    }
    .ordr_2{
        order: 2;
    }
    .integration-head-wrap { 
        padding-left: 0!important;
        padding-top: 3.6rem;
    }
    .email-template-view-icon{
        display: none;
    }
}

@include q.responsive(landtablet) {
    .list-segment-search-filter-wrap {
        display: grid;
        grid-template-columns: 54% 23% 23%;
    }
    .drag-drop-tools-box{
        left: -1rem;
    }
    .integration-head-wrap { 
        padding-left: 6rem!important;
        // padding-top: 1.6rem;
    }
    .email-template-view-icon{
        display: none;
    }
}

@include q.responsive(regular) { 
    .integration-head-wrap { 
        padding-left: 16rem!important;
        // padding-top: 1.6rem;
    } 
}

// responsive css @E