@forward './base/index';
@use './util/index' as m;
@use './util/variabls' as v;
@use './util/media-query' as q;


.navbar {
    background: v.$gdbg;

    .navbar-brand {
        img {
            width: 10rem;
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                @include m.para(1rem, 500, v.$light);
                margin-right: 1rem;
            }
        }
    }

    .d-flex {
        margin-left: 1rem;

        a {
            &:first-child {
                @include m.button(1rem, v.$light, transparent);
                border: 1px solid v.$light;
                border-radius: 0.4rem;
                padding: .6rem 2rem;
                display: inline-block;
                margin-right: 1rem;
                transition: all linear .2s;

                &:hover {
                    background: v.$light;
                    color: v.$primary;
                }
            }

            &:last-child {
                @include m.button(1rem, v.$primary, v.$light);
                border: 1px solid v.$light;
                border-radius: 0.4rem;
                padding: .6rem 2rem;
                transition: all linear .2s;
                display: inline-block;

                &:hover {
                    background: transparent;
                    color: v.$light;
                }
            }
        }
    }
}

// hero css

/* hero css start */
.hero-section {
    padding: 4rem 0;
}

.hero-txt-wrap {

    h1 {
        @include m.para(2.5rem, 700, v.$btnbg);
        margin-bottom: 1rem;
    }

    p {
        @include m.para(1rem, 400, v.$fourth);
        width: 80%;
    }

    .hero-bttn {
        margin-top: 2rem;
        margin-bottom: 2rem;

        a {
            @include m.button(1rem, v.$light, v.$gdbg);
            border-radius: 0.4rem;
            padding: .8rem 3rem;
            transition: all linear .2s;
            display: inline-block;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    h6 {
        @include m.para(0.9rem, 500, v.$secondary);
    }

}


.hero-img-box {
    img {
        width: 85%;
        display: block;
        margin: 0 auto;
    }
}

.course-filter-wrap {
    .course-filter-box {
        background-color: v.$light;
        padding: 0.8rem 1rem;
        border-radius: 0.6rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        .form-group {
            margin-right: 1rem;
            position: relative;

            label {
                @include m.para(0.9rem, 500, v.$btnbg);
                display: block;
                margin-bottom: 0.8rem;
            }

            .form-control {
                @include m.para(1rem, 400, v.$btnbg);
                border: 1px solid v.$third;
            }

            i {
                position: absolute;
                right: 1rem;
                top: 75%;
                transform: translateY(-75%);
                font-size: 1rem;
                color: v.$fourth;
            }
        }

        .filter-bttn {
            margin-top: 2rem;  

            .btn-reset {
                @include m.button(1rem, v.$btnbg, transparent);
                border-radius: 0.4rem;
                padding: .4rem 1.5rem;
                border: 1px solid v.$fourth;
                transition: all linear .2s;
                display: inline-block;
                margin: 0 0.7rem;

                &:hover {
                    background: v.$gdbg;
                    color: v.$light
                }
            }
            .btn-submit {
                @include m.button(1rem, v.$light, v.$gdbg);
                border-radius: 0.4rem;
                padding: .4rem 2rem;
                transition: all linear .2s;
                display: inline-block;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}

// course 
.course-item-box {
    @include m.box(1rem, .7rem, v.$light);
    padding-right: 1.5rem;
    margin-top: 1rem;

    .media {
        align-items: center;

        .course-thumbnail {
            margin-right: 1.5rem;

            img {
                width: 15rem;
                height: 12rem;
                border-radius: 1rem;
                object-fit: cover;
                border: 1px solid v.$third;
            }
        }

        .media-body {
            h4 {
                @include m.para(1.2rem, 600, v.$btnbg);
            }

            .course-categories {
                margin: 1rem 0;
                @include m.df;
                flex-wrap: wrap;

                span {
                    margin-right: 0.5rem;
                    margin-bottom: 0.5rem;
                }
            }

            p {
                @include m.para(0.9rem, 400, v.$fourth);
            }

            a {
                display: block;
                margin-top: 1rem;
                @include m.para(0.9rem, 400, v.$primary);
                text-decoration: underline;
            }
        }
    }

    .course-actions {
        .review {
            text-align: center;
            margin-bottom: 1rem;

            h5 {
                @include m.para(1.6rem, 600, v.$btnbg);

                i {
                    font-size: 1.8rem;
                    color: v.$primary;
                }
            }

            p {
                @include m.para(0.9rem, 500, v.$fourth);
            }
        }

        .bttns {
            text-align: center;

            a {
                &:first-child {
                    @include m.button(1rem, v.$primary, transparent);
                    border: 1px solid v.$primary;
                    border-radius: 0.4rem;
                    padding: .6rem 2rem;
                    display: block;
                    transition: all linear .2s;
                    margin-bottom: 1rem;

                    &:hover {
                        background: v.$gdbg;
                        color: v.$light;
                    }
                }

                &:last-child {
                    @include m.button(1rem, v.$light, v.$gdbg);
                    border: 1px solid v.$light;
                    border-radius: 0.4rem;
                    padding: .6rem 2rem;
                    transition: all linear .2s;
                    display: block;

                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }
    }
}

.course-instructor {
    margin-top: 1rem;
    @include m.box(.8rem, .6rem, v.$light);

    .thumbnail {
        margin-bottom: 1rem;
        text-align: center;
        img {
            border-radius: 1rem;
            width: 100%;
            display: block;
            object-fit: cover;
            border: 1px solid v.$third;
        }
        span.avatar-ins{
            width: 7rem;
            height: 7rem;
            background: v.$gdbg;
            border-radius: 50%; 
            color: v.$light;
            font-size: 3rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
    }

    .txt {
        padding: 1rem;
        padding-top: 0;

        h4 {
            @include m.para(1.6rem, 600, v.$btnbg);
        }

        h5 {
            @include m.para(1rem, 500, v.$fourth);
            margin: 1rem 0;
        }

        a {
            display: block;
            margin-top: 1rem;
            @include m.para(0.9rem, 400, v.$primary);
            text-decoration: underline;
        }
    }
}

.bundle-course-head {
    margin-bottom: 2rem;

    h2 {
        @include m.para(2rem, 700, v.$primary);
    }

    p {
        @include m.para(0.9rem, 400, v.$fourth);
    }
}

.browse-all {
    text-align: right;

    a {
        display: block;
        margin-top: 1rem;
        @include m.para(1rem, 400, v.$primary);
        text-decoration: underline;
    }
}

.bundle-course-wrap {
    padding: 4rem 0;

    .bundle-course-box {
        @include m.box(0rem, .9rem, v.$light);

        .thumbnail {
            img {
                display: block;
                width: 100%;
                display: block;
                border-radius: 0.9rem 0.9rem 0 0;
            }
        }

        .txt {
            padding: 1.2rem;

            h4 {
                @include m.para(1.8rem, 700, v.$btnbg);
                margin-bottom: 0.5rem;
            }

            .categories {
                @include m.df;
                flex-wrap: wrap;
                margin-bottom: 1rem;

                span {
                    margin-right: 0.5rem;
                }
            }

            p {
                @include m.para(0.9rem, 400, v.$fourth);
            }
        }

        .bttns {
            padding: 1.2rem;
            @include m.df(space-between);

            h6 {
                @include m.para(1.2rem, 600, v.$btnbg);

                span {
                    color: v.$fourth;
                    font-size: .9rem;
                }
            }

            a {
                @include m.button(1rem, v.$light, v.$gdbg);
                border: 1px solid v.$light;
                border-radius: 0.4rem;
                padding: .6rem 1.5rem;
                transition: all linear .2s;
                display: block;

                &:hover {
                    opacity: .7;
                }
            }
        }
    }
}

.review-section {
    padding: 3rem 0
}

.feedback-slider{
    width: 80%;
    margin: 0 auto;
}

.student-feeback-box {
    @include m.box(1rem, .6rem, v.$light);
    width: 100%;
    margin: 0 auto;

    .media {
        align-items: center;

        img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 1.5rem;
        }

        p {
            @include m.para(1rem, 400, v.$fourth);
        }

        h6 {
            @include m.para(1.2rem, 600, v.$primary);
            margin-top: 0.5rem;
        }
    }
}

.get-start-box {
    
    @include m.df(space-between);

    h5 {
        @include m.para(2rem, 600, v.$light);
    }

    a {
        @include m.button(1rem, v.$primary, v.$light);
        border: 1px solid v.$light;
        border-radius: 0.4rem;
        padding: 1rem 2rem;
        transition: all linear .2s;
        display: inline-block;

        &:hover {
            background: transparent;
            color: v.$light;
        }
    }
}

.get-start{
    margin-bottom: 3rem;
    background: v.$gdbg; 
    padding: 2rem;
}

.footer-section{
    margin-bottom: 1rem;
    .ftr-links{
        h5{
            @include m.para(1.2rem, 600, v.$btnbg); 
            margin-bottom: 0.5rem;
        }
        ul {
            li{
                a{
                    display: block;
                    margin-top: 0.4rem;
                    @include m.para(0.95rem, 400, v.$fourth); 
                }
            }
        }
    }
}

.ftr-copy{
    margin-top: 2.5rem;
    @include m.para(1rem, 400, v.$fourth); 
    text-align: center;
    border-top: 1px solid v.$third;
    padding-top: 1.5rem;
}


.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;
    margin-top: 2rem;
    transition: all linear .3s;
	
	list-style-type: none;
	
    li {
        margin: 0 0.25rem;
    }

    button {
        display: block;
        width: 1rem;
        height: 1rem;
        padding: 0; 
        border: none;
        border-radius: 100%;
        background: v.$fourth;
        transition: all linear .3s;
        text-indent: -9999px;
    }

    li.slick-active button {
        background: v.$gdbg;
        width: 1.5rem;
        transition: all linear .3s;
        border-radius: 7px
    }
}


#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
    background: v.$gdbg;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 1.5rem;
    color: v.$light;
    @include m.df(center); 
    text-align: center;
    transition: opacity 0.2s ease-in-out;
    i{
        font-size: 1rem;
        color: v.$light;
    }
}

.course-details-banner-box{
    padding: 2rem 0;
    .breadcumb{
        ul{
            @include m.df;
            li{
                i{
                    margin: 0 .3rem;
                    color: v.$fourth;
                    font-size: .8rem
                }
                a{
                    @include m.para(0.8rem, 400, v.$btnbg); 
                }
            }
        }
    }
    .course-title{
        h1{
            @include m.para(2rem, 700, v.$btnbg); 
            margin-bottom: 1rem;
            margin-top: 0.5rem;
        }
        p{
            @include m.para(0.9rem, 400, v.$fourth); 
            width: 97%;
        }
        .categories{
            margin: 1rem 0;
            flex-wrap: wrap;
            @include m.df;
            span{
                margin-right: 0.5rem;
                margin-bottom: 0.5rem;
            }
        }
        h6{
            @include m.para(1rem, 600, v.$primary); 
        }
        h5{
            @include m.para(1.2rem, 700, v.$btnbg);
            margin-top: 0.5rem; 
        }
    }
}
.course-thumbnail{
    img{
        width: 100%;
        border-radius: 1rem;
        border: 3px solid v.$third;
    }
}

.course-details-box{ 
    border: 1px solid v.$third;
    padding: 1rem 2rem;
    border-radius: .5rem;
    margin-top: 2rem;
    background-color: v.$light;
    h2{
        @include m.para(2rem, 600, v.$btnbg); 
        margin-bottom: 1rem;
    }
    p{
        @include m.para(1rem, 400, v.$fourth); 
        margin-bottom: 1rem;
    }
}
.related-courses{
    padding: 2rem 0;
}

.related-head{
    h3{
        @include m.para(1.5rem, 600, v.$btnbg); 
        margin-bottom: 1rem;
    }
}

// details bttns enroll
.enroll-bttns{
    a{
        @include m.button(1.2rem, v.$light, v.$gdbg);
        border: 1px solid v.$light;
        border-radius: 0.4rem;
        padding: 1rem 2rem;
        transition: all linear .2s;
        display: block;
        width: 100%;
        text-align: center;

        &:hover {
            opacity: .9;
        }
    }
}

.course-modules-lesson-wrap{
    padding: 2rem 0;
}

.course-outline-box{
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: v.$light;
    margin-left: 0!important;
    padding-left: 4rem;
}


@include q.responsive(phone) {
    .navbar-toggler{
        padding: 0;
        border: 0;
        i{
            font-size: 1.6rem;
            color: v.$light;
        }
    }
    .navbar .navbar-nav .nav-item .nav-link{
        margin-right: 0;
        margin-bottom: 1rem;
        text-align: center;
    }
    .navbar .d-flex{
        margin-left: 0;
        justify-content: center;
    }
    .hero-section{
        padding: 2rem 0;
    }
    .hero-txt-wrap h1{
        font-size: 1.5rem;
    }
    .hero-txt-wrap p{
        width: 100%;
    }

    .hero-img-box{
        width: 0;
        display: none;
    }

    .course-filter-wrap .course-filter-box{
        grid-template-columns: 1fr 1fr;
        .form-group{
            margin: .5rem 0;
        }
    }
    .course-item-box{
        .media{
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            .course-thumbnail{
                margin-right: 0;
                margin-bottom: 1rem;
                
            img{
                width: 100%;
                display: block;
            }
            }
        }
    }
    .browse-all{
        text-align: left;
        margin-bottom: 1rem;
    }
    .bundle-course-head{
        margin-bottom: .5rem;
    }
    .bundle-course-box{
        margin-bottom: 1rem;
    }
    .bundle-course-wrap .bundle-course-box .bttns{
        padding: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }
    .bundle-course-wrap .bundle-course-box .bttns h6{
        margin-bottom: 1rem;
    }
    .bundle-course-wrap{
        padding: 2rem 0;
    }
    .review-section{
        padding: 1rem 0;
    }
    .get-start-box h5{
        margin-bottom: 1rem;
    }
    .get-start-box h5,
    .bundle-course-head h2{
        font-size: 1.5rem;
    }
    .student-feeback-box{
        width: 100%;
        .media{
            flex-direction: column;
        }
    }
    .get-start-box{
        flex-direction: column;
    }
    .get-start{
        padding: 1rem;
        margin-bottom: 1rem;
    }
    .ftr-links{
        margin-top: 1.5rem;
    }

    .course-details-banner-box .course-title h1{
        font-size: 1.6rem;
    }
    .course-details-banner-box .course-title p{
        width: 100%;
    }

    .ordr_1{
        order: 1;
    }
    .ordr_2{
        order: 2;
    }
    .course-details-box{
        padding: 1rem;
    }
    .course-details-box p{
        font-size: .9rem;
    }
    // details
    .enroll-bttns{
        margin-bottom: 1rem;
    }
    .mylearning-txt-box h5{
        margin-top: 1rem!important;
    }
    .course-filter-wrap .course-filter-box{
        grid-template-columns: 1fr;
    }
    .course-filter-wrap .course-filter-box .filter-bttn{
        width: 100%;
    }
    .course-item-box{
        padding-right: 1rem;
    }
    .course-item-box .media .course-thumbnail{
        width: 100%;
    }
    .feedback-slider{
        width: 100%;
    }
    .student-feeback-box .media {
        text-align: center;
        img{
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
}

@include q.responsive(landphone) {
    .navbar-toggler{
        padding: 0;
        border: 0;
        i{
            font-size: 1.6rem;
            color: v.$light;
        }
    }
    .navbar .navbar-nav .nav-item .nav-link{
        margin-right: 0;
        margin-bottom: 1rem;
        text-align: center;
    }
    .navbar .d-flex{
        margin-left: 0;
        justify-content: center;
    }
    .hero-section{
        padding: 2rem 0;
    }
    .hero-txt-wrap h1{
        font-size: 1.5rem;
    }
    .hero-txt-wrap p{
        width: 100%;
    }

    .hero-img-box{
        width: 0;
        display: none;
    }

    .course-filter-wrap .course-filter-box{
        grid-template-columns: 1fr 1fr;
        .form-group{
            margin: .5rem 0;
        }
    }
    .course-item-box{
        .media{
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            .course-thumbnail{
                margin-right: 0;
                margin-bottom: 1rem;
                
            img{
                width: 100%;
                display: block;
            }
            }
        }
    }
    .browse-all{
        text-align: left;
        margin-bottom: 1rem;
    }
    .bundle-course-head{
        margin-bottom: .5rem;
    }
    .bundle-course-box{
        margin-bottom: 1rem;
    }
    .bundle-course-wrap .bundle-course-box .bttns{
        padding: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }
    .bundle-course-wrap .bundle-course-box .bttns h6{
        margin-bottom: 1rem;
    }
    .bundle-course-wrap{
        padding: 2rem 0;
    }
    .review-section{
        padding: 1rem 0;
    }
    .get-start-box h5{
        margin-bottom: 1rem;
    }
    .get-start-box h5,
    .bundle-course-head h2{
        font-size: 1.5rem;
    }
    .student-feeback-box{
        width: 100%;
        .media{
            flex-direction: column;
        }
    }
    .get-start-box{
        flex-direction: column;
    }
    .get-start{
        padding: 1rem;
        margin-bottom: 1rem;
    }
    .ftr-links{
        margin-top: 1.5rem;
    }

    .course-details-banner-box .course-title h1{
        font-size: 1.6rem;
    }
    .course-details-banner-box .course-title p{
        width: 100%;
    }

    .ordr_1{
        order: 1;
    }
    .ordr_2{
        order: 2;
    }
    .course-details-box{
        padding: 1rem;
    }
    .course-details-box p{
        font-size: .9rem;
    }
    // details
    .enroll-bttns{
        margin-bottom: 1rem;
    }
    .mylearning-txt-box h5{
        margin-top: 1rem!important;
    }
    .course-item-box{
        padding-right: 1rem;
    }
    .course-item-box .media .course-thumbnail{
        width: 100%;
    }
    .feedback-slider{
        width: 100%;
    }
    .student-feeback-box .media {
        text-align: center;
        img{
            margin-right: 0;
            margin-bottom: 1rem;
        }
    }
}

@include q.responsive(tablet) {
    .navbar-toggler{
        padding: 0;
        border: 0;
        i{
            font-size: 1.6rem;
            color: v.$light;
        }
    }
    .navbar .navbar-nav .nav-item .nav-link{
        margin-right: 0;
        margin-bottom: 1rem;
        text-align: center;
    }
    .navbar .d-flex{
        margin-left: 0;
        justify-content: center;
    }
    .hero-section{
        padding: 2rem 0;
    }
    .hero-txt-wrap h1{
        font-size: 1.5rem;
    }
    .hero-txt-wrap p{
        width: 100%;
    }

    .hero-img-box{
        width: 0;
        display: none;
    }

    .course-filter-wrap .course-filter-box{
        grid-template-columns: 1fr 1fr;
        .form-group{
            margin: .5rem 0;
        }
    }
    .course-item-box{
        .media{
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            .course-thumbnail{
                margin-right: 0;
                margin-bottom: 1rem;
                
            img{
                width: 100%;
                display: block;
            }
            }
        }
    }
    .browse-all{
        text-align: left;
        margin-bottom: 1rem;
    }
    .bundle-course-head{
        margin-bottom: .5rem;
    }
    .bundle-course-box{
        margin-bottom: 1rem;
    }
    .bundle-course-wrap .bundle-course-box .bttns{
        padding: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }
    .bundle-course-wrap .bundle-course-box .bttns h6{
        margin-bottom: 1rem;
    }
    .bundle-course-wrap{
        padding: 2rem 0;
    }
    .review-section{
        padding: 1rem 0;
    }
    .get-start-box h5{
        margin-bottom: 1rem;
    }
    .get-start-box h5,
    .bundle-course-head h2{
        font-size: 1.5rem;
    }
    .student-feeback-box{
        width: 100%;
        .media{
            flex-direction: column;
        }
    }
    .get-start-box{
        flex-direction: column;
    }
    .get-start{
        padding: 1rem;
        margin-bottom: 1rem;
    }
    .ftr-links{
        margin-top: 1.5rem;
    }
    .d-ins-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // details
    .enroll-bttns{
        margin-bottom: 1rem;
    }
    .mylearning-txt-box h5{
        margin-top: 1rem!important;
    }

}

@include q.responsive(landtablet) {
    .course-item-box .media .course-thumbnail img{
        width: 9rem;
        height: 9rem;
    }
    .bundle-course-wrap .bundle-course-box .bttns a{
        min-width: 50%;
        margin-left: 0.5rem;
    }
    .course-item-box .course-actions .bttns a:last-child,
    .course-item-box .course-actions .bttns a:first-child{
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .get-start-box h5{
        font-size: 1.7rem;
    }
}