@use './util/index' as m;
@use './util/variabls' as v;
@use './util/media-query' as q;

.total-session-box {
    background-color: v.$light;
    box-shadow: 2px 2px 5px v.$bxs;
    padding: 1rem;
    border-radius: .5rem;
    margin-bottom: 1.5rem;

    h6 {
        @include m.para(1.2rem, 600, v.$dark);
        margin-bottom: .6rem;
    }

    .d-flex {
        justify-content: space-between;
        align-items: center;

        h2 {
            @include m.para(3rem, 700, v.$dark);
        }

        i {
            font-size: 3.2rem;
            color: v.$primary;
        }
    }
}

.alert-custom-txt {
    padding-right: 1rem;

    .media {
        align-items: center;

        h6 {
            font-size: 1.5rem;
            font-weight: 600;
        }

        p {
            font-size: 1rem;
        }

        .btn-close {
            display: inline-block;
            margin-top: .6rem;
        }

        a {
            background: v.$gdbg;
            color: v.$light;
            padding: .5rem 1rem;
            display: inline-block;
            font-size: 1rem;
            font-weight: 500;
            border-radius: .2rem;
        }
    }

}

@include q.responsive(phone) {
    .alert-custom-txt {
        .media {
            flex-direction: column;

            a {
                display: block;
                width: 80%;
                text-align: center;
                margin-top: 1rem;
                margin-right: auto;
            }
        }
    }
}

@include q.responsive(landphone) {
    .alert-custom-txt {
        .media {
            flex-direction: column;

            a {
                display: block;
                width: 80%;
                text-align: center;
                margin-top: 1rem;
                margin-right: auto;
            }
        }
    }
}