@use './util/variabls' as v;
@use './util/mixin' as m;

.product-research-details-page-wrap {
    .product-details-wrap {
        padding: 1.4rem 2rem;
    }

    .product-description {
        p {
            width: 96%;
            line-height: 180%;
            margin-top: 2rem !important;
        }
    }
}

.ali-express-bttn {
    a {
        background: v.$gdbg !important;
        border-radius: 3rem !important;
        display: inline-flex !important;
        align-items: center !important;
        font-weight: 700 !important;

        &:hover {
            opacity: .7;
        }
    }
}

.custom-hrs {
    hr {
        border: none;
        height: 1px;
        width: 100%;
        background: v.$primary;
        margin: 3rem 0;
    }
}

.profit-cost-graph-wrap {
    @include m.box(1rem 2rem, .7rem, v.$border);
    background: linear-gradient(98.03deg, rgba(255, 98, 98, 0.05) 18.68%, rgba(243, 128, 20, 0.05) 88.52%);
    padding-bottom: 2rem;

    h5 {
        @include m.para(1.2rem, 500, v.$dark);
        margin-bottom: 2rem;
    }

    .d-flex {
        @include m.df(space-between);

        div {
            position: relative;

            &:before {
                position: absolute;
                content: "";
                right: -80%;
                top: 0;
                width: 40%;
                height: 100%;
                @include m.bgi("../images/line.svg");
                background-size: 35%;
            }

            h4 {
                @include m.para(2rem, 600, v.$dark);
            }

            h6 {
                @include m.para(1rem, 300, v.$dark);
            }

            &:last-child:before {
                width: 0;
                height: 0;
            }
        }
    }
}

.info-details-wrap {
    h4 {
        @include m.df;
        @include m.para(1.25rem, 500, v.$dark);
        margin-bottom: 1.5rem;

        img {
            margin-right: 0.5rem;
        }
    }
}

.info-list {
    background: linear-gradient(98.03deg, rgba(255, 98, 98, 0.1) 18.68%, rgba(243, 127, 20, 0.1) 88.52%);
    border-radius: 0.625rem;
    padding: 1rem;

    table {
        width: 100%;

        tr {
            td {
                @include m.para(.9rem, 400, v.$dark);
                padding: 0.30rem 0;

                a {
                    @include m.button(1.1rem, v.$light, v.$gdbg);
                    border-radius: 3rem;
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-weight: 600;
                    margin-top: 0.5rem;
                }
            }

        }
    }
}

.engage-box {
    background: linear-gradient(98.03deg, rgba(255, 98, 98, 0.1) 18.68%, rgba(243, 127, 20, 0.1) 88.52%);
    border-radius: 0.625rem;
    padding: 1rem;

    a {
        display: block;
        margin: 0.5rem 0;
        color: #0038FF;
        text-decoration: underline;
    }
}

.engage-icon {
    text-align: center;

    p {
        margin-top: 0.4rem;
        @include m.para(.9rem, 600, v.$dark);
    }

}

.info-list table tr td:last-child {
    text-align: right;
    font-weight: 600;
}

.country-details-wrap {
    background: linear-gradient(98.03deg, rgba(255, 98, 98, 0.1) 18.68%, rgba(243, 127, 20, 0.1) 88.52%);
    border-radius: .625rem;
    padding: 2rem 1rem;
    @include m.df(space-between);

    div {
        h5 {
            @include m.para(1.2rem, 500, v.$dark);
            margin-bottom: 0.3rem;
        }

        p {
            @include m.para(1rem, 400, v.$dark);
        }

        &:last-child {
            border-left: 1px solid v.$secondary;
            padding-left: 1.5rem;
        }
    }
}

// create form
.create-form-wrap {
    padding: 1rem 1.5rem;
    background: v.$light;
    border-radius: 5px;
    position: relative;
}

.create-form-head {
    @include m.df(space-between);
    border-bottom: 1px solid v.$border;
    margin-bottom: .8rem;
    padding-bottom: .8rem;

    h6 {
        @include m.para(1.2rem, 500, v.$primary);
    }

    a {
        @include m.button(1rem, v.$light, v.$gdbg);
        border-radius: .625rem;
        display: inline-flex;
        align-items: center;
        padding: .6rem 1.6rem;

        .fa-solid {
            margin-right: 8px;
        }

        &:hover {
            opacity: .7;
        }
    }
}

.form-group .form-control:focus-within {
    border-color: v.$primary;
}

.create-form-box .form-group {
    position: relative;
    margin-bottom: 1rem;

    label {
        @include m.para(.9rem, 600, v.$fourth);
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    .form-control {
        @include m.para(1rem, 400, v.$dark);
    }

    .invalid-feedback {
        display: block;
        margin-top: 8px;
    }

    .fa-solid {
        position: absolute;
        right: 1rem;
        top: 64%;
        color: v.$dark;
        font-size: 1rem;
    }
    #features_increment,
    #url_increment {
        position: absolute;
        right: 1rem;
        top: 2.5rem;
        color: v.$light;
        width: 1.5rem;
        height: 1.5rem;
        background: v.$gdbg;
        border-radius: 50%;
        font-size: .9rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .features-extra-field ,
    .url-extra-field {
        .form-control {
            margin-top: 0.3rem;
        }
    }
}

.features-extra-field div a {
	position: absolute;
	right: 1rem;
	top: 0.4rem;
	width: 1.5rem;
	height: 1.5rem;
	background: #8C8FAE;
	border-radius: 50%;
	font-size: 0.9rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	color: #ffffff !important;
	cursor: pointer;
}

.submit-bttns {
    text-align: end;

    .btn-reset {
        background: transparent;
        color: v.$primary;
        border: 1px solid v.$secondary;
        margin-right: 1rem;

        &:hover {
            background: v.$gdbg;
            color: #fff;
        }
    }

    .btn-submit {
        @include m.button(1rem, v.$light, v.$gdbg);
        border-radius: .625rem;
        padding: .6rem 1.6rem;

        &:hover {
            opacity: .7;
        }
    }
}

.p_infos-group .col-md-4 {
    span {
        font-size: .85rem;
    }
}

.create-form-box {
    .custom-hr {
        hr {
            border: 1px solid v.$border
        }

        h5 {
            @include m.para(1.4rem, 500, v.$dark);
            margin-bottom: 1rem;
        }
    }

    .form-control.dropdown {
        div {
            span {
                background: v.$gdbg !important;
            }
        }

        .dropdown-item {
            background: v.$gdbg !important;
        }
    }
}

.tags-input-wrapper {
    padding: .4rem .8rem;
    border-radius: 0.625rem;
    max-width: 100%;
    border: 1px solid v.$border
}

.tags-input-wrapper {
    input {
        border: none;
        background: transparent;
        outline: none;
        width: 10rem;
        margin-left: .4rem;
    }
}

.tags-input-wrapper .tag {
    display: inline-block;
    background: linear-gradient(98.03deg, #FF6262 18.68%, #F37F14 88.52%);
    color: #ffffff;
    border-radius: 3rem;
    padding: 0rem .4rem;
    margin-right: 5px;
    font-size: .9rem;
    line-height: 119%;
    padding-top: 3px;

    a {
        margin: 0 7px 3px;
        display: inline-block;
        cursor: pointer;
    }
}

#imgThumbnailPreview{
    display: flex;
    align-items: center;
}

.IMGthumbnail {
    max-width: 100%;
    height: auto;
    padding: .5rem;
    border: 1px solid #ccc;
    border-radius: .625rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    img {
        width: 100%;
        height: 100%;
    }
}
 
.imgThumbContainer {
    width: 10rem;
} 

#mceu_36-body{
    opacity: 0!important;
}

.mce-panel{
    border: 1px solid v.$border;
}

.p_infos-group {
    .col-md-4{
        span{
            img{
                width: 1.3rem;
            }
        }
    }
}
.interest-boxss{
    min-width: 40%;
    max-width: 55%;
}

.info-details-wrap {
    a{
        img{
            border-radius: .625rem;
        }
    }
}

.product-filter-wrapper { 

    .product-filter-box { 
        .form-grp{ 
            .form-custom { 
                border: 1px solid v.$border; 
                border-radius: 7px;
            } 
        }
    }
}