@use './util/variabls' as v;
@use './util/mixin' as m;
@use './util/media-query' as q;

.stripe-settings-form-wrap{
    @include m.box(1.5rem,10px,v.$light);
    .form-group{
        label{
            @include m.para(1rem,600,v.$btnbg);
            display: block;
            margin-bottom: 0.6rem;
        }
        .form-control{
            @include m.para(1rem,400,v.$btnbg);
            border: 1px solid v.$fourth;
        }
    }
    .form-submit{
        margin-top: 1rem; 
        @include m.df(space-between);
        .btn-submit{
            @include m.button(1rem,v.$light,v.$gdbg);
            &:hover{
                background: v.$gdbg;
            }
        }
        .go-to-stripe{
            a{
                display: block;
                @include m.para(0.9rem,500,v.$fourth);
            }
        }
    }
}