@use './util/variabls' as v;
@use './util/mixin' as m;
@use './util/media-query' as q;


.email-camping-head {
    margin-bottom: 2rem;

    h1 {
        @include m.para(2.4rem, 700, v.$menuclr);
    }
}

.student-head-bttn {
    @include m.df(space-between); 
    margin-bottom: 2rem;

    ul.nav {
        @include m.df;

        li.nav-item {
            button.nav-link {
                @include m.button(1rem, v.$fourth, v.$light);
                border: 1px solid v.$border;
                border-radius: 3rem;
                margin-right: 1rem;

                &:hover {
                    background: v.$dark;
                    color: v.$light;
                }
            }

            button.active {
                background: v.$dark;
                color: v.$light;
            }
        }
    }
}

.student-search-wrap{
    display: grid;
    grid-template-columns: 70% 30%;
}

.student-search-box {
    width: 100%;
    position: relative;
    img{
        position: absolute;
        right: 1.5rem;
        top: 1rem;
        cursor: pointer;
    }
    .form-control {
        width: 100%;
        height: 3.2rem;
        border-radius: 3rem;
        @include m.para;
        padding-left: 1.5rem;
        border: none;
    } 
}

.student-bttn-box {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    button:last-child {
        @include m.button;
        border-radius: 3rem;
        color: v.$fourth;
        margin-left: 0.5rem; 
        text-align: center;

        &:hover {
            background-color: v.$dark;
            color: v.$light;
        }
    }

    button:first-child {
        @include m.button;
        border-radius: 3rem;
        margin-left: 0.5rem;
        color: v.$fourth; 
        border: 0;
        text-align: center;

        &:hover {
            background: v.$gdbg;
            color: v.$light;
        }
    }
}

.enroll__btn{
    @include m.button(1rem,v.$light,v.$gdbg);
    display: block;
    width: 100%;
    margin-top: 1rem;
    &:hover{
        opacity: .7;
        color: v.$light;
    }
}