@forward './base/index';
@use './util/index' as m;
@use './util/variabls' as v;
@use './util/media-query' as q;

// main body css @S
.main-body-wrapper {
    width: 100%;
    display: block;

    .main-page-wrapper {
        background-color: v.$mainbg;
        transition: all linear .3s;
    }

    .main-page-width {
        transition: all linear .3s;
    }
}

main {
    min-height: 100vh;
    padding: 6.188rem 1.5rem 1rem 17.588rem;
}

// main body css @E

.interrest-search-wrap .interrest-search-box #spiner {
    display: none;
}

.url-extra-field div {
    position: relative;
}

.url-extra-field div a {
    position: absolute;
    right: 1rem;
    top: 0.4rem;
    width: 1.5rem;
    height: 1.5rem;
    background: v.$fourth;
    border-radius: 50%;
    font-size: 0.9rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: v.$light !important;
    cursor: pointer;
}

.product-item-wrap .product-bttn-box {
    width: 100%;
}

.info-details-wrap {
    video {
        height: 20rem;
    }
}

.product-details-long {
    p {
        @include m.para(1rem, 400, v.$dark);
        line-height: 160%;
        margin: 0.6rem 0;
    }

    img {
        display: block;
        width: 75%;
        margin: 1rem auto;
    }
}

.lock-icons {
    i {
        font-size: .6rem !important;
    }
}

// interest css @S

.interrest-search-wrap {
    display: grid;
    grid-template-columns: 70% 30%;

    .interrest-search-box {
        width: 100%;
        position: relative;

        .form-control {
            width: 100%;
            height: 3.2rem;
            border-radius: 3rem;
            @include m.para;
            padding-left: 1.5rem;
            border: none;
        }

        #spiner {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .interrest-bttn-box {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;

        button:last-child,
        a:last-child {
            @include m.button;
            border-radius: 3rem;
            color: v.$fourth;
            margin-left: 0.5rem;
            text-align: center;

            &:hover {
                background-color: v.$dark;
                color: v.$light;
            }
        }

        button:first-child,
        a:first-child {
            @include m.button;
            border-radius: 3rem;
            margin-left: 0.5rem;
            color: v.$fourth;
            border: 0;
            text-align: center;

            &:hover {
                background: v.$gdbg;
                color: v.$light;
            }
        }
    }
}

.interrest-bttn-box {
    a {
        text-align: center;
    }
}

.popular-interest-wrap {
    margin-top: 1rem;

    h5 {
        @include m.para(1.2rem, 500, v.$dark);
        margin-bottom: 1rem;
    }

    .popular-imterest-box {
        ul {
            @include m.df;

            li {
                a {
                    @include m.button;
                    border-radius: 3rem;
                    background: v.$third;
                    padding: .76rem 1.3rem;
                    margin: 0 .4rem;
                    transition: all linear .2s;

                    &:hover {
                        background: v.$gdbg;
                        color: v.$light;
                    }
                }

                a.active {
                    background: v.$gdbg;
                    color: v.$light;
                }
            }
        }
    }

    .selection-textarea-box {
        margin-top: 1rem;
        position: relative;

        .selection-textbox {
            .form-control {
                border-radius: .7rem;
                padding: 1rem;
                @include m.para;
                border: none;
            }

            .fa-check {
                font-size: 2rem;
                color: v.$light;
                position: absolute;
                left: 50%;
                top: 50%;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                border: 0.2rem solid v.$light;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;
            }
        }

        .selection-textbox-check {
            position: relative;

            &:before {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: .7rem;
                background: v.$gdbg;
            }

            .fa-check {
                @extend .fa-check;
            }
        }

        .selection-copy-bttns {
            display: flex;
            justify-content: flex-end;
            margin-top: 1rem;

            a {
                @include m.para;
                font-size: 1.12rem;
                margin-left: 1.5rem;
                color: #8C8FAE;
                @include m.df;

                img {
                    margin-right: 0.4rem;
                }
            }
        }
    }
}

.clear-section {
    @include m.para(1rem, 400, v.$primary);
    display: inline-flex;
    align-items: center;

    img {
        margin-right: 0.6rem;
    }
}

.interest-search-result-wrap {
    margin-top: 1.5rem;

    h6 {
        @include m.para(1.2rem);

        span {
            color: v.$primary;
        }
    }

    .search-result-head {
        margin: 1.2rem 0;
        @include m.df(space-between);

        .form-check-label {
            @include m.para(.9rem);
            color: v.$fourth;
        }

        .form-check-input:checked {
            background-color: v.$primary;
            border-color: v.$primary;
        }

        a {
            @include m.para;
            font-size: 1rem;
            margin-left: 1.5rem;
            color: #8C8FAE;
            @include m.df;

            img {
                margin-right: 0.4rem;
                width: 1.2rem;
            }
        }
    }

    .search-result-table {
        margin-top: 1rem;
        margin-bottom: 2rem;

        table {
            width: 100%;

            tr {
                th {
                    @include m.para(1rem, 600, v.$light);
                    padding: 1rem 2rem;
                    background: v.$dark;

                    &:first-child {
                        border-radius: 10px 0px 0px 10px;
                    }

                    &:last-child {
                        border-radius: 0px 10px 10px 0px;
                    }
                }

                td {
                    padding: 1rem 1.4rem;

                    div {
                        @include m.para(1rem, 400, v.$fourth);

                        .form-check-input[type="checkbox"] {
                            border-radius: 50%;
                        }

                        .form-check-input:checked {
                            background-color: v.$primary;
                            border-color: v.$primary;
                        }

                        a {
                            margin-left: 0.6rem;
                        }
                    }

                }

                &:nth-child(even) {
                    td {
                        background: v.$light;

                        &:first-child {
                            border-radius: 10px 0px 0px 10px;
                        }

                        &:last-child {
                            border-radius: 0px 10px 10px 0px;
                        }
                    }
                }

            }
        }
    }
}

.interrest-tool-page-wrap {
    position: relative;
    transition: all linear .3s;
}

.save-to-project-modal {
    position: absolute;
    left: 50%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.589);
    display: none;
    transform: translateX(-50%);
    transition: all linear .3s;

    .saveto-modal-txt {
        max-width: 30%;
        width: 90%;
        margin: 0 auto;
        margin-top: 10rem;
        background: v.$mainbg;
        padding: 1.4rem;
        border-radius: .6rem;

        h4 {
            @include m.para(1.8rem, 500, v.$dark);
        }

        .form-group {
            margin-top: 1rem;

            label {
                @include m.para(1rem, 400, v.$fourth);
                margin-bottom: 0.5rem;
            }

            .form-control {
                @include m.para(1rem, 400, v.$fourth);
            }
        }

        .form-groups {
            margin-top: 1.6rem;

            .btn-submits {
                @include m.button(1rem, v.$light, v.$gdbg);
                padding: .5rem 2rem;
            }

            .btn-closes {
                @include m.button(1rem, v.$light, v.$fourth);
                padding: .5rem 1.7rem;
                margin-right: 1rem;
            }
        }
    }
}

.search-settings-main-wrap {
    position: absolute;
    left: 50%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 33, 33, 0.589);
    display: none;
    transform: translateX(-50%);
    transition: all linear .3s;
    z-index: 999;
}

.search-settings-wrap {
    background: v.$light;
    border-radius: .7rem;
    padding: 2rem;
    margin-top: 2rem;
    position: absolute;
    left: 2%;
    top: 4rem;
    width: 96%;
    transition: all linear .3s;
    z-index: 999;

    h6 {
        @include m.para(1.1rem, 500);
        margin-bottom: .6rem;
    }

    .form-control {
        background: #F4F8FC;
        border-radius: 3rem;
        height: 3.5rem;
        border: none;
        @include m.para(1rem, 500);
    }

    .word-settings-box {
        .word-item {
            @include m.df(space-between);
            margin-top: .6rem;

            p,
            .form-check-label {
                @include m.para(1rem, 500, v.$fourth);
            }

            .form-check-input[type="checkbox"] {
                border-radius: 50%;
            }

            .form-check-input:checked {
                background-color: v.$primary;
                border-color: v.$primary;
            }
        }
    }

    .me-md-5 {
        position: relative;

        &::before {
            position: absolute;
            content: "";
            right: -4rem;
            top: .5rem;
            width: 3px;
            height: 100%;
            background-color: v.$third;
        }
    }
}

.search-settings-wrap.active {
    transform: scale(1);
}

// interest css @E

// product research css @S

.product-filter-wrapper {
    margin-top: 1.2rem;
    margin-bottom: 1.5rem;

    h5 {
        @include m.para(1.3rem, 500, v.$dark);
    }

    .product-filter-box {
        @include m.df;
        margin-top: 1.2rem;

        .form-grp {
            position: relative;

            .form-custom {
                @include m.para;
                background-color: v.$light;
                border-radius: 3rem;
                margin-right: .7rem;
                height: 2.8rem;
                min-width: 8rem;
                max-width: 12rem;
                display: inline-block;
                border: 1px solid #000;
                padding-left: 2rem;
                padding-right: 2rem;
                -webkit-appearance: none;
                -moz-appearance: none;
                text-indent: 1px;
                text-overflow: '';
            }

            .fa-angle-down {
                position: absolute;
                right: 2rem;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

.product-item-wrap {
    @include m.box(0.7rem, 0.625rem, v.$light);
    margin-top: 1rem;
    height: 95%;
    @include m.df(space-between);
    flex-direction: column;

    .media {
        .product-thumb-box {
            margin-right: 1rem;

            img {
                width: 150px;
                height: 150px;
                object-fit: cover;
                border-radius: 0.625rem;
            }
        }

        .media-body {
            h4 {
                @include m.para(1.4rem, 500, v.$dark);
            }

            h5 {
                @include m.para(1.1rem, 500, v.$fourth);
                margin: .2rem 0;
            }

            .product-onfos {
                h6 {
                    @include m.para(1rem, 500, v.$dark);
                    margin-bottom: 0.4rem;
                }

                .p_infos-group {
                    display: flex;
                    flex-wrap: wrap;

                    span {
                        display: inline-flex;
                        align-items: center;
                        @include m.para(0.8rem, 500, v.$dark);
                        margin-right: 0.5rem;
                        margin-top: 0.2rem;

                        img {
                            margin-right: 0.3rem;
                        }
                    }
                }
            }
        }
    }

    .product-bttn-box {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: "f f f f f f f f f f s s";

        a:first-child {
            grid-area: f;
            @include m.para(1.1rem, 500, v.$light);
            background: v.$gdbg;
            line-height: 190%;
            box-shadow: v.$bxs;
            border-radius: 3rem;
            padding: .6rem 3rem;
            display: inline-block;
            text-align: center;

            &:hover {
                opacity: .7;
            }
        }

        a:last-child {
            grid-area: s;
            background: v.$third;
            box-shadow: v.$bxs;
            border-radius: 50%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 3.5rem;
            height: 3.5rem;
            margin-left: 1rem;

            &:hover {
                background: v.$dark;

                img {
                    filter: invert(92%) sepia(93%) saturate(0%) hue-rotate(202deg) brightness(106%) contrast(106%);
                }
            }
        }
    }
}

// details page css start
.product-research-details-page-wrap {
    margin-bottom: 1rem;

    .back-bttn {
        a {
            display: inline-block;
            @include m.para(1.2rem, 400, v.$dark);

            .fa-arrow-left {
                margin-right: 0.7rem;
            }
        }
    }

    .product-details-wrap {
        margin-top: 1rem;
        @include m.box(.8rem, .8rem, v.$light);

        .main-thumb {
            transition: all linear .3s;
            overflow: hidden;
            border-radius: .7rem;
            border: 1px solid v.$border;

            img {
                display: block;
                width: 100%;
                height: 19rem;
                object-fit: contain;
                border-radius: .7rem;
                transition: all linear .3s;
            }
        }

        .products-bttm-small-preiview {
            margin-top: .7rem;
            // @include m.df(flex-start);
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            a {
                img {
                    width: 5.1rem;
                    height: 4.7rem;
                    object-fit: cover;
                    border-radius: .4rem;
                }
            }
        }

        .product-details-txt-wrap {
            .d_flex {
                display: grid;
                grid-template-columns: 90% 10%;

                h1 {
                    @include m.para(2.4rem, 600, v.$dark);
                }

                .big-cart-cion {
                    background: v.$dark;
                    box-shadow: v.$bxs;
                    border-radius: 50%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 3.5rem;
                    height: 3.5rem;
                    margin-left: 1rem;

                    img {
                        filter: invert(92%) sepia(93%) saturate(0%) hue-rotate(202deg) brightness(106%) contrast(106%);
                    }

                }
            }

            h3 {
                @include m.para(1.4rem, 400, v.$fourth);
                margin: 1rem 0;
            }

            .product-tags-box {
                @include m.df;
                flex-wrap: wrap;

                span {
                    display: inline-block;
                    @include m.box(.5rem 1.5rem, 2rem, v.$third);
                    @include m.para(.9rem, 500, v.$dark);
                    margin-right: .6rem;
                    margin-bottom: 0.6rem;
                }
            }

            .ali-express-bttn {
                margin-top: 1.5rem;

                a {
                    display: inline-flex;
                    align-items: center;
                    @include m.button(.85rem, v.$light, v.$primary);
                    border-radius: .4rem;
                    padding: .4rem 1rem;

                    img {
                        margin-right: 0.4rem;
                    }
                }
            }

            .product-description {
                p {
                    @include m.para(1rem, 400, v.$dark);
                    margin-top: 1rem;
                }
            }

            .product-onfos {
                h6 {
                    @include m.para(1rem, 500, v.$dark);
                    margin-bottom: 0.4rem;
                }

                .p_infos-group {
                    display: flex;
                    flex-wrap: wrap;

                    span {
                        display: inline-flex;
                        align-items: center;
                        @include m.para(0.8rem, 500, v.$dark);
                        margin-right: 0.5rem;
                        margin-top: 0.2rem;

                        img {
                            margin-right: 0.3rem;
                        }
                    }
                }
            }
        }
    }
}

.pagginate-wrap {
    margin-top: 1.5rem;

    .page-link {
        color: v.$dark;
    }

    .active>.page-link,
    .page-link.active {
        background-color: v.$primary;
        border: v.$primary;
        color: v.$light;
    }
}

.productss-list-box {
    overflow-x: hidden;
    background: v.$light;

    table {
        width: 100%;
        margin-top: 0.5rem;

        tr {
            th {
                @include m.para(1rem, 500, v.$dark);
                padding: 12px 20px;
            }

            th:first-child {
                text-align: center;
            }

            td {
                @include m.para(1rem, 400, v.$fourth);
                padding: 12px 20px;

                .fas {
                    color: v.$primary;
                }
            }
        }
    }
}

.productss-list-box table {
    tr:nth-child(even) td {
        background-color: v.$border;
    }

    tr th:last-child,
    tr td:last-child {
        text-align: right;
    }
}

.form-grp {
    label {
        display: block;
        @include m.para(1rem, 500, v.$dark);
        margin-bottom: 0.4rem;
    }
}

.form-grp-btn {
    .btn {
        background: v.$gdbg;
        border-radius: 3rem;
        color: v.$light;
    }
}

.product-filter-wrapper .product-filter-box .form-grp .fa-angle-down {
    top: 70%;
}

// product research css @E

// responsive css start
@include q.responsive(phone) {
    .main-body-wrapper .main-page-wrapper {
        padding-left: 0;
        padding-top: 0;
    }

    main {
        min-height: 100vh;
        padding: 1rem !important;
        padding-top: 7rem !important;
    }

    .main-page-wrapper {
        padding-top: 75px;
    }

    .d-flex.justify-content-center.align-items-center {
        align-items: flex-start !important;

        h1 {
            font-size: 2rem !important;
        }
    }

    .product-details-long {
        img {
            width: 95%;
        }
    }

    .productss-list-box {
        padding: 1rem !important;
    }

    #myDataTable {
        width: 100%!important;
        display: block!important;
        overflow-x: scroll!important;
    }
    .productss-list-box{
        margin-top: 1rem;
    }
    .profile-page-wrap{ 
        .product-filter-wrapper .product-filter-box{
            grid-template-columns: 100%; 
        }
        .ms-auto{
            margin-right: auto!important;
            margin-bottom: 1rem;
        }
        .password-change-txt h1{
            font-size: 1.5rem;
        }
    }
    .student-head-bttn ul.nav li.nav-item button.nav-link {
        font-size: .9rem; 
        padding: 0.65rem .8rem!important; 
        margin-right: .6rem;
        margin-bottom: 0.8rem!important; 
    }
    .student-search-wrap {
        display: grid;
        grid-template-columns: 100%!important;
    }
    .student-bttn-box{
        margin-top: 1rem;
    }
   
}

@include q.responsive(landphone) {
    .main-body-wrapper .main-page-wrapper {
        padding-left: 0;
        padding-top: 0;
    }

    .product-details-long {
        img {
            width: 95%;
        }
    }

    main {
        min-height: 100vh;
        padding: 1rem !important;
        padding-top: 9rem !important;
    }

    .save-to-project-modal .saveto-modal-txt {
        max-width: 50%;
    }
}

@include q.responsive(tablet) {
    .main-body-wrapper .main-page-wrapper {
        padding-left: 0;
        padding-top: 0;
    }

    main {
        min-height: 100vh;
        padding: 1rem !important;
        padding-top: 9rem !important;
    }

    .save-to-project-modal .saveto-modal-txt {
        max-width: 50%;
    }
}

@include q.responsive(landtablet) {
    .main-body-wrapper .main-page-wrapper {
        padding-left: 0;
        padding-top: 0;
    }

    main {
        min-height: 100vh;
        padding: 1rem !important;
        padding-top: 6rem !important;
        padding-left: 7rem !important;
    }

    .save-to-project-modal .saveto-modal-txt {
        max-width: 50%;
    }
}