@use './util/index' as m;
@use './util/variabls' as v;
@use './util/media-query' as q;

.message-list-page-wrap {
    .messages-box {
        border-radius: 0.5rem;
        border: 1.5px solid var(--neutral-40, #C5CCD8);
        background-color: #fff;
        display: grid;
        grid-template-columns: 31.5% 68.5%;
        min-height: 75vh;

        .chat-person-list-box {
            border-right: 1px solid var(--neutral-40, #C5CCD8);
            background: var(--white, #FFF);
            border-radius: 0.5rem 0 0 0.5rem;
            max-height: 82vh;
            overflow-y: hidden;


            .title {
                padding: 1.25rem 1rem;
                @include m.df(space-between);

                a {
                    border-radius: 0.5rem;
                    border: 1px solid var(--primary-color-blue-light, #3D5CFF);
                    background: var(--White, #FFF);
                    padding: 0.625rem;
                    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                    color: var(--primary-color-blue-light, #3D5CFF);
                    font-size: 0.75rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.25rem;
                    display: inline-flex;
                    align-items: center;
                    transition: ease-in-out .3s;

                    &:hover {
                        background-color: #3D5CFF;
                        color: #fff;

                        img {
                            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(6deg) brightness(107%) contrast(114%);
                            transition: ease-in-out .3s;
                        }
                    }

                    img {
                        margin-right: 0.4rem;
                        transition: ease-in-out .3s;
                    }
                }
            }

            h1 {
                color: var(--neutral-90, #101C2D);
                font-size: 1.125rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.75rem;

                span {
                    border-radius: 1rem;
                    background: #FFF6F5;
                    color: var(--primary-red-dark, #B53223);
                    font-size: 0.75rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.125rem;
                    padding: .2rem .5rem;
                }
            }

            .header-filter {
                display: grid;
                grid-template-columns: 70% 30%;
                border-bottom: 1px solid #F1F4F9;
                padding: 0.75rem 1rem;
                padding-bottom: 1.5rem;

                .chat-filter {
                    .dropdown {
                        text-align: right;

                        .dropdown-menu.show {
                            display: block;
                            padding: 0;
                            border: 0;
                            border-radius: 0.5rem;
                            border: 1px solid var(--gray-200, #E4E7EC);
                            background: #FFF;
                            box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.10);
                            min-width: 6.25rem !important;

                            .dropdown-menu {
                                li {


                                    &:first-child {
                                        .dropdown-item {
                                            border-radius: 0.5rem 0.5rem 0 0 !important;
                                        }
                                    }

                                    &:last-child {
                                        .dropdown-item {
                                            border-radius: 0 0 0.5rem 0.5rem !important;
                                        }
                                    }
                                }
                            }

                            .dropdown-item {
                                text-align: center;
                                padding: 0.4rem 0.75rem;
                                color: var(--gray-700, #344054);
                                font-size: 0.875rem;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 1.375rem;

                                &:hover {
                                    background: #F1F4F9 !important;
                                }
                            }

                            .dropdown-item.active {
                                background: #F1F4F9 !important;
                            }
                        }

                        .btn {
                            border-radius: 0.5rem;
                            border: 1px solid #E5ECF6;
                            background: var(--White, #FFF);
                            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                            color: #66768E;
                            font-size: 0.75rem;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 1.25rem;
                            padding: 0.625rem;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;

                            img {
                                margin-right: 0.5rem;
                            }

                            &:active,
                            &:focus,
                            &:focus-within {
                                border: 1px solid #E5ECF6 !important;
                                box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
                            }
                        }
                    }
                }
            }

            .search {
                position: relative;
                margin-right: 1rem;

                input {
                    border-radius: 0.5rem;
                    border: 1px solid var(--neutral-30, #E5ECF6);
                    background: var(--White, #FFF);
                    padding: 0.625rem 0.875rem;
                    color: var(--neutral-60, #66768E);
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5rem;
                    padding-left: 2.5rem;
                    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

                }

                img {
                    position: absolute;
                    left: 12px;
                    top: 13.5px;
                    width: 1.2rem;
                }
            }
        }

        .chat-main-body-box {
            .main-chat-inner-room{
                display: flex;
                flex-direction: column;
                gap: 2rem; 
            }
            .main-chat-room {
                display: flex;
                padding: 2.5rem 2rem 2rem 2rem;
                flex-direction: column;
                gap: 2rem;
                min-height: 70vh;
                max-height: 70vh;
                overflow-y: auto;
                margin-top: 5rem;
                margin-bottom: 8rem;

                .message-item:nth-child(2) {
                    margin-top: auto;
                }

                .message-item {
                    max-width: 90%;

                    .media.main-media {
                        align-items: flex-start;
                        display: inline-flex;

                        .avatar {
                            position: relative;
                            margin-right: 0.75rem;

                            img {
                                width: 2.5rem;
                                height: 2.5rem;
                                display: inline-block;
                                border-radius: 50%;
                                object-fit: cover;
                            }

                            i {
                                position: absolute;
                                right: 0;
                                bottom: 0;
                                font-size: 8px;
                                color: #43B324;
                                border: 2px solid #fff;
                                border-radius: 50%;
                            }
                        }

                        .d-flex {
                            align-items: center;
                            justify-content: space-between;

                            h6 {
                                color: var(--neutral-70, #2F3A4C);
                                font-size: 0.875rem;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 1.25rem;
                            }

                            span {
                                display: inline-block;
                                color: var(--neutral-60, #66768E);
                                font-size: 0.75rem;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 1.125rem;
                            }
                        } 
                    }

                    .text {
                        border-radius: 0rem 0.5rem 0.5rem 0.5rem;
                        background: var(--neutral-10, #F9FAFB);
                        padding: 0.625rem 0.875rem;
                        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
                        margin-top: 0.4rem;
                        display: block;
                        width: 100%;

                        p {
                            color: var(--neutral-90, #101C2D);
                            font-size: 1rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 1.5rem;

                        }
                    }

                    .typing {
                        padding: 0.3rem 0.625rem;
                        margin-top: 0.5rem;
                        border-radius: 0rem 0.5rem 0.5rem 0.5rem;
                        background: var(--neutral-10, #F9FAFB);
                        display: inline-block;
                        width: auto;
                        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);

                        i {
                            font-size: 1.5rem;
                        }
                    }

                    .file {
                        padding: 0.625rem 0.875rem;
                        border-radius: 0rem 0.5rem 0.5rem 0.5rem;
                        border: 1px solid var(--neutral-20, #F1F4F9);
                        background: var(--neutral-white, #FFF);
                        display: block;
                        width: 100%;
                        margin-top: 0.4rem;
                        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);

                        .media {
                            align-items: center;

                            img {
                                margin-right: 1rem;
                            }

                            h5 {
                                color: var(--neutral-70, #2F3A4C);
                                font-size: 0.875rem;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 1.25rem;
                            }

                            p {
                                color: var(--neutral-60, #66768E);
                                font-size: 0.875rem;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 1.25rem;
                            }
                        }
                    }

                    .react-box {
                        text-align: right;
                        margin-top: 0.5rem;

                        ul {
                            li {
                                display: inline-block;

                                span {
                                    font-size: 1.4rem;
                                    display: inline-block;
                                    padding: 0rem 0.5rem;
                                    border-radius: 1rem;
                                    background-color: #F9FAFB;
                                }
                            }
                        }
                    }
                }

                .sender-item {
                    margin-left: auto;

                    .file {
                        border-radius: 0.5rem 0rem 0.5rem 0.5rem;
                        background: var(--primary-color-blue-light, #3D5CFF);
                        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);

                        .media {
                            h5 {

                                a {
                                    color: #fff !important;
                                }
                            }

                            span {
                                color: #fff !important;
                            }
                        }
                    }

                    .media.main-media {
                        .text {
                            border-radius: 0.5rem 0rem 0.5rem 0.5rem;
                            background: var(--primary-color-blue-light, #3D5CFF);
                            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);

                            p {
                                color: #fff !important;
                            }
                        }
                    }
                }

                .date-status {
                    text-align: center;
                    width: 100%;
                    position: relative;

                    hr {
                        display: block;
                        width: 100%;
                        border: 0;
                        background-color: #cacccf;
                        height: 0.0625rem;
                    }

                    span {
                        color: var(--neutral-60, #66768E);
                        font-size: 0.875rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.25rem;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        top: 6px;
                        background-color: #fff;

                    }
                }

            }

            .main-chat-room::-webkit-scrollbar {
                width: 8px;
            }

            .main-chat-room::-webkit-scrollbar-track {
                background: #f1f1f1;
                border-radius: 1rem;
            }

            .main-chat-room::-webkit-scrollbar-thumb {
                background: #888;
                border-radius: 1rem;
            }

            .main-chat-room::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

            .dock-bottom {
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 999;
                width: 100%;
                background-color: #fff;
            }

            .message-send-box {
                padding: 1rem 2rem;
                position: relative;

                input {

                    border-radius: 0.5rem;
                    border: 1px solid var(--neutral-30, #E5ECF6);
                    background: var(--neutral-white, #FFF);
                    padding: 0.625rem 0.875rem;
                    height: 3.5rem;
                    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
                    color: var(--neutral-60, #66768E);
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5rem;
                }

                .file-attach-bttns {
                    position: absolute;
                    right: 45px;
                    top: 24px;
                    z-index: 99;
                    display: inline-flex;
                    align-items: center;

                    .btn {
                        margin-left: 0.5rem;
                    }

                    .btn-emoji {
                        width: 2rem;
                        padding: 0;
                    }

                    .btn-submit {
                        border-radius: 0.375rem;
                        background: var(--primary-color-blue, #294CFF);
                        color: var(--neutral-white, #FFF);
                        height: 2.5rem;
                        padding: 0.6875rem 1rem;
                        font-size: 0.875rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 1.25rem;
                        transition: ease-in-out .3s;

                        &:hover {
                            background-color: #344054;
                        }
                    }
                }
            }
        }

    }
}

.chat-room-head {
    background: var(--neutral-white, #FFF);
    box-shadow: 0px 6px 34px 0px rgba(0, 0, 0, 0.08);
    padding: 1.25rem 1.5rem 1.1875rem 1.5rem;
    border-radius: 0 10px 0 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;

    .media {
        align-items: center;

        .view-bttn {
            padding: 0.6875rem 1rem;
            border-radius: 0.375rem;
            padding: 0.6875rem 1rem;
            background: var(--primary-color-blue, #294CFF);
            color: var(--neutral-white, #FFF);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
            display: inline-block;
            height: 2.5rem;
            transition: ease-in-out .3s;

            &:hover {
                background-color: #2F3A4C;
            }
        }

        img {
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 12.5rem;
            object-fit: cover;
            margin-right: 1rem;
        }

        .name {
            color: var(--neutral-90, #101C2D);
            font-size: 1.125rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.75rem;
            display: flex;
            align-items: center;

            span {
                border-radius: 1rem;
                background: var(--success-green-lightest, #E8F6E5);
                display: inline-flex;
                padding: 0.125rem 0.5rem 0.125rem 0.375rem;
                justify-content: center;
                align-items: center;
                color: var(--success-green-dark, #2A920B);
                text-align: center;
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.125rem;
                margin-left: 1rem;

                i {
                    font-size: 8px;
                    margin-right: 0.5rem;
                }
            }

            span.offline {
                color: #66768E;
                background: #66768e47;
            }
        }

        p {
            color: var(--neutral-60, #66768E);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.25rem;
        }
    }
}

.person-tab-body {
    max-height: 38rem;
    overflow-y: scroll;
}

.person-tab-body::-webkit-scrollbar {
    width: 6px;
}

.person-tab-body::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1rem;
}

.person-tab-body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
}

.person-tab-body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.person-suggest-box-list,
.person-tab-body {
    .single-person {
        display: block;
        margin: 0.75rem 0;
        border-bottom: 1px solid #F1F4F9;
        padding-bottom: 0.75rem;
    }

    .media {
        align-items: center;
        padding: 1rem 2rem;
        padding-right: 1rem;
        transition: ease-in-out .3s;
        cursor: pointer;

        &:hover {
            background: #EDEFFC;
        }

        .avatar {
            position: relative;
            margin-right: 1rem;

            img {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                object-fit: cover;
            }

            i {
                position: absolute;
                right: 0px;
                bottom: -1px;
                font-size: 9px;
                color: #43B324;
                border: 2px solid #fff;
                border-radius: 50%
            }
        }

        .name {
            @include m.df(space-between);
        }

        a.name {
            color: var(--neutral-70, #2F3A4C);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
        }

        p {
            overflow: hidden;
            color: var(--neutral-60, #66768E);
            text-overflow: ellipsis;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.25rem;
            display: flex;
            align-items: center;

            span {
                color: var(--neutral-60, #66768E);
                font-size: 0.75rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.25rem;
                margin-left: 1rem;
            }
        }

        .dropdown {
            .btn {
                border-radius: 1.5rem;
                background: var(--gray-50, #F9FAFB);
                width: 2rem;
                height: 2rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: #475467;
            }

            .dropdown-menu.show {
                border-radius: 0.375rem;
                background: var(--background-light-paper, #FFF);
                box-shadow: -20px 20px 40px -4px rgba(145, 158, 171, 0.15), 0px 0px 2px 0px rgba(145, 158, 171, 0.15);
                padding: 0.625rem 0.5rem;
                min-width: 16rem !important;

                .dropdown-item {
                    overflow: hidden;
                    color: var(--gray-700, #344054);
                    text-overflow: ellipsis;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.375rem;
                    font-family: Inter;
                    padding: 0.625rem 0.5rem;
                    border-radius: 0.375rem;
                    background: var(--gray-white, #FFF);
                    display: flex;
                    align-items: center;
                    transition: ease-in-out .3s;

                    &:hover {
                        background: #F1F4F9;
                    }

                    img {
                        margin-right: 0.6rem;
                    }
                }

                .active.dropdown-item {
                    background: #F1F4F9;
                }
            }
        }

    }

}

span.user-name-avatar{
    border-radius: 6.25rem;
    border: 2px solid var(--neutral-10, #FFF);
    width: 2.5rem;
    height: 2.5rem;
    -o-object-fit: cover;
       object-fit: cover; 
    font-size: 1rem;
    background-color: #E0E0E0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #294CFF;
}

.person-tab-body .single-person.active .media{
    background: #EDEFFC!important;
}

.person-tab-body.chat-user-load.active {
    display: none !important;
}

.create-group-form::-webkit-scrollbar {
    width: 6px;
}

.create-group-form::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 1rem;
}

.create-group-form::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
}

.create-group-form::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.blank-chat-page {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 47vh;

    i {
        font-size: 3rem;
        color: #294CFF;
    }

    h3 {
        color: var(--neutral-90, #101C2D);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.75rem;
        margin-top: 1rem;
    }
}

.message-attached {
    cursor: pointer;
    margin-right: 0.5rem;

    i {
        color: #475467;
    }
}

.file-preview {
    position: absolute;
    right: 34px;
    top: -49px;
    z-index: 99;
    display: none; 

    img {
        width: 6rem;
        height: 4.1rem;
        object-fit: contain;
        border-radius: 6px; 
        border: 1px solid #294CFF;
    }

    .preview-actions {
        margin-left: -8px;
        background: #ED5763;
        height: 1.1rem;
        width: 1.1rem;
        border-radius: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        cursor: pointer; 
        color: #fff;
    }
}

.close-icon {
    display: none;
}

.create-group-form {
    padding: 1.5em;
    max-height: 96vh;
    overflow-y: scroll;
    padding-bottom: 17rem;

    h4 {
        color: var(--neutral-90, #101C2D);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.75rem;
        border-bottom: 1px solid var(--gray-200, #E4E7EC);
        padding-bottom: 0.5rem;
        margin-bottom: 0.8rem;
    }

    .media {
        align-items: center;

        img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 1rem;
        }

        h6 {
            color: var(--neutral-70, #2F3A4C);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
        }

        p {
            overflow: hidden;
            color: var(--neutral-60, #66768E);
            text-overflow: ellipsis;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.25rem;
        }
    }

    .form-group {
        margin-top: 1.5rem;
        position: relative;

        label {
            color: var(--neutral-color-neutral-90, #101C2D);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
            margin-bottom: 0.5rem;
        }

        .form-control {
            border-radius: 0.375rem;
            border: 1px solid var(--neutral-color-neutral-30, #E5ECF6);
            background: var(--gray-white, #FFF);
            padding: 1rem 0.75rem;
            color: var(--neutral-color-neutral-60, #66768E);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.25rem;
        }

        img {
            position: absolute;
            right: 0.875rem;
            top: 46px;
        }
    }

    .suggested-name-box {
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        div {
            border-radius: 0.25rem;
            background: var(--primary-color-blue-lightest, #E7EBFF);
            display: inline-flex;
            align-items: center;
            padding: 0.25rem 0.575rem;
            margin-top: 1rem;
            margin-right: 1rem;

            span {
                color: var(--neutral-70, #2F3A4C);
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.25rem;
            }

            img {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 0.4rem;
            }

            i {
                font-size: 0.875rem;
                color: #344054;
                display: inline-block;
                margin-left: 1rem;
            }
        }
    }

    .form-submit {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        margin-top: 1.5rem;

        .btn-cancel {
            border-radius: 0.375rem;
            border: 1px solid var(--gray-300, #D0D5DD);
            background: var(--gray-white, #FFF);
            padding: 0.75rem 1rem;
            color: var(--gray-500, #667085);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
            margin-right: 1rem;
            transition: ease-in-out .3s;

            &:hover {
                background-color: #294CFF;
                color: #fff;
            }
        }

        .btn-create {
            border: 1px solid var(--gray-300, #294CFF);
            border-radius: 0.375rem;
            padding: 0.75rem 1rem;
            background: var(--primary-color-blue, #294CFF);
            color: var(--neutral-white, #FFF);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
            margin-left: 1rem;
            transition: ease-in-out .3s;

            &:hover {
                background-color: #fff;
                color: #294CFF;
            }
        }
    }
}

.header-filter.active {
    display: none !important;
}

.chat-person-list-box {
    position: relative;
}

.form-group-submit {
    position: absolute;
    left: 5%;
    bottom: 2%;
    // z-index: 99;
    width: 90%;
    transition: none;
    background-color: #fff;
}

.group-room-header {
    .peoples {
        display: flex;
        align-items: center;

        li {
            margin-left: -6px !important;

            img {
                border-radius: 50%;
                border: 1.5px solid var(--White, #FFF);
                width: 1.5rem !important;
                height: 1.5rem !important;
                object-fit: cover;
                margin-right: 0 !important;
                display: inline-block;
            }

            span {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: var(--primary-color-blue-light, #3D5CFF);
                font-size: 0.75rem;
                font-style: normal;
                width: 1.5rem !important;
                height: 1.5rem !important;
                font-weight: 500;
                line-height: 1.125rem;
                border-radius: 12.5rem;
                border: 2px solid var(--White, #FFF);
                background: var(--primary-color-blue-lightest, #E7EBFF);
            }
        }
    }

    .dropdown {
        .btn {
            border-radius: 1.5rem;
            background: var(--gray-50, #F9FAFB);
            width: 2rem;
            height: 2rem;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #475467;
        }

        .dropdown-menu.show {
            padding: 0;
            border-radius: 0.5rem;
            background: #FFF;
            box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.10);
            min-width: 13rem !important;
            border: 0 !important;

            .dropdown-item {
                overflow: hidden;
                color: var(--gray-700, #344054);
                text-overflow: ellipsis;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.375rem;
                padding: 0.875rem;
                border-radius: 0.375rem;
                background: var(--gray-white, #FFF);
                display: flex;
                align-items: center;
                transition: ease-in-out .3s;

                &:hover {
                    background: rgba(61, 92, 255, 0.05);
                    color: #3D5CFF;

                    img {
                        filter: invert(28%) sepia(56%) saturate(2583%) hue-rotate(220deg) brightness(106%) contrast(104%);
                    }
                }

                img {
                    margin-right: 0.6rem;
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }

            .active.dropdown-item {
                background: rgba(61, 92, 255, 0.05);
                color: #3D5CFF;

                img {
                    filter: invert(28%) sepia(56%) saturate(2583%) hue-rotate(220deg) brightness(106%) contrast(104%);
                }
            }
        }
    }
}

.chat-main-body-box {
    position: relative;
    max-height: 82vh;
    overflow-y: hidden;
}

.view-profile-box {
    border-left: 1px solid #EAEAEA;
    background: #FFF;
    box-shadow: -4px 4px 25px 0px rgba(142, 152, 163, 0.10);
    width: 17.5rem;
    padding: 1.5rem;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9999;
    border-radius: 0 0.875rem 0.875rem 0;

    .open-profile {
        cursor: pointer;
    }

    a {
        i.fa-close {
            font-size: 1.2rem;
            color: #344054;
        }
    }

    .profile-box {
        text-align: center;

        a {
            display: block;
            text-align: left;
        }

        .avatar {
            width: 5.625rem;
            height: 5.625rem;
            border-radius: 50%;
            object-fit: cover;
            margin: 0 auto;
            position: relative;

            i {
                position: absolute;
                right: 2px;
                bottom: 3px;
                font-size: 0.675rem;
                color: #43B324;
                border: 2px solid #fff;
                border-radius: 50%;
            }
        }

        h5 {
            color: var(--neutral-70, #2F3A4C);
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
            margin-top: 0.75rem;
        }

        p {
            color: var(--neutral-60, #66768E);
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.125rem;
        }

        .btn-remove {
            border-radius: 0.25rem;
            border: 1px solid #ED5763;
            background: var(--White, #FFF);
            box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
            padding: 0.625rem 1rem;
            color: #ED5763;
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
            transition: ease-in-out .3s;
            margin-top: 1rem;

            &:hover {
                background-color: #ED5763;
                color: #fff;
            }
        }
    }

    hr {
        background-color: #E4E7EC;
        height: 0.0625rem;
        margin: 1.5rem 0;
    }

    h5 {
        color: var(--gray-800, #1D2939);
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
    }

    .media {
        align-items: center;
        margin-top: 0.75rem;

        i {
            color: #101C2D;
            margin-right: 1rem;
        }

        h6 {
            color: var(--gray-700, #344054);
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 500;
            line-height: 100%;
        }

        a {
            color: var(--primary-color-blue-light, #3D5CFF);
            font-size: 0.75rem;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
        }
    }
}

#profileBox {
    display: none;
}

#profileBox.active {
    display: block !important;
}

.open-profile {
    cursor: pointer;
}

.custom-modal-box {
    .modal-content {
        border-radius: 0.75rem;
        background: var(--gray-white, #FFF);
        box-shadow: -20px 20px 40px -4px rgba(0, 0, 0, 0.24), 0px 0px 2px 0px rgba(0, 0, 0, 0.24);
    }
}

.error-bttn {
    .btn-create {
        background-color: #E43242 !important;
        border-color: #E43242 !important;

        &:hover {
            background-color: #fff !important;
            color: #E43242 !important;
        }
    }
}

.typing-status-area{
    // position: absolute;
    // left: 30px;
    // bottom: 90px;
    // z-index: 9;
    width: 80%;

    .message-item{
        // width: 80%;
        margin-top: auto;
        .media.main-media {
            align-items: flex-start;
            display: inline-flex;

            .avatar {
                position: relative;
                margin-right: 0.75rem;

                img {
                    width: 2.5rem;
                    height: 2.5rem;
                    display: inline-block;
                    border-radius: 50%;
                    object-fit: cover;
                }

                i {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    font-size: 8px;
                    color: #43B324;
                    border: 2px solid #fff;
                    border-radius: 50%;
                }
            }

            .d-flex {
                align-items: center;
                justify-content: space-between;

                h6 {
                    color: var(--neutral-70, #2F3A4C);
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 1.25rem;
                }

                span {
                    display: inline-block;
                    color: var(--neutral-60, #66768E);
                    font-size: 0.75rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.125rem;
                }
            } 
        }
    }
}










@include q.responsive(phone) {
    .message-list-page-wrap .messages-box .chat-person-list-box .header-filter .chat-filter .dropdown .btn{
        font-size: 1rem;
        img{
            display: none!important;
        }
    }
    .message-list-page-wrap .messages-box {
        grid-template-columns: 100%;
    }

    .message-list-page-wrap .messages-box .chat-person-list-box .title {
        padding: .8rem;
    }

    .chat-room-head {
       padding: 1rem;
       border-top: 1px solid #1D2939;
    }

    .message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room {
        padding: 0.8rem;
    }

    .message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .chat-messages-box .message-item {
        margin-bottom: 0.2rem;
        padding: 0.6rem;
        font-size: 12px;
    }
    .chat-room-head .media .view-bttn{
        display: none;
    }

    .chat-room-head .media img {
        width: 2.5rem;
        height: 2.5rem; 
        margin-right: 0.5rem;
    }
    .chat-room-head .media .name{
        font-size: 1rem;
    }
    .message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room {
        min-height: 65vh;
        max-height: 65vh; 
    }
}


@include q.responsive(landphone) {
    .message-list-page-wrap .messages-box {
        grid-template-columns: 100%;
    }

    .message-list-page-wrap .messages-box .chat-person-list-box .title {
        padding: .8rem;
    }

    .chat-room-head {
        padding: 1rem;
        border-top: 1px solid #1D2939;
     }
 
     .message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room {
         padding: 0.8rem;
     }
 
     .message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .chat-messages-box .message-item {
         margin-bottom: 0.2rem;
         padding: 0.6rem;
         font-size: 12px;
     }
     .chat-room-head .media .view-bttn{
         display: none;
     }
 
     .chat-room-head .media img {
         width: 2.5rem;
         height: 2.5rem; 
         margin-right: 0.5rem;
     }
     .chat-room-head .media .name{
         font-size: 1rem;
     }
     .message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room {
         min-height: 65vh;
         max-height: 65vh; 
     }

    .message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room {
        padding: 0.8rem;
    }

    .message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .chat-messages-box .message-item {
        margin-bottom: 0.2rem;
        padding: 0.6rem;
        font-size: 12px;
    }
}

@include q.responsive(tablet) {
    .message-list-page-wrap .messages-box .chat-person-list-box .header-filter .chat-filter .dropdown .btn img{
        display: none!important;
    }
}
@include q.responsive(landtablet) {
    .message-list-page-wrap .messages-box .chat-person-list-box .header-filter .chat-filter .dropdown .btn img{
        display: none!important;
    }

    .message-list-page-wrap .messages-box .chat-amain-body-box .main-chat-room {
        min-height: 65vh;
        max-height: 65vh; 
    }

}
@include q.responsive(regular) {

    .message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room {
        min-height: 65vh;
        max-height: 60vh; 
    }

}
@include q.responsive(large) {

    .message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room {
        min-height: 62vh;
        max-height: 62vh; 
    }

}