@use './util/variabls' as v;
@use './util/mixin' as m;
@use './util/media-query' as q;

.user-grid-box{
    @include m.box(1rem,0.675rem,v.$light);
    margin-bottom: 1.2rem;
    .header-action{
        ul{
            @include m.df(flex-end);
            li{
                .btn,
                a{
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    border: 1px solid v.$fourth;
                    margin-left: 0.8rem;
                    i{
                        font-size: .8rem;
                        color: v.$fourth;
                    }
                    &:hover{
                        background: v.$gdbg;
                        i{
                            color: v.$light;
                        }
                    }
                }
            }
        }
    }
    .avatar{
        text-align: center;
        img{
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
            border: 4px solid v.$primary;
            object-fit: cover;
        }
        span {
            width: 7rem;
            height: 7rem;
            border: 4px solid v.$primary;
            background: linear-gradient(132deg, #4c60ff 20%, #2b91fe);
            border-radius: 50%;
            color: #ffffff;
            font-size: 3rem;
            font-weight: 600;
            display: inline-flex;
            align-items: center;
            justify-content: center;
          }
    }
    .txt{
        margin: 1.7rem 0;
        text-align: center;
        h4{
            @include m.para(1.1rem,600,v.$btnbg);
            margin-bottom: 0.2rem;
        }
        h5{
            @include m.para(0.9rem,400,v.$fourth);
        }
    }
    .ftr{
        text-align: center;
        a{
            display: inline-block;
            @include m.para(0.9rem,400,v.$light);
            background: v.$fourth;
            border-radius: 5rem;
            padding: .6rem 1.2rem;
            text-transform: uppercase;
            transition: all linear .2s;
            &:hover{
                background: v.$gdbg;
            }
        }
    }
}