/node_modules
/public/build
/public/hot
/public/storage
/public/assets/images/courses/*
/public/assets/images/bundle-courses/*
/public/assets/images/instructor/*
/public/assets/images/students/*
/public/assets/images/lessons/*
/public/assets/images/modules/*
/public/assets/images/setting/*
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
composer.lock
.DS_Store
```