.login-section {
  padding-top: 8rem;
}

.login-form-wrap {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  padding: 1.2rem 2rem;
  max-width: 410px;
  background: #ffffff;
  box-shadow: 0px 2px 8px 5px #DEE3EB;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.login-form-wrap h1 {
  font-size: 1.6rem;
  font-weight: 500;
  color: #2d3958;
  line-height: 140%;
  margin-bottom: 1rem;
}
.login-form-wrap .form-group {
  margin-bottom: 0.8rem;
  position: relative;
}
.login-form-wrap .form-group label {
  font-size: 1rem;
  font-weight: 400;
  color: #2d3958;
  line-height: 140%;
  margin-bottom: 8px;
}
.login-form-wrap .form-group .form-control {
  font-size: 1rem;
  font-weight: 400;
  color: #2d3958;
  line-height: 140%;
}
.login-form-wrap .form-group i {
  position: absolute;
  right: 20px;
  top: 41.5px;
}
.login-form-wrap .form-check label {
  font-size: 0.9rem;
  font-weight: 400;
  color: #2d3958;
  line-height: 140%;
  margin-bottom: 0;
}
.login-form-wrap .d-flex {
  align-items: center;
  margin: 1.2rem 0;
}
.login-form-wrap .d-flex a {
  font-size: 0.9rem;
  font-weight: 400;
  color: #4c60ff;
  line-height: 140%;
}
.login-form-wrap .form-check-input {
  border: 1px solid #2d3958;
}
.login-form-wrap .form-check-input:checked {
  background-color: #2d3958;
  border-color: #2d3958;
}
.login-form-wrap .form-bttn .btn-submit {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  line-height: 140%;
  background: linear-gradient(132deg, #4c60ff 20%, #2b91fe);
  display: inline-block;
  padding: 0.85rem 1.5rem;
}
.login-form-wrap .form-bttn .btn-submit:hover {
  background: linear-gradient(132deg, #4c60ff 20%, #2b91fe);
}
.login-form-wrap .login-logo-wrap p {
  font-size: 0.8rem;
  font-weight: 500;
  color: #2d3958;
  line-height: 140%;
  margin-top: 1rem;
}
.login-form-wrap h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #2d3958;
  line-height: 140%;
  margin-bottom: 1.5rem;
}

.form-aggree {
  margin-bottom: 1.5rem 0 1rem;
}
.form-aggree label.form-check-label {
  font-size: 0.8rem;
  font-weight: 400;
  color: #2d3958;
  line-height: 140%;
  margin-left: 12px;
}
.form-aggree label a {
  color: #2d3958;
  text-decoration: underline;
}

.login-header-section .header-logo-wrap {
  margin-bottom: 0;
}

.registerr {
  color: #4c60ff;
}

/* login css end */
.subscription-section {
  margin-bottom: 2rem;
}
.subscription-section .subscription-header {
  margin-top: 7rem;
  text-align: center;
  margin-bottom: 2rem;
}
.subscription-section .subscription-header h1 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #2d3958;
  line-height: 140%;
  line-height: 120%;
}
.subscription-section .subscription-header p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #2d3958;
  line-height: 140%;
  width: 75%;
  margin: 0 auto;
  margin-top: 0.5rem;
}
.subscription-section .plan-tab-head {
  margin-bottom: 1.6rem;
}
.subscription-section .plan-tab-head .nav {
  justify-content: center;
}
.subscription-section .plan-tab-head .nav .nav-item .nav-link {
  border: 2px solid #4c60ff;
  border-radius: 1px;
  font-size: 1rem;
  font-weight: 500;
  color: #4c60ff;
  line-height: 140%;
}
.subscription-section .plan-tab-head .nav .nav-item .nav-link.active {
  background: linear-gradient(132deg, #4c60ff 20%, #2b91fe);
  color: #ffffff;
}
.subscription-section .subscription-plan-box {
  text-align: center;
  width: 80%;
  height: -moz-max-content;
  height: max-content;
  padding: 2rem 2rem;
  max-width: 410px;
  background: #ffffff;
  box-shadow: 0px 2px 8px 5px #dfe5f1;
  border-radius: 7px;
  margin: 0 auto;
}
.subscription-section .subscription-plan-box .plan-header h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #4c60ff;
  line-height: 140%;
  text-transform: uppercase;
}
.subscription-section .subscription-plan-box .plan-body h5.plan-title {
  margin: 0.8rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #2d3958;
  line-height: 140%;
}
.subscription-section .subscription-plan-box .plan-body h5.plan-title span {
  font-size: 1.2rem;
  font-weight: 500;
}
.subscription-section .subscription-plan-box .plan-body ul {
  text-align: left;
}
.subscription-section .subscription-plan-box .plan-body ul li {
  margin-bottom: 0.6rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: #2d3958;
  line-height: 140%;
}
.subscription-section .subscription-plan-box .plan-body ul li i {
  font-size: 1rem;
  color: #4c60ff;
  margin-right: 0.3rem;
}
.subscription-section .subscription-plan-box .plan-body ul li.na i {
  color: #8C8FAE;
}
.subscription-section .subscription-plan-box .plan-body ul li.na sup {
  font-size: 0.66rem;
  color: #8C8FAE;
}
.subscription-section .subscription-plan-box .plan-footer {
  margin-top: 1.5rem;
}
.subscription-section .subscription-plan-box .plan-footer a.plan-btn {
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border: 2px solid linear-gradient(132deg, #4c60ff 20%, #2b91fe);
  padding: 0.6rem 1rem;
  border-radius: 2px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #4c60ff;
  line-height: 140%;
  transition: all linear 0.2s;
}
.subscription-section .subscription-plan-box .plan-footer a.plan-btn:hover {
  background: linear-gradient(132deg, #4c60ff 20%, #2b91fe);
  color: #ffffff;
}

.password-page-wrapper {
  width: 100%;
}
.password-page-wrapper .card {
  margin-top: 9rem;
}

@media (min-width: 320px) and (max-width: 574px) {
  .login-section {
    padding-top: 6rem;
  }
  .subscription-section .subscription-header h1 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 100%;
  }
  .subscription-section .subscription-header p {
    width: 100%;
    display: none;
  }
  .subscription-section .subscription-plan-box {
    width: 90%;
  }
  .subscription-section .subscription-plan-box .plan-body h5.plan-title {
    font-size: 2rem;
  }
  br {
    display: none;
  }
}