.instructor-chart-page-wrap {
  width: 100%;
}
.instructor-chart-page-wrap .top-date-box {
  text-align: right;
}
.instructor-chart-page-wrap .top-date-box .date-box {
  display: inline-block;
  background-color: #ffffff;
  padding: 0.3rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}
.instructor-chart-page-wrap .stat-card {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  margin-bottom: 1.5rem;
}
.instructor-chart-page-wrap .stat-card .media {
  align-items: center;
}
.instructor-chart-page-wrap .stat-card .media i {
  font-size: 2rem;
  color: #2b91fe;
}
.instructor-chart-page-wrap .stat-card .media h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #8C8FAE;
  line-height: 140%;
}
.instructor-chart-page-wrap .stat-card .media h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #2d3958;
  line-height: 140%;
}
.instructor-chart-page-wrap .box {
  border-radius: 0.5rem;
}
.instructor-chart-page-wrap .dashboard-table {
  margin-top: 1.5rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
}
.instructor-chart-page-wrap .dashboard-table h5 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #2d3958;
  line-height: 140%;
  margin-bottom: 1rem;
}
.instructor-chart-page-wrap .dashboard-table table {
  width: 100%;
}
.instructor-chart-page-wrap .dashboard-table table tr th {
  font-size: 0.9rem;
  font-weight: 600;
  color: #8C8FAE;
  line-height: 140%;
  padding-bottom: 0.5rem;
}
.instructor-chart-page-wrap .dashboard-table table tr td {
  font-size: 0.9rem;
  font-weight: 500;
  color: #2d3958;
  line-height: 140%;
  padding: 0.6rem 0.2rem;
  border-top: 1px dashed #8C8FAE;
  border-bottom: 1px dashed #8C8FAE;
}

@media (min-width: 320px) and (max-width: 574px) {
  .top-date-box {
    margin-top: 1rem;
  }
  .box {
    margin-bottom: 1rem;
  }
  .instructor-chart-page-wrap .dashboard-table {
    padding: 1rem;
  }
  .instructor-chart-page-wrap .dashboard-table table {
    width: 100%;
    display: block;
    overflow-x: scroll;
  }
  .instructor-chart-page-wrap .dashboard-table table tr th,
  .instructor-chart-page-wrap .dashboard-table table tr td {
    white-space: nowrap;
    padding-right: 1rem;
  }
}
@media (min-width: 574px) and (max-width: 767px) {
  .top-date-box {
    margin-top: 1rem;
  }
  .box {
    margin-bottom: 1rem;
  }
  .instructor-chart-page-wrap .dashboard-table {
    padding: 1rem;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .top-date-box {
    margin-top: 1rem;
  }
  .box {
    margin-bottom: 1rem;
  }
  .instructor-chart-page-wrap .dashboard-table {
    padding: 1rem;
  }
}