.productss-list-box .btn-table {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 500;
  color: #ffffff;
  line-height: 140%;
  background: linear-gradient(98.03deg, #FF6262 18.68%, #F37F14 88.52%);
  display: inline-block;
  padding: 0.85rem 1.5rem;
  background: linear-gradient(98.03deg, #FF6262 18.68%, #F37F14 88.52%);
  border-radius: 0.4rem;
  padding: 0.3rem 0.8rem;
}

.table-avatar img {
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 50% !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.table-avatar span {
  width: 3rem;
  height: 3rem;
  background: linear-gradient(98.03deg, #FF6262 18.68%, #F37F14 88.52%);
  border-radius: 50%;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.form-check-input:checked {
  background-color: #FF6262;
  border-color: #FF6262;
}

.custom-select .form-group .dropdown button {
  background: transparent !important;
  border: 1px solid #ccc !important;
}
.custom-select .form-control.dropdown div span,
.custom-select .form-control.dropdown .dropdown-item {
  background: transparent !important;
  color: #000000;
}
.custom-select .bootstrap-select .dropdown-menu li a span.check-mark {
  color: #FF6262;
  margin-right: 0.5rem;
}

.action-dropdown .dropdown .btn-drp {
  background: #ffffff;
  color: #000000;
  border-radius: 0.6rem;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  line-height: 140%;
}
.action-dropdown .dropdown .btn-drp i {
  color: #000000;
  font-size: 1.3rem;
}
.action-dropdown .dropdown-menu {
  padding: 0;
  background-color: transparent;
  border: 0;
}
.action-dropdown .dropdown-menu .bttns-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.action-dropdown .dropdown-menu .bttns-wrap a {
  padding: 0.5rem 0.7rem;
  display: inline-block;
  text-align: center;
  max-width: 40px;
  border-right: 1px solid #b9acac;
  transition: all linear 0.3s;
  background: #FF6262;
  border-radius: 4px;
}
.action-dropdown .dropdown-menu .bttns-wrap a i {
  color: #ffffff !important;
  font-size: 0.9rem;
}
.action-dropdown .dropdown-menu .bttns-wrap a span {
  color: #ffffff;
  font-size: 0.9rem;
}
.action-dropdown .dropdown-menu .bttns-wrap a:hover {
  background: #2C2C2C;
}
.action-dropdown .dropdown-menu .bttns-wrap a:hover i {
  color: #ffffff !important;
}
.action-dropdown .dropdown-menu .bttns-wrap a:last-child {
  border-right: 0px;
}
.action-dropdown .dropdown-menu .bttns-wrap a.txt-item {
  max-width: -moz-fit-content !important;
  max-width: fit-content !important;
}