.header-title h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
  line-height: 140%;
  margin-bottom: 1rem;
}

.card {
  background-color: #ffffff;
  border-radius: 1rem;
  margin-top: 2rem;
}
.card .card-header {
  padding: 1rem 2rem;
  background-color: #DEE3EB;
}
.card .card-header h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #000000;
  line-height: 140%;
}
.card .card-body h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #000000;
  line-height: 140%;
}
.card .card-body p {
  margin-bottom: 0.5rem;
}
.card .btn {
  border-radius: 2rem;
  background: linear-gradient(132deg, #4c60ff 20%, #2b91fe);
  color: #ffffff;
}
.card .btn-donez {
  background: #8C8FAE;
  color: #ffffff;
  cursor: auto;
}
.card .card-footer {
  padding: 1rem 2rem;
  background-color: #DEE3EB;
}