.total-session-box {
  background-color: #ffffff;
  box-shadow: 2px 2px 5px 3px 22px 50px -2px #DEE3EB;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}
.total-session-box h6 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #000000;
  line-height: 140%;
  margin-bottom: 0.6rem;
}
.total-session-box .d-flex {
  justify-content: space-between;
  align-items: center;
}
.total-session-box .d-flex h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #000000;
  line-height: 140%;
}
.total-session-box .d-flex i {
  font-size: 3.2rem;
  color: #d90d77;
}

.alert-custom-txt {
  padding-right: 1rem;
}
.alert-custom-txt .media {
  align-items: center;
}
.alert-custom-txt .media h6 {
  font-size: 1.5rem;
  font-weight: 600;
}
.alert-custom-txt .media p {
  font-size: 1rem;
}
.alert-custom-txt .media .btn-close {
  display: inline-block;
  margin-top: 0.6rem;
}
.alert-custom-txt .media a {
  background: #d90d77;
  color: #ffffff;
  padding: 0.5rem 1rem;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.2rem;
}

@media (min-width: 320px) and (max-width: 574px) {
  .alert-custom-txt .media {
    flex-direction: column;
  }
  .alert-custom-txt .media a {
    display: block;
    width: 80%;
    text-align: center;
    margin-top: 1rem;
    margin-right: auto;
  }
}
@media (min-width: 574px) and (max-width: 767px) {
  .alert-custom-txt .media {
    flex-direction: column;
  }
  .alert-custom-txt .media a {
    display: block;
    width: 80%;
    text-align: center;
    margin-top: 1rem;
    margin-right: auto;
  }
}