.sidebar-wrapper {
  background: #ffffff;
  box-shadow: inset -1px 0px 0px #dfe5f1;
  padding: 1.5rem 0rem;
  position: fixed;
  left: 0;
  top: 83px;
  height: 100vh;
  width: 16.25rem;
  padding-top: 0;
  border-right: 1px solid #EEEEEE;
  z-index: 99;
  background: #FBFBFB;
}
.sidebar-wrapper .header-user-box {
  margin: 1rem 1.5rem;
  margin-top: 1.5rem;
  border-bottom: 1px solid #dfe5f1;
  padding-bottom: 1rem;
}
.sidebar-wrapper .header-user-box .media {
  align-items: center;
}
.sidebar-wrapper .header-user-box .media span.avatar-user {
  width: 2.1rem;
  height: 2.1rem;
  background: linear-gradient(132deg, #4c60ff 20%, #2b91fe);
  border-radius: 50%;
  margin-right: 1rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.sidebar-wrapper .header-user-box .media img {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  margin-right: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.sidebar-wrapper .header-user-box .media .media-body h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  line-height: 140%;
  font-weight: 500;
}
.sidebar-wrapper .header-user-box .media .media-body p {
  font-size: 0.8rem;
  font-weight: 400;
  color: #8C8FAE;
  line-height: 140%;
  text-transform: capitalize;
}
.sidebar-wrapper .sidebar-nav-area {
  position: relative;
  min-height: 76vh;
}
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  font-size: 1rem;
  font-weight: 500;
  color: #717579;
  letter-spacing: -0.02em;
  line-height: 140%;
  padding: 0.9rem 1.6rem;
  height: 3.5rem;
  margin-bottom: 0.6rem;
  border-radius: 0.675rem;
  transition: all linear 0.3s;
}
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link .fa-caret-right {
  font-size: 1rem;
  color: #8C8FAE;
  position: absolute;
  right: 10px;
  z-index: 9;
}
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link .fa-box,
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link .fa-file-invoice-dollar,
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link .fa-users,
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link .fa-euro-sign,
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link .fa-user {
  font-size: 1.3rem;
  color: #8C8FAE;
}
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link .fa-right-lef,
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link .fa-clock-rotate-left {
  font-size: 0.5rem !important;
  color: #8C8FAE;
  margin-right: 0.4rem;
}
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link .fa-user-group {
  font-size: 1.2rem;
  color: #8C8FAE;
}
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link i.fa-superpowers,
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link i.fa-plug {
  color: #8C8FAE;
  font-size: 1.8rem;
}
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  width: 100%;
}
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link span span.sub-menu-box {
  display: block;
  margin-left: 0;
}
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link::before {
  position: absolute;
  content: "";
  left: 0rem;
  top: 0;
  width: 4px;
  height: 0%;
  background: linear-gradient(132deg, #4c60ff 20%, #2b91fe);
  box-shadow: 3px 22px 50px -2px #DEE3EB;
  transition: all linear 0.3s;
}
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link:hover {
  background: linear-gradient(132deg, #4c60ff 20%, #2b91fe);
  color: #ffffff;
}
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link:hover::before {
  height: 100%;
}
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link:hover img {
  filter: invert(0%) sepia(2%) saturate(9%) hue-rotate(351deg) brightness(94%) contrast(102%);
}
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item .submenu-itm a {
  margin-bottom: 0.2rem;
  padding: 0.3rem 0;
  color: #8C8FAE !important;
  font-size: 0.9rem !important;
  margin-left: 1rem;
  font-weight: 400;
}
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item .submenu-itm a img {
  width: 1rem;
}
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item a.active {
  background: linear-gradient(132deg, #4c60ff 20%, #2b91fe);
  color: #ffffff;
}
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item a.active::before {
  height: 100%;
}
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item a.active i {
  color: #ffffff;
}
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item a.active img {
  filter: invert(0%) sepia(2%) saturate(9%) hue-rotate(351deg) brightness(94%) contrast(102%);
}
.sidebar-wrapper .sidebar-nav-area .menubar .menu-item:last-child a {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.sidebar-custom-width {
  width: 6rem;
  transition: all linear 0.2s;
}
.sidebar-custom-width .header-user-box .media {
  justify-content: center;
}
.sidebar-custom-width .header-user-box .media span,
.sidebar-custom-width .header-user-box .media img {
  margin-right: 0;
}
.sidebar-custom-width .header-user-box .media span.avatar-user {
  margin-right: 0;
}
.sidebar-custom-width .header-user-box .media .media-body {
  width: 0;
  height: 0;
  display: none;
}
.sidebar-custom-width .sidebar-nav-area .menubar .menu-item .menu-link {
  justify-content: center;
}
.sidebar-custom-width .sidebar-nav-area .menubar .menu-item .menu-link .fa-angles-right {
  font-size: 0.75rem;
  margin-left: 0.5rem;
}
.sidebar-custom-width .sidebar-nav-area .menubar .menu-item .menu-link span {
  display: none;
  width: 0;
  height: 0;
  margin-left: 0;
}
.sidebar-custom-width .sidebar-nav-area .menubar .menu-item .menu-link::before {
  left: inherit;
  right: 0;
}
.sidebar-custom-width .submenu-itm a {
  margin-left: 0 !important;
}

/* pages inner submenu start */
.pages-submenu-wrap {
  width: 13.438rem;
  min-height: 100vh;
  height: 100%;
  background: #ffffff;
  border-left: 1px solid #dfe5f1;
  border-right: 1px solid #dfe5f1;
  box-shadow: inset -1px 0px 0px #dfe5f1;
  position: absolute;
  left: 16.1rem;
  top: -6.2rem;
  z-index: 3000;
  display: none;
  padding-top: 0.3rem;
}

.sidebar-nav-area .menubar .menu-item:hover .pages-submenu-wrap {
  display: block;
}

.main-page-width main {
  padding-left: 7.5rem;
  transition: all linear 0.2s;
}
.main-page-width .pages-submenu-wrap {
  left: 6rem !important;
  top: -5.6rem !important;
  transition: all linear 0.2s;
}

.pages-submenu-wrap li a {
  font-size: 0.9rem;
  font-weight: 400;
  color: #8C8FAE;
  line-height: 140%;
  transition: all linear 0.2s;
  position: relative;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.pages-submenu-wrap li a.active,
.pages-submenu-wrap li a:hover {
  color: #4c60ff;
}

.pages-submenu-wrap li a i {
  font-size: 1.3rem;
  margin-right: 8px;
}

.pages-submenu-wrap li a img {
  margin-right: 12px;
}

.e-learn-pages-submenu-wrap li a img {
  filter: invert(81%) sepia(10%) saturate(571%) hue-rotate(177deg) brightness(89%) contrast(84%);
}

.pages-submenu-wrap li a:hover img,
.pages-submenu-wrap li a.active img {
  filter: invert(65%) sepia(82%) saturate(5223%) hue-rotate(194deg) brightness(102%) contrast(99%);
}

.lock-icons i.fa-lock {
  font-size: 0.8rem;
}

/* pages inner submenu end */
.e-camp-submenu li a span {
  margin-left: 0.8rem;
}
.e-camp-submenu li a i {
  font-size: 0.85rem;
  color: #8C8FAE;
  margin-left: 1rem;
}
.e-camp-submenu li a img {
  margin-right: 0;
}
.e-camp-submenu li.sub-sidebar-submenu {
  position: relative;
}
.e-camp-submenu li.sub-sidebar-submenu ul {
  position: absolute;
  left: 100%;
  background: #ffffff;
  top: 0;
  width: 100%;
  border: 1px solid #dfe5f1;
  box-shadow: inset -1px 0px 0px #dfe5f1;
  display: none;
}

.e-camp-submenu li.sub-sidebar-submenu:hover ul {
  display: block;
}

.lock-icons {
  justify-content: flex-start !important;
}
.lock-icons i {
  font-size: 0.7rem;
  margin-left: 1rem;
  color: #8C8FAE;
}

@media (min-width: 320px) and (max-width: 574px) {
  .main-body-wrapper .sidebar-wrapper {
    width: 0% !important;
    display: none;
  }
  .main-body-wrapper {
    min-height: 100vh;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
    top: 6rem;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .header-user-box .media {
    justify-content: center;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .header-user-box .media img {
    margin-right: 1rem !important;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .header-user-box .media .media-body {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .sidebar-nav-area .menubar .menu-item .menu-link {
    justify-content: center !important;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .sidebar-nav-area .menubar .menu-item .menu-link span {
    display: flex !important;
    width: 100% !important;
    height: 100% !important;
    margin-left: 0.8rem !important;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .sidebar-nav-area .menubar .menu-item .menu-link::before {
    left: 0 !important;
  }
  .main-page-width .pages-submenu-wrap {
    left: 40% !important;
    top: -5.6rem !important;
    transition: all linear 0.2s;
    width: 60%;
    z-index: 9999;
  }
  .e-camp-submenu li.sub-sidebar-submenu ul {
    left: -65%;
    top: 0;
    z-index: 999;
  }
}
@media (min-width: 574px) and (max-width: 767px) {
  .main-body-wrapper .sidebar-wrapper {
    width: 0% !important;
    display: none;
  }
  .main-body-wrapper {
    min-height: 100vh;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width {
    width: 60% !important;
    height: 100% !important;
    display: block !important;
    top: 7rem;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .header-user-box .media {
    justify-content: center;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .header-user-box .media img {
    margin-right: 1rem !important;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .header-user-box .media .media-body {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .sidebar-nav-area .menubar .menu-item .menu-link {
    justify-content: center !important;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .sidebar-nav-area .menubar .menu-item .menu-link span {
    display: flex !important;
    width: 100% !important;
    height: 100% !important;
    margin-left: 0.8rem !important;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .sidebar-nav-area .menubar .menu-item .menu-link::before {
    left: 0 !important;
  }
  .main-page-width .pages-submenu-wrap {
    left: 40% !important;
    top: 6.4rem !important;
    width: 60%;
  }
  .e-camp-submenu li.sub-sidebar-submenu ul {
    left: -65%;
    top: 0;
    z-index: 999;
    width: 70%;
  }
}
@media (min-width: 767px) and (max-width: 992px) {
  .main-body-wrapper .sidebar-wrapper {
    width: 0% !important;
    display: none;
  }
  .main-body-wrapper {
    min-height: 100vh;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width {
    width: 40% !important;
    height: 100% !important;
    display: block !important;
    top: 7rem;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .header-user-box .media {
    justify-content: center;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .header-user-box .media img {
    margin-right: 1rem !important;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .header-user-box .media .media-body {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .sidebar-nav-area .menubar .menu-item .menu-link {
    justify-content: center !important;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .sidebar-nav-area .menubar .menu-item .menu-link span {
    display: flex !important;
    width: 100% !important;
    height: 100% !important;
    margin-left: 0.8rem !important;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .sidebar-nav-area .menubar .menu-item .menu-link::before {
    left: 0 !important;
  }
  .main-page-width .pages-submenu-wrap {
    left: 74% !important;
    top: -5rem !important;
    width: 77%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-wrapper {
    width: 6rem;
    transition: all linear 0.2s;
  }
  .sidebar-wrapper .header-user-box .media {
    justify-content: center;
  }
  .sidebar-wrapper .header-user-box .media img {
    margin-right: 0;
  }
  .sidebar-wrapper .header-user-box .media .media-body {
    width: 0;
    height: 0;
    display: none;
  }
  .sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link {
    justify-content: center;
  }
  .sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link .fa-angles-right {
    font-size: 0.75rem;
    margin-left: 0.5rem;
  }
  .sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link span {
    display: none;
    width: 0;
    height: 0;
    margin-left: 0;
  }
  .sidebar-wrapper .sidebar-nav-area .menubar .menu-item .menu-link::before {
    left: inherit;
    right: 0;
  }
  .sidebar-wrapper .submenu-itm a {
    margin-left: 0 !important;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width {
    width: 19rem !important;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .header-user-box .media {
    justify-content: center;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .header-user-box .media img {
    margin-right: 1rem !important;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .header-user-box .media .media-body {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .sidebar-nav-area .menubar .menu-item .menu-link {
    justify-content: center !important;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .sidebar-nav-area .menubar .menu-item .menu-link span {
    display: flex !important;
    width: 100% !important;
    height: 100% !important;
    margin-left: 0.8rem !important;
  }
  .main-body-wrapper .sidebar-wrapper.sidebar-custom-width .sidebar-nav-area .menubar .menu-item .menu-link::before {
    left: 0 !important;
  }
  .pages-submenu-wrap {
    left: 6rem !important;
    top: -5.6rem !important;
  }
}