.email-camping-head {
  margin-bottom: 2rem;
}
.email-camping-head h1 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #141736;
  line-height: 140%;
}

.student-head-bttn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.student-head-bttn ul.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.student-head-bttn ul.nav li.nav-item button.nav-link {
  font-size: 1rem;
  font-weight: 500;
  color: #8C8FAE;
  line-height: 140%;
  background: #ffffff;
  display: inline-block;
  padding: 0.85rem 1.5rem;
  border: 1px solid #dfe5f1;
  border-radius: 3rem;
  margin-right: 1rem;
}
.student-head-bttn ul.nav li.nav-item button.nav-link:hover {
  background: #000000;
  color: #ffffff;
}
.student-head-bttn ul.nav li.nav-item button.active {
  background: #000000;
  color: #ffffff;
}

.student-search-wrap {
  display: grid;
  grid-template-columns: 70% 30%;
}

.student-search-box {
  width: 100%;
  position: relative;
}
.student-search-box img {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  cursor: pointer;
}
.student-search-box .form-control {
  width: 100%;
  height: 3.2rem;
  border-radius: 3rem;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  line-height: 140%;
  padding-left: 1.5rem;
  border: none;
}

.student-bttn-box {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.student-bttn-box button:last-child {
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  line-height: 140%;
  background: #ffffff;
  display: inline-block;
  padding: 0.85rem 1.5rem;
  border-radius: 3rem;
  color: #8C8FAE;
  margin-left: 0.5rem;
  text-align: center;
}
.student-bttn-box button:last-child:hover {
  background-color: #000000;
  color: #ffffff;
}
.student-bttn-box button:first-child {
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  line-height: 140%;
  background: #ffffff;
  display: inline-block;
  padding: 0.85rem 1.5rem;
  border-radius: 3rem;
  margin-left: 0.5rem;
  color: #8C8FAE;
  border: 0;
  text-align: center;
}
.student-bttn-box button:first-child:hover {
  background: linear-gradient(98.03deg, #FF6262 18.68%, #F37F14 88.52%);
  color: #ffffff;
}

.enroll__btn {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  line-height: 140%;
  background: linear-gradient(98.03deg, #FF6262 18.68%, #F37F14 88.52%);
  display: inline-block;
  padding: 0.85rem 1.5rem;
  display: block;
  width: 100%;
  margin-top: 1rem;
}
.enroll__btn:hover {
  opacity: 0.7;
  color: #ffffff;
}