@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: none;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
i,
button,
strong,
u,
sub,
sup,
span,
textarea,
table tr td,
select,
input {
  padding: 0;
  margin: 0;
}

select:focus-within,
textarea:focus-within,
input:focus-within,
.form-control:focus-within,
button:focus-within {
  box-shadow: none !important;
}

a,
a:hover {
  color: #000;
  text-decoration: none;
}

ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media-body {
  flex: 1;
}

hr {
  border: none;
  display: block;
  width: 100%;
  height: 1px;
}

h1,
h2 {
  font-size: 3.5rem;
  line-height: normal;
}

h3,
h4 {
  font-size: 2.6rem;
  line-height: normal;
}

h5,
h6 {
  font-size: 2rem;
  line-height: normal;
}

p {
  font-size: 1rem;
  line-height: normal;
}

body {
  background-color: #F9FAFB;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

.header-section{
  padding-top: 1rem;
}

.dark-mode-bttn {
  z-index: 999999;
  max-height: 75px;
  max-width: 42px;
  min-height: 75px;
  min-width: 36px;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #d7def4;
  border-radius: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 6px;
  display: flex;
  position: fixed;
  top: 50%;
  bottom: auto;
  left: auto;
  right: 2%;
}
.dark-mode-bttn label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-color: #fff;
  transition: ease-in-out .3s;
  cursor: pointer;
}

.dark-mode-bttn label i {
  color: #66768E;
}

.dark-mode-bttn label.active {
  background-color: #294CFF;
  transition: ease-in-out .3s;
}

.dark-mode-bttn label.active i {
  color: #fff;
}

.dark-mode-bttn {
  border-color: rgb(215, 222, 244);
  background-color: rgb(255, 255, 255);
}

.dark-mode-bttn label:first-child { 
    background-color: #294CFF !important; 
}

.dark-mode-bttn label:last-child { 
  background-color: transparent !important; 
}

body.dark-mode .dark-mode-bttn label:first-child{
  background-color: transparent !important;
}
body.dark-mode .dark-mode-bttn label:first-child i{
  color: #66768E;
}
body.dark-mode .dark-mode-bttn label:last-child {
  background-color: #7289FF !important;
}
body.dark-mode .dark-mode-bttn label:last-child i{
  color: #fff;
}

.login-header .logo img {
  max-width: 10rem!important; 
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover, 
.form-control:-webkit-autofill:focus, 
.form-control:-webkit-autofill:active{
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: #000!important;
    transition: background-color 5000s ease-in-out 0s!important; 
}