.message-list-page-wrap .messages-box {
  border-radius: 0.5rem;
  border: 1.5px solid var(--neutral-40, #C5CCD8);
  background-color: #fff;
  display: grid;
  grid-template-columns: 31.5% 68.5%;
}
.message-list-page-wrap .messages-box .chat-person-list-box {
  border-right: 1px solid var(--neutral-40, #C5CCD8);
  background: var(--white, #FFF);
  border-radius: 0.5rem 0 0 0.5rem;
}
.message-list-page-wrap .messages-box .chat-person-list-box .title {
  padding: 1.25rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message-list-page-wrap .messages-box .chat-person-list-box .title a {
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color-blue-light, #3D5CFF);
  background: var(--White, #FFF);
  padding: 0.625rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: var(--primary-color-blue-light, #3D5CFF);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  display: inline-flex;
  align-items: center;
  transition: ease-in-out 0.3s;
}
.message-list-page-wrap .messages-box .chat-person-list-box .title a:hover {
  background-color: #3D5CFF;
  color: #fff;
}
.message-list-page-wrap .messages-box .chat-person-list-box .title a:hover img {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(6deg) brightness(107%) contrast(114%);
  transition: ease-in-out 0.3s;
}
.message-list-page-wrap .messages-box .chat-person-list-box .title a img {
  margin-right: 0.4rem;
  transition: ease-in-out 0.3s;
}
.message-list-page-wrap .messages-box .chat-person-list-box h1 {
  color: var(--neutral-90, #101C2D);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
}
.message-list-page-wrap .messages-box .chat-person-list-box h1 span {
  border-radius: 1rem;
  background: #FFF6F5;
  color: var(--primary-red-dark, #B53223);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem;
  padding: 0.2rem 0.5rem;
}
.message-list-page-wrap .messages-box .chat-person-list-box .header-filter {
  display: grid;
  grid-template-columns: 70% 30%;
  border-bottom: 1px solid #F1F4F9;
  padding: 0.75rem 1rem;
  padding-bottom: 1.5rem;
}
.message-list-page-wrap .messages-box .chat-person-list-box .header-filter .chat-filter .dropdown {
  text-align: right;
}
.message-list-page-wrap .messages-box .chat-person-list-box .header-filter .chat-filter .dropdown .dropdown-menu.show {
  display: block;
  padding: 0;
  border: 0;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-200, #E4E7EC);
  background: #FFF;
  box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.1);
  min-width: 6.25rem !important;
}
.message-list-page-wrap .messages-box .chat-person-list-box .header-filter .chat-filter .dropdown .dropdown-menu.show .dropdown-menu li:first-child .dropdown-item {
  border-radius: 0.5rem 0.5rem 0 0 !important;
}
.message-list-page-wrap .messages-box .chat-person-list-box .header-filter .chat-filter .dropdown .dropdown-menu.show .dropdown-menu li:last-child .dropdown-item {
  border-radius: 0 0 0.5rem 0.5rem !important;
}
.message-list-page-wrap .messages-box .chat-person-list-box .header-filter .chat-filter .dropdown .dropdown-menu.show .dropdown-item {
  text-align: center;
  padding: 0.4rem 0.75rem;
  color: var(--gray-700, #344054);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}
.message-list-page-wrap .messages-box .chat-person-list-box .header-filter .chat-filter .dropdown .dropdown-menu.show .dropdown-item:hover {
  background: #F1F4F9 !important;
}
.message-list-page-wrap .messages-box .chat-person-list-box .header-filter .chat-filter .dropdown .dropdown-menu.show .dropdown-item.active {
  background: #F1F4F9 !important;
}
.message-list-page-wrap .messages-box .chat-person-list-box .header-filter .chat-filter .dropdown .btn {
  border-radius: 0.5rem;
  border: 1px solid #E5ECF6;
  background: var(--White, #FFF);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #66768E;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 0.625rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.message-list-page-wrap .messages-box .chat-person-list-box .header-filter .chat-filter .dropdown .btn img {
  margin-right: 0.5rem;
}
.message-list-page-wrap .messages-box .chat-person-list-box .header-filter .chat-filter .dropdown .btn:active, .message-list-page-wrap .messages-box .chat-person-list-box .header-filter .chat-filter .dropdown .btn:focus, .message-list-page-wrap .messages-box .chat-person-list-box .header-filter .chat-filter .dropdown .btn:focus-within {
  border: 1px solid #E5ECF6 !important;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
}
.message-list-page-wrap .messages-box .chat-person-list-box .search {
  position: relative;
  margin-right: 1rem;
}
.message-list-page-wrap .messages-box .chat-person-list-box .search input {
  border-radius: 0.5rem;
  border: 1px solid var(--neutral-30, #E5ECF6);
  background: var(--White, #FFF);
  padding: 0.625rem 0.875rem;
  color: var(--neutral-60, #66768E);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  padding-left: 2.5rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.message-list-page-wrap .messages-box .chat-person-list-box .search img {
  position: absolute;
  left: 12px;
  top: 13.5px;
  width: 1.2rem;
}
.message-list-page-wrap .messages-box .chat-person-list-box .person-tab-body .single-person {
  display: block;
  margin: 0.75rem 0;
  border-bottom: 1px solid #F1F4F9;
  padding-bottom: 0.75rem;
}
.message-list-page-wrap .messages-box .chat-person-list-box .person-tab-body .media {
  align-items: center;
  padding: 1rem 2rem;
  padding-right: 1rem;
  transition: ease-in-out 0.3s;
}
.message-list-page-wrap .messages-box .chat-person-list-box .person-tab-body .media:hover {
  background: #EDEFFC;
}
.message-list-page-wrap .messages-box .chat-person-list-box .person-tab-body .media .avatar {
  position: relative;
  margin-right: 1rem;
}
.message-list-page-wrap .messages-box .chat-person-list-box .person-tab-body .media .avatar img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.message-list-page-wrap .messages-box .chat-person-list-box .person-tab-body .media .avatar i {
  position: absolute;
  right: 0px;
  bottom: -1px;
  font-size: 9px;
  color: #43B324;
  border: 2px solid #fff;
  border-radius: 50%;
}
.message-list-page-wrap .messages-box .chat-person-list-box .person-tab-body .media .name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message-list-page-wrap .messages-box .chat-person-list-box .person-tab-body .media a.name {
  color: var(--neutral-70, #2F3A4C);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
}
.message-list-page-wrap .messages-box .chat-person-list-box .person-tab-body .media p {
  overflow: hidden;
  color: var(--neutral-60, #66768E);
  text-overflow: ellipsis;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
}
.message-list-page-wrap .messages-box .chat-person-list-box .person-tab-body .media p span {
  color: var(--neutral-60, #66768E);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  margin-left: 1rem;
}
.message-list-page-wrap .messages-box .chat-person-list-box .person-tab-body .media .dropdown .btn {
  border-radius: 1.5rem;
  background: var(--gray-50, #F9FAFB);
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #475467;
}
.message-list-page-wrap .messages-box .chat-person-list-box .person-tab-body .media .dropdown .dropdown-menu.show {
  border-radius: 0.375rem;
  background: var(--background-light-paper, #FFF);
  box-shadow: -20px 20px 40px -4px rgba(145, 158, 171, 0.15), 0px 0px 2px 0px rgba(145, 158, 171, 0.15);
  padding: 0.625rem 0.5rem;
  min-width: 16rem !important;
}
.message-list-page-wrap .messages-box .chat-person-list-box .person-tab-body .media .dropdown .dropdown-menu.show .dropdown-item {
  overflow: hidden;
  color: var(--gray-700, #344054);
  text-overflow: ellipsis;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  font-family: Inter;
  padding: 0.625rem 0.5rem;
  border-radius: 0.375rem;
  background: var(--gray-white, #FFF);
  display: flex;
  align-items: center;
  transition: ease-in-out 0.3s;
}
.message-list-page-wrap .messages-box .chat-person-list-box .person-tab-body .media .dropdown .dropdown-menu.show .dropdown-item:hover {
  background: #F1F4F9;
}
.message-list-page-wrap .messages-box .chat-person-list-box .person-tab-body .media .dropdown .dropdown-menu.show .dropdown-item img {
  margin-right: 0.6rem;
}
.message-list-page-wrap .messages-box .chat-person-list-box .person-tab-body .media .dropdown .dropdown-menu.show .active.dropdown-item {
  background: #F1F4F9;
}
.message-list-page-wrap .messages-box .chat-main-body-box .chat-room-head {
  background: var(--neutral-white, #FFF);
  box-shadow: 0px 6px 34px 0px rgba(0, 0, 0, 0.08);
  padding: 1.25rem 1.5rem 1.1875rem 1.5rem;
}
.message-list-page-wrap .messages-box .chat-main-body-box .chat-room-head .media {
  align-items: center;
}
.message-list-page-wrap .messages-box .chat-main-body-box .chat-room-head .media .view-bttn {
  padding: 0.6875rem 1rem;
  border-radius: 0.375rem;
  padding: 0.6875rem 1rem;
  background: var(--primary-color-blue, #294CFF);
  color: var(--neutral-white, #FFF);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  display: inline-block;
  height: 2.5rem;
  transition: ease-in-out 0.3s;
}
.message-list-page-wrap .messages-box .chat-main-body-box .chat-room-head .media .view-bttn:hover {
  background-color: #2F3A4C;
}
.message-list-page-wrap .messages-box .chat-main-body-box .chat-room-head .media img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 12.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1rem;
}
.message-list-page-wrap .messages-box .chat-main-body-box .chat-room-head .media .name {
  color: var(--neutral-90, #101C2D);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  display: flex;
  align-items: center;
}
.message-list-page-wrap .messages-box .chat-main-body-box .chat-room-head .media .name span {
  border-radius: 1rem;
  background: var(--success-green-lightest, #E8F6E5);
  display: inline-flex;
  padding: 0.125rem 0.5rem 0.125rem 0.375rem;
  justify-content: center;
  align-items: center;
  color: var(--success-green-dark, #2A920B);
  text-align: center;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem;
  margin-left: 1rem;
}
.message-list-page-wrap .messages-box .chat-main-body-box .chat-room-head .media .name span i {
  font-size: 8px;
  margin-right: 0.5rem;
}
.message-list-page-wrap .messages-box .chat-main-body-box .chat-room-head .media p {
  color: var(--neutral-60, #66768E);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room {
  display: flex;
  padding: 2.5rem 2rem 2rem 2rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 2rem;
  flex: 1 0 0;
  align-self: stretch;
  min-height: 63rem;
  padding-bottom: 0;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .message-item {
  max-width: 90%;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .message-item .media.main-media {
  align-items: flex-start;
  display: inline-flex;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .message-item .media.main-media .avatar {
  position: relative;
  margin-right: 0.75rem;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .message-item .media.main-media .avatar img {
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .message-item .media.main-media .avatar i {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 8px;
  color: #43B324;
  border: 2px solid #fff;
  border-radius: 50%;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .message-item .media.main-media .d-flex {
  align-items: center;
  justify-content: space-between;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .message-item .media.main-media .d-flex h6 {
  color: var(--neutral-70, #2F3A4C);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .message-item .media.main-media .d-flex span {
  display: inline-block;
  color: var(--neutral-60, #66768E);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .message-item .text {
  border-radius: 0rem 0.5rem 0.5rem 0.5rem;
  background: var(--neutral-10, #F9FAFB);
  padding: 0.625rem 0.875rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
  margin-top: 0.4rem;
  display: block;
  width: 100%;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .message-item .text p {
  color: var(--neutral-90, #101C2D);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .message-item .typing {
  padding: 0.3rem 0.625rem;
  margin-top: 0.5rem;
  border-radius: 0rem 0.5rem 0.5rem 0.5rem;
  background: var(--neutral-10, #F9FAFB);
  display: inline-block;
  width: auto;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .message-item .typing i {
  font-size: 1.5rem;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .message-item .file {
  padding: 0.625rem 0.875rem;
  border-radius: 0rem 0.5rem 0.5rem 0.5rem;
  border: 1px solid var(--neutral-20, #F1F4F9);
  background: var(--neutral-white, #FFF);
  display: block;
  width: 100%;
  margin-top: 0.4rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .message-item .file .media {
  align-items: center;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .message-item .file .media img {
  margin-right: 1rem;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .message-item .file .media h5 {
  color: var(--neutral-70, #2F3A4C);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .message-item .file .media p {
  color: var(--neutral-60, #66768E);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .message-item .react-box {
  text-align: right;
  margin-top: 0.5rem;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .message-item .react-box ul li {
  display: inline-block;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .message-item .react-box ul li span {
  font-size: 1.4rem;
  display: inline-block;
  padding: 0rem 0.5rem;
  border-radius: 1rem;
  background-color: #F9FAFB;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .sender-item {
  margin-left: auto;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .sender-item .file {
  border-radius: 0.5rem 0rem 0.5rem 0.5rem;
  background: var(--primary-color-blue-light, #3D5CFF);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .sender-item .file .media h5 a {
  color: #fff !important;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .sender-item .file .media span {
  color: #fff !important;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .sender-item .media.main-media .text {
  border-radius: 0.5rem 0rem 0.5rem 0.5rem;
  background: var(--primary-color-blue-light, #3D5CFF);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .sender-item .media.main-media .text p {
  color: #fff !important;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .date-status {
  text-align: center;
  width: 100%;
  position: relative;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .date-status hr {
  display: block;
  width: 100%;
  border: 0;
  background-color: #cacccf;
  height: 0.0625rem;
}
.message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .date-status span {
  color: var(--neutral-60, #66768E);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 6px;
  background-color: #fff;
}
.message-list-page-wrap .messages-box .chat-main-body-box .message-send-box {
  padding: 1.5rem 2rem;
  padding-top: 2rem;
  position: relative;
}
.message-list-page-wrap .messages-box .chat-main-body-box .message-send-box input {
  border-radius: 0.5rem;
  border: 1px solid var(--neutral-30, #E5ECF6);
  background: var(--neutral-white, #FFF);
  padding: 0.625rem 0.875rem;
  height: 3.5rem;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: var(--neutral-60, #66768E);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
.message-list-page-wrap .messages-box .chat-main-body-box .message-send-box .file-attach-bttns {
  position: absolute;
  right: 45px;
  top: 40px;
  z-index: 9999;
  display: inline-flex;
  align-items: center;
}
.message-list-page-wrap .messages-box .chat-main-body-box .message-send-box .file-attach-bttns .btn {
  margin-left: 0.5rem;
}
.message-list-page-wrap .messages-box .chat-main-body-box .message-send-box .file-attach-bttns .btn-emoji {
  width: 2rem;
  padding: 0;
}
.message-list-page-wrap .messages-box .chat-main-body-box .message-send-box .file-attach-bttns .btn-submit {
  border-radius: 0.375rem;
  background: var(--primary-color-blue, #294CFF);
  color: var(--neutral-white, #FFF);
  height: 2.5rem;
  padding: 0.6875rem 1rem;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  transition: ease-in-out 0.3s;
}
.message-list-page-wrap .messages-box .chat-main-body-box .message-send-box .file-attach-bttns .btn-submit:hover {
  background-color: #344054;
}

@media (min-width: 320px) and (max-width: 574px) {
  .message-list-page-wrap .messages-box {
    grid-template-columns: 100%;
  }
  .message-list-page-wrap .messages-box .chat-person-list-box .title {
    padding: 0.8rem;
  }
  .chat-room-head {
    display: none !important;
  }
  .message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room {
    padding: 0.8rem;
  }
  .message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .chat-messages-box .message-item {
    margin-bottom: 0.2rem;
    padding: 0.6rem;
    font-size: 12px;
  }
}
@media (min-width: 574px) and (max-width: 767px) {
  .message-list-page-wrap .messages-box {
    grid-template-columns: 100%;
  }
  .message-list-page-wrap .messages-box .chat-person-list-box .title {
    padding: 0.8rem;
  }
  .chat-room-head {
    display: none !important;
  }
  .message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room {
    padding: 0.8rem;
  }
  .message-list-page-wrap .messages-box .chat-main-body-box .main-chat-room .chat-messages-box .message-item {
    margin-bottom: 0.2rem;
    padding: 0.6rem;
    font-size: 12px;
  }
}