@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
    padding: 0;
    margin: 0;
    outline: none;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
i,
button,
strong,
u,
sub,
sup,
span,
textarea,
table tr td,
select,
input {
    padding: 0;
    margin: 0;
}

select:focus-within,
textarea:focus-within,
input:focus-within,
.form-control:focus-within,
button:focus-within {
    box-shadow: none !important;
}

a,
a:hover {
    color: #000;
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.media {
    display: flex;
    align-items: flex-start;
}

.media-body {
    flex: 1;
}

hr {
    border: none;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000000;
}

h1,
h2 {
    font-size: 3.5rem;
    line-height: 130%;
}

h3,
h4 {
    font-size: 2.6rem;
    line-height: 120%;
}

h5,
h6 {
    font-size: 2rem;
    line-height: 120%;
}

p {
    font-size: 1rem;
    line-height: 120%;
}

body {
    background-color: #F9FAFB;
    font-family: "Inter", sans-serif;
}

.main-page-wrapper {
    width: 100%;
}

.ligth-ele {
    display: block !important;
}

.dark-ele {
    display: none !important;
}

.mishty-clr {
    color: #ff6189 !important;
}

.common-bttn {
    border-radius: 0.375rem;
    background: var(--primary-color-blue, #294CFF);
    display: inline-block;
    padding: 0.75rem 1.5rem;
    color: #FFF;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all linear 0.3s;
}

.common-bttn i {
    margin-right: 0.5rem;
}

.common-bttn:hover {
    background-color: #121212;
    color: #fff;
}

.paggination-wrap .pagination .page-item .page-link {
    padding: 0.5rem 1rem;
    color: var(--text-light-primary, #212B36);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0 0.2rem;
    background-color: transparent;
    border: 0;
    border-radius: 3.125rem;
    transition: all linear 0.3s;
}

.paggination-wrap .pagination .page-item .page-link:hover {
    background: var(--action-light-selected, rgba(145, 158, 171, 0.16));
}

.paggination-wrap .pagination .page-item.active .page-link {
    background: var(--action-light-selected, rgba(145, 158, 171, 0.16)) !important;
}

.form-submit-bttns {
    text-align: right;
}

.form-submit-bttns .btn-cancel {
    border-radius: 0.5rem;
    border: 1px solid var(--neutral-color-neutral-40, #C5CCD8);
    background: var(--neutral-color-white, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--neutral-color-neutral-70, #2F3A4C);
    padding: 0.6rem 1rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    height: 3rem;
    transition: all linear 0.3s;
}

.form-submit-bttns .btn-cancel:hover {
    background-color: #C5CCD8;
}

.form-submit-bttns .btn-submit {
    border-radius: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color-blue, #294CFF);
    background: var(--primary-color-blue, #294CFF);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #fff;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    height: 3rem;
    transition: all linear 0.3s;
    margin-left: 1rem;
}

.form-submit-bttns .btn-submit:hover {
    background-color: #252525;
}

.invalid-feedback {
    display: block !important;
}

.mce-notification-inner {
    display: none !important;
}

.tox-notifications-container,
.tox-promotion,
.tox-statusbar {
    display: none !important;
}

.mce-widget.mce-notification.mce-notification-warning.mce-has-close.mce-in {
    z-index: -9999 !important;
    display: none !important;
}

.filter-dropdown-box {
    position: relative;
}

.filter-dropdown-box .dropdown .btn {
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid rgba(145, 158, 171, 0.32);
    background: #FFF;
    height: 3rem;
    text-align: left;
    padding-left: 0.88rem;
    padding-right: 0.88rem;
    overflow: hidden;
    color: #212B36;
    text-overflow: ellipsis;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.00413rem;
}

.filter-dropdown-box .dropdown .btn:focus {
    border: 1px solid rgba(145, 158, 171, 0.32) !important;
}

.filter-dropdown-box .dropdown .dropdown-menu {
    border-radius: 0.375rem;
    background: var(--background-light-paper, #FFF);
    box-shadow: -20px 20px 40px -4px rgba(145, 158, 171, 0.24), 0px 0px 2px 0px rgba(145, 158, 171, 0.24);
    width: 100%;
    margin-top: -5px;
    transform: translate3d(0px, 49px, 0px) !important;
    padding: 0.5rem !important;
}

.filter-dropdown-box .dropdown .dropdown-menu li .dropdown-item {
    overflow: hidden;
    color: var(--neutral-color-neutral-90, #101C2D);
    text-overflow: ellipsis;
    whitespace: nowrap;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
    padding: 0.25rem 0.35rem !important;
    margin-top: 0.25rem;
    border-radius: 0.375rem;
}

.filter-dropdown-box .dropdown .dropdown-menu li .dropdown-item:hover {
    background: var(--neutral-color-neutral-20, #F1F4F9);
}

.filter-dropdown-box .dropdown .dropdown-menu li:first-child .dropdown-item {
    margin-top: 0 !important;
}

.filter-dropdown-box i {
    color: #637381 !important;
    position: absolute;
    right: 15px;
    top: 15px;
}

.no-data-found {
    background-color: #fff;
    padding: 2rem;
    text-align: center;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.no-data-found i {
    color: #294CFF;
    font-size: 2rem;
}

.no-data-found p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
    color: #637381;
    margin-top: 0.5rem;
}

span.user-name-avatar {
    border-radius: 6.25rem;
    border: 2px solid var(--neutral-10, #FFF);
    width: 2.5rem;
    height: 2.5rem;
    -o-object-fit: cover;
    object-fit: cover;
    font-size: 1rem;
    background-color: #E0E0E0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #294CFF;
}

.fl-main-container .fl-container.fl-flasher.fl-success:not(.fl-rtl) {
    border-color: #294CFF !important;
}

.fl-main-container .fl-container.fl-flasher.fl-success .fl-title {
    color: #294CFF !important;
}

.fl-main-container .fl-container.fl-success .fl-icon {
    background-color: #294CFF !important;
}

.fl-main-container .fl-container.fl-success .fl-progress-bar {
    background-color: rgba(41, 77, 255, 0.553) !important;
}

.fl-main-container .fl-container.fl-success .fl-progress-bar .fl-progress {
    background-color: #294CFF !important;
}

input:visited {
    background-color: #000 !important;
}

@media (min-width: 320px) and (max-width: 574px) {
    .filter-dropdown-box {
        margin-bottom: 1rem;
    }
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: #000 !important;
    transition: background-color 5000s ease-in-out 0s !important;
}

.student-courses-lists-pages .course-progress-bar .progress .progress-bar.course-gren-bg {
    background-color: #32BCA3;
}

.student-courses-lists-pages .course-progress-bar .d-flex h6.course-gren-colr {
    color: #32BCA3;
}

.course-single-item .course-txt-box ul li i.not-rev {
    color: rgba(166, 177, 196, 0.48) !important;
}

.error-page-txt {
    text-align: center;
}

.error-page-txt h1 {
    color: var(--Gray-900, #101828);
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.5rem;
    letter-spacing: -0.075rem;
    margin: 1rem 0;
}

.error-page-txt p {
    color: var(--colors-text-text-tertiary-600, #475467);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.error-page-txt a {
    border-radius: var(--radius-md, 0.5rem);
    background: #3D5CFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--Component-colors-Components-Buttons-Primary-button-primary-fg, #FFF);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-xl, 1rem) 1.375rem;
}

.error-page-txt a i {
    margin-left: 0.5rem;
}


.save-finish {
    right: 129px;
    bottom: 8px;
    position: absolute;
}

.save-finish .btn {
    font-size: 14px;
}

@media (min-width: 320px) and (max-width: 1024px) {
    .save-finish {
        right: 129px;
        bottom: 8px;
        text-align: center;
        margin-top: 12px;
        position: inherit;
    }
}
